[2018-04-18 20:44] julien51 opened #24 "border around logo?"
@chrisvanpatten It would be really cool if one of the settings of the asset building script was the ability to add margins... possible?

[2018-04-25 22:12] julien51 opened #38 "Tests coverage"
We need a way to run full test coverage across all code and include coverage on the main README page.

[2018-04-25 22:12] julien51 opened #39 "Stricter Lint rules"
The current lint rules are fairly limited. We need a set of much stricter rules.

[2018-05-09 22:29] julien51 opened #60 "default account"
There should always be a default account which the user can switch away from to another one.
It should be set when the network connects (if none is previously set)

[2018-06-07 23:41] #60 closed, assigned to nobody

[2018-06-20 02:03] julien51 opened #121 "Smart Contracts Improvements"
The current smart contracts are extremely basic and present a large number of challenges.

1. Unlock smart contract needs to be upgradeable, without losing the "link" from the Locks
2. Most of the Lock "code" should actually be shared between all deployed locks so we can save on gas
3. Locks themselves do not need to be upgradeable but we should assume that newer versions of the Lock smart contrac

[2018-07-10 15:23] julien51 opened #137 "Adding guidelines for contributing, opening issues"
We need to work on making it easy to onboard contributors of all kinds (code, issues, docs... etc).
For this we need clear guidelines and I believe Github provides tools to do that.
We should also set up [Gitcoin](https://gitcoin.co/bounty/quickstart).

[2018-07-10 15:26] julien51 opened #138 "Allowing Lock owners to update the price of keys"
The `keyPrice` for each Lock is set upon creation of the `Lock` smart contract.
We expect most creators to actually "price" the keys to their lock based on a fiat value ($ or else). As such we should allow creators to update the price of the keys (`keyPrice`) on the locks easily at any point. This will require additions to the Lock smart contract but also changes in the web app.

[2018-07-13 19:19] julien51 opened #146 "Multiple Lock types/smart contracts"
At this point we have only a single `Lock` smart contract which covers multiple use cases (Public, Private, Restricted...).

A better approach would be to have a single `Lock` interface which implements the "core" behavior of the Unlock protocol and then have multple contracts `PublicLock`, `PrivateLock`, `RestrictedLock` which would have different characteristics.
This would allow for lower deplo

[2018-07-13 19:21] julien51 opened #147 "Upgradability for the Unlock Smart Contract"
Some characteristics of the smart contract (variables such as max available discount %... etc) will need to be modifiable by the smart contract owner.

However, we may also need to upgrade the logic in the smart contract. In that context, it may be useful to have a way to upgrade it.

In that context, we should explore the [proxy patterns](https://blog.zeppelinos.org/proxy-patterns/) exposed by Ze

[2018-07-13 19:24] #121 closed, assigned to nobody

[2018-07-13 19:27] julien51 opened #148 "ERC721 compatibility"
The current implementation of the `Lock` smart contract is not fully compatible with the ERC721 spec.
The main reason for this is that we use the owner's address as the `tokenId` which means that when ownership is changed, the `tokenId` itself is changed, which is not how the spec works.

One approach would be to actually have unique `tokenId` for each key, but that would incure more gas fees. Is

[2018-07-20 14:40] julien51 opened #155 "Content should remained locked when the user does not have metamask"
When a user without metamask (or a web3 provider) we currently trigger an error which means that the content which should be locked remains unlocked.
<img width="634" alt="screen shot 2018-07-20 at 10 40 37" src="https://user-images.githubusercontent.com/17735/43008539-5e10150c-8c09-11e8-9739-4ad48ca866e9.png">

[2018-07-20 16:17] #155 closed, assigned to nobody

[2018-07-23 13:03] julien51 opened #161 "Show name of network on interface..."
When a user visits an unlock-protocol.com page they should instantly see which Ethereum network is being used (Main net, Rinkeby, Ropsten...)

Ideally this would take the form of a small persistent label at the bottom or top of the screen.

[2018-07-25 23:41] julien51 commented on #137
We also need a COC.

[2018-07-26 17:05] abuiles commented on #137
@julien51 for the COC, have  a look https://www.contributor-covenant.org

[2018-08-12 08:53] julien51 opened #172 "Upgradable Unlock Smart Contract"
The Unlock smart contract needs to be upgradable, without changing its address and its data (balances of Unlock points or deployed Locks).

The [Unlock.sol smart contract](https://github.com/unlock-protocol/unlock/blob/master/smart-contracts/contracts/Unlock.sol) has 3 main purposes:
 * Deploy locks and keep track of them
 * Keep track of the the Discount Token supply: grant them upon referrals.

[2018-08-12 09:04] julien51 commented on #172
More: https://blog.zeppelinos.org/getting-started-with-zeppelinos/

[2018-08-14 08:12] ydennisy opened #173 "Documentation and use cases."
Great project, just wondering if you have some early docs you can share and maybe a document showing some possible alternative use cases apart from a publishing paywall.

Thanks!

[2018-08-14 10:54] julien51 commented on #173
At this point, there is no doc, but this is obviously something we need to produce.

It's important to consider Unlock as an access control protocol more than a publishing paywall solution. For example, you could look at software licenses as another use case. You could also even consider tools where you want to only allow certain paying members to perform actions... etc.

[2018-08-15 14:51] ydennisy commented on #173
Hey Julien, thanks for the reply.

So it is fair to say that the goal is to create a permissioned layer on a permisionless system (ethereum)?

[2018-08-16 20:46] julien51 commented on #173
Yes I believe Unlock can be used to allow someone to access a user's personal data as long as this data is "protected" by a lock.

[2018-08-18 08:53] ydennisy commented on #173
When would some docs be ready, or some code to try this?

[2018-08-20 17:33] julien51 opened #177 "Requiring a web3 provider, not Metamask"
Right now we require users to use Metamask... which is too conservative.
We should only require them to use a web3 provider.

See how [Opera does it](https://www.opera.com/crypto/faq).

[2018-08-20 17:34] julien51 opened #178 "Enforce rinkeby on staging.unlock-protocol.com"
In order to avoid mistakes we should enforce networks on different versions of Unlock.
In dev, enforce the use of a local testnet, on staging, enforce Rinkeby... and on the main site, enforce the use of the main net.

[2018-08-20 17:38] benwerd opened #179 "Unlock dashboard doesn't release local storage cache"
**Describe the bug**
The web dashboard doesn't update based on completed transactions. The values for balance, outstanding tokens, and amount to withdraw stay static unless action is taken to force the dashboard to release the cache.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the dashboard.
2. Perform a balance-changing action such as purchasing a key - or simply change your netwo

[2018-08-21 15:50] julien51 commented on #177
This was implemented!

[2018-08-21 15:50] #177 closed

[2018-08-22 16:26] benwerd commented on #161
This has now been completed.

[2018-08-22 16:26] #161 closed

[2018-08-22 16:30] julien51 commented on #161
🚀

On Wed, Aug 22, 2018 at 12:26 PM Ben Werdmuller <notifications@github.com>
wrote:

[2018-08-22 17:41] julien51 commented on #172
Great! Please let me/us know if there is anything we can help with or clarify!

[2018-08-23 00:39] hardlydifficult commented on #172
All tests are now passing.  Let me know if there are questions or concerns.

[2018-08-23 19:31] julien51 opened #194 "CI not failing when truffle tests fail"
As identified by @hardlydifficult, our CI does not fail when truffle tests are failing. This is not right.

[2018-08-23 19:33] julien51 opened #195 "A better CI setup"
We are using Travis-CI to run our tests on Pull Requests.
The current setup involves using docker-compose to build an setup in which we can do tests. This setup has 2 services:
1. ganache-cli which runs an instance of [ganache](https://github.com/trufflesuite/ganache-cli)
2. a container with all the Unlock code with a single command to run all the tests from `tests.sh`.

When adding new test suite

[2018-08-23 20:51] benwerd commented on #195
I think we'll gain a lot of time by caching Docker images. There's a good-looking tutorial here: http://www.rundef.com/fast-travis-ci-docker-build

We could also do more to run tests in parallel: https://docs.travis-ci.com/user/speeding-up-the-build/#parallelizing-your-builds-across-virtual-machines

[2018-08-23 21:00] #194 closed

[2018-08-24 19:16] #172 closed

[2018-08-25 18:00] hardlydifficult commented on #195
To save on test run time, you could consider removing `smart-contracts\test\Unlock\Unlock.js`.  That file demonstrates direct access to the `Unlock` contract vs going through a proxy.  If you are moving forward with the proxy solution - there should be no benefit in maintaining both tests.  `smart-contracts\test\Unlock\UnlockProxy.js` includes all the same tests running through a proxy.

[2018-08-29 21:00] benwerd opened #208 "Documentation site"
As an open source project, we should have a well-described documentation site, as well as in-line code documentation.

I recommend using [Read the Docs](https://readthedocs.org/) to establish a documentation site at docs.unlock-protocol.com, which would be configured to automatically rebuild from markdown files stored in the Unlock repository itself. New commits to master would automatically rebui

[2018-08-31 17:41] todo[bot] opened #214 "this test is flaky"
https://github.com/unlock-protocol/unlock/blob/434231904e4fba255dec88c967542963be54edf1/smart-contracts/test/Lock/purchaseFor.js#L222-L227

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 434231904e4fba255dec88c967542963be54edf1 when #212 was merged. cc @unlock-protocol.

[2018-08-31 17:56] smombartz opened #215 "Ether Symbol & Monaco Font"
@benwerd I looked into why the design specified the Manaco font (which it shouldn't). The Eth symbol isnt available in Plex (the font we're using) and hence it reverted to Monaco. I've created an SVG which you call pull from Zeplin or from [here](https://www.dropbox.com/s/eytrq6maoq5csp1/eth.svg?dl=0)

[2018-08-31 20:06] benwerd commented on #215
Thanks @smombartz! I'm having a go at integrating this now.

[2018-08-31 20:37] todo[bot] opened #218 "implement me\n totalDiscountGranted += _discount;\n return;\n }\n\n}\n","
https://github.com/unlock-protocol/unlock/blob/b31941ac3a2a778f2c755951c838e0048ab181a2/smart-contracts/build/contracts/Unlock.json#L84-L89

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b31941ac3a2a778f2c755951c838e0048ab181a2 when #216 was merged. cc @unlock-protocol.

[2018-08-31 20:37] todo[bot] opened #219 "Customize position of circles"
In order to get more unique lock icons we should also position (x, y and z) the inner circles

---

https://github.com/unlock-protocol/unlock/blob/b31941ac3a2a778f2c755951c838e0048ab181a2/unlock-app/src/components/lock/Icon.js#L9-L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `@todo` comment in b31941ac3a2a778f2c755951c838e0048ab181a2 when #216 was merged.

[2018-08-31 21:31] benwerd commented on #215
Implemented in #217.

[2018-08-31 21:31] #215 closed

[2018-09-07 22:26] benwerd opened #231 "Rename Provider"
The `Provider` component has a name that could easily be confused with Redux's own `<Provider>` tag, which is a bit confusing now but could lead to larger issues down the road. Already it's forcing us to use `import { Provider as ReduxProvider }` or a similar alias in cases where both could be used.

I suggest giving it a more descriptive name - eg `Web3Provider`.

[2018-09-10 23:01] todo[bot] opened #238 "remove after we have implemented a CSS template using styled-component"
https://github.com/unlock-protocol/unlock/blob/ed9034241dc87514255d6f5c88ca498dda2e95d5/unlock-app/.storybook/head.html#L4-L9

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ed9034241dc87514255d6f5c88ca498dda2e95d5 when #236 was merged. cc @unlock-protocol.

[2018-09-13 21:50] todo[bot] opened #245 "add USD values to lock"
https://github.com/unlock-protocol/unlock/blob/4eb93e28cdde85ad3c9e88523572bd3008e0b769/unlock-app/src/components/creator/CreatorLock.js#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4eb93e28cdde85ad3c9e88523572bd3008e0b769 when #244 was merged. cc @unlock-protocol.

[2018-09-19 00:15] todo[bot] opened #252 "We need to make this is payable because at some point we want to allow the LOCK ..."
https://github.com/unlock-protocol/unlock/blob/8a2896205686f25fda164cb85e04918c11126e28/smart-contracts/contracts/Lock.sol#L28-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8a2896205686f25fda164cb85e04918c11126e28 when #243 was merged. cc @unlock-protocol.

[2018-09-21 16:45] #231 closed

[2018-09-25 01:56] julien51 commented on #178
Ho! this has been implemented ;)

[2018-09-25 01:56] #178 closed

[2018-09-27 19:50] todo[bot] opened #285 "change account to base level"
https://github.com/unlock-protocol/unlock/blob/d65d363ce73e9f52ec5a928c4c455dc75edd6751/unlock-app/src/components/creator/Dashboard.js#L25-L30

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d65d363ce73e9f52ec5a928c4c455dc75edd6751 when #281 was merged. cc @unlock-protocol.

[2018-09-27 21:17] #238 closed

[2018-09-28 19:09] todo[bot] opened #287 "If there is more than the required price, then let's return whatever is extra\n ..."
https://github.com/unlock-protocol/unlock/blob/c41992a9b497a725e8b7ee31954961ecf7ab3814/smart-contracts/build/contracts/Lock.json#L217-L222

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c41992a9b497a725e8b7ee31954961ecf7ab3814 when #286 was merged. cc @unlock-protocol.

[2018-09-29 14:22] julien51 opened #291 "Broken story for Home page"
<img width="762" alt="screen shot 2018-09-29 at 10 21 20" src="https://user-images.githubusercontent.com/17735/46246834-7860ef80-c3d1-11e8-9915-0ddd577d0195.png">

We probably need to see how to include react-router in storybook.

[2018-10-01 22:04] julien51 commented on #291
This was fixed by 72a2579ab8d982ea642979f0c48ea50c546d7c4c.

[2018-10-01 22:04] #291 closed

[2018-10-02 00:50] julien51 commented on #287
Yeah, this is triggering the not when it should not :/

[2018-10-02 00:52] julien51 commented on #285
So, it turns out that we (I really) did not use redux the way we (I!) should!
It's probably not a great idea to nest objects in redux and we need to change that.
Right now, the `account` stuff is all nested under `network`, which should change.

[2018-10-02 00:52] #252 closed

[2018-10-02 00:59] julien51 commented on #245
Right now the UI shows only the Ether price of keys. Yet, we believe it is important to be able to show the USD value (informational purposes) for the keys as well, as shown on the screenshot below.

<img width="909" alt="screen shot 2018-10-01 at 20 53 37" src="https://user-images.githubusercontent.com/17735/46323410-262ff200-c5bc-11e8-88fa-f312fbb6ac3b.png">

There are multiple levels of depth t

[2018-10-02 01:12] julien51 commented on #219
Each deployed lock has a unique logo which is built using 3 circles of different (matching!) colors, positioned differently, in a different order.
Please see the diagram below:

![lock avatar diagram](https://user-images.githubusercontent.com/17735/46323865-5c6e7100-c5be-11e8-937f-b4d993c39f98.png)

The current implementation only changes the colors based on the lock address. We need to add permut

[2018-10-02 01:19] #147 closed

[2018-10-02 01:19] #24 closed

[2018-10-02 02:08] millnitzluan commented on #245
Hey, I was trying to create a lock to help me in the issue, but I'm not able to create one, can you help me?

[2018-10-02 17:39] julien51 commented on #245
@millnitzluan Thanks! could you tell me more about the issue you're facing? Also, please only submit to fix this if you are applying for a job at Unlock!

[2018-10-02 21:28] pmaojo commented on #219
@julien51

The back circle can be bigger, or make the background that color, and only two circles need to be positioned. In other words, the space not covered by the 2 top circles needs to be the 3rd circle color, there is no need to position the back circle. Am I right?

[2018-10-03 13:31] pmaojo commented on #219
@julien51 Yes, but I was rejected on gitcoin.co on this task.

[2018-10-03 15:43] julien51 commented on #219
Sorry about that. We are keeping this issue as a coding exercise for an applicant to a full time job at Unlock! Thanks for your understanding.

[2018-10-03 17:41] KennethAshley commented on #245
@julien51 I see you've rejected a few workers that have applied to this. I can successfully handle this task.

[2018-10-03 17:59] millnitzluan commented on #245
@KennethAshley That's because this task is for whose is applying to work at Unlock.

[2018-10-03 20:38] julien51 opened #304 "Improved About page with links"
We need to update the about page to include profiles for employees.

[2018-10-03 21:36] pmaojo commented on #219
Do you accept remote?

[2018-10-04 22:32] julien51 commented on #219
Unfortunately, not at this point. It's very early and I want to make sure we get the right engineering/company culture.

[2018-10-05 15:16] julien51 commented on #304
Fixed in https://github.com/unlock-protocol/unlock/pull/306

[2018-10-05 15:16] #304 closed

[2018-10-08 14:22] julien51 opened #310 "Server side rendering"
Multiple "pages" from the application need to be rendered on the server. This will allow for better SEO but also for tools to extract data. For example the home page, about page and jobs page should be rendered on the server side.

It is important though that we let react "rehydrate" these pages once loaded so that the regular react app takes over and resumes once the pages have been loaded by a w

[2018-10-08 14:30] julien51 opened #311 ""Refreshing" data from localStorage"
Since we do not have a server side component for now, we use the blockchain as the source of truth and store (cache!) data using localStorage.
We use a redux middleware to make sure that our redux store is always 'synced' to localStorage.

The challenge is that data might have changed in the blockchain while the app is not running on the front end, and we need a mechanism to "sync" the redux store

[2018-10-08 14:45] julien51 commented on #311
Another approach is to use our `connect` method in the `web3Service` to trigger the right actions once we have connected to right web3 provider.

This is probably more robust because we may not always load data from localstorage and yet we'd need to sync the locks again.

[2018-10-09 18:29] #311 closed

[2018-10-11 14:57] greenkeeper[bot] opened #322 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-11 15:07] greenkeeper[bot] opened #323 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-11 15:08] greenkeeper[bot] opened #324 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-11 15:37] #322 closed

[2018-10-11 15:37] #323 closed

[2018-10-11 15:41] julien51 commented on #324
ok doin this now ;)

[2018-10-11 15:50] julien51 opened #325 "Show truncated balances"
The balance on accounts is showing too many numbers. We need to only show relevant decimals.
If the user has more than 1Eth, let's show only 2 decimals.
If the user has less than 0.0001 Eth let's show ` < 0.0001` (about 2cts at current prices).
For anything in between, let's show at most 2 non zero values.

[2018-10-11 15:52] julien51 opened #326 "Hover state on icon is broken"
On the layout icons, the over state should not be solid blue but should also show the actual icon for the button.
<img width="163" alt="screen shot 2018-10-11 at 11 51 21" src="https://user-images.githubusercontent.com/17735/46816936-0206aa80-cd4c-11e8-93d9-8a3c637c3996.png">

Is there a way to test hover states with storybook?

[2018-10-11 16:03] julien51 opened #327 "Detect when Metamask is locked"
Metamask is "locked" by default, we should be able to detect that and show an error to the user asking them to unlock it.

[2018-10-11 16:04] julien51 commented on #327
Here is how @gitcoin does it:
<img width="1011" alt="screen shot 2018-10-11 at 12 03 43" src="https://user-images.githubusercontent.com/17735/46817805-bbb24b00-cd4d-11e8-8375-3416374b9617.png">

[2018-10-11 17:15] greenkeeper[bot] opened #328 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-11 17:49] #324 closed

[2018-10-11 17:50] julien51 commented on #328
Made some progress. It turns out that this branch *was* [built in Travis](https://travis-ci.com/unlock-protocol/unlock/builds/87652765), it just failed because of dependency issues. So the next step is to fix these!

[2018-10-11 17:56] julien51 commented on #328
[First step](https://github.com/unlock-protocol/unlock/pull/329) is removing eslint from the project itself since it is added by create-react app itself!

[2018-10-11 18:03] benwerd opened #330 "Visually replace form with pending lock on submission"
Currently new locks show up at the bottom of the screen.

[2018-10-11 18:04] benwerd opened #331 "Group pending and saved locks, rather than displaying them by time"
The order is jarring - really pending locks should show up at the top, newest first.

[2018-10-11 18:05] benwerd opened #332 "Allow user to retrieve embeddable JavaScript for a lock they own"
This way they can deploy a lock to a website of their choice.

[2018-10-11 18:07] todo[bot] opened #333 "save name to the redux store"
https://github.com/unlock-protocol/unlock/blob/42fa9d7ec52ab2a7a0c3429abd80885291114db1/unlock-app/src/components/creator/CreatorLockForm.js#L35-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 42fa9d7ec52ab2a7a0c3429abd80885291114db1 when #319 was merged. cc @unlock-protocol.

[2018-10-11 19:54] julien51 commented on #328
This is annoying because if I remove eslint, then`npm run lint` (which is required to merge PRs) does not work anymore.

[2018-10-11 20:45] hakimelek commented on #310
Currently the unlock-app uses create-react-app. Even though it's a great tool to get bootstrapped on building react apps, I don't think it's a good idea to keep using it if you would like to support SSR, code-splitting, Redux and server-side Hot Module Reloading in the future. Adding those features one by one is good idea for full control of the tools the app is using but could lead to a messy cod

[2018-10-11 21:53] julien51 commented on #310
I think you are right that we will eventually need to eject, so I guess now is as good a time as ever.
I'll work on a PR which does that and maybe ask you to review it.
Any pitfalls/gotchas?

[2018-10-11 23:45] hakimelek commented on #310
@julien51 Let me give a shot first, I don't think you need to eject on the migration. At least if things go wrong we can always reset to the pre-ejected commit.

[2018-10-12 13:21] julien51 commented on #219
Exactly, at this point, we are "reserving" these issues for applicants.

[2018-10-12 15:16] julien51 commented on #328
ok. closing for now after I have reset greenkeper.

[2018-10-12 15:16] #328 closed

[2018-10-12 15:22] julien51 opened #334 "Infinite number of keys!"
Locks have the ability to have an infinite number of keys.
We should implement that feature both in the UI and the smart contract.

[2018-10-12 15:26] julien51 opened #335 "Enable "consistent" mining"
When developing locally with ganache-cli, we currently have a setting which only mines transactions "on demand". This means that transactions are immediately mined and that they are also immediately confirmed.

This is not consistent with the deployments on both `rinkeby` and the `main` network. We should then change that setting so that blocks are mined consistently, even when they're empty.

A g

[2018-10-12 15:47] greenkeeper[bot] opened #338 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-12 16:54] #338 closed

[2018-10-12 17:26] greenkeeper opened #342 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-12 17:27] #342 closed, assigned to nobody

[2018-10-12 17:56] greenkeeper[bot] opened #343 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-10-12 18:10] #335 closed

[2018-10-12 18:19] julien51 opened #344 "clicking on cancel breaks :/"
When creating a lock, if the user clicks on cancel, the form goes away but the UI also breaks:
<img width="1071" alt="screen shot 2018-10-12 at 14 18 56" src="https://user-images.githubusercontent.com/17735/46886765-cb06c680-ce29-11e8-99c1-cc1e98e44b81.png">

[2018-10-12 20:59] julien51 commented on #344
I think this is because the lock creation is also triggered ;)

[2018-10-12 21:04] benwerd commented on #344
Ugggh. I think I need to revert to what I was using before preventDefault. Sorry about that.

[2018-10-12 22:01] julien51 opened #349 "Structuring data in our Redux application"
This is not a feature request per se, not it is a bug report. It's a very high level spec on how to handle data in the react/redux application.

First of all: the blockchain is the source of truth (that's probably obvious). This means that transactions are the "atomic" unit of data. Each transaction may then include references to other objects.

Secondly it is important that all other objects are

[2018-10-12 22:09] julien51 commented on #349
Our application should listen to all changes in transactions and update the layout based on this, not on changes in the objects themselves. Since the transaction include pointers to the objects themselves, when the transaction has been updated, the corresponding objects are changed.

[2018-10-13 18:55] hakimelek commented on #310
@julien51 I was able to remove cra and replace it with next.js for most of the static files. However, I have discovered some challenges with the rest of the app when it come to dealing with removing most of the react-router stuff. First most of `Link` component have be changed to the Nextjs `Link`. Also some of the file that represent a route have to be moved around including the dashboard, creato

[2018-10-13 19:49] julien51 commented on #344
This was fixed! Thanks @benwerd !

[2018-10-13 19:49] #344 closed

[2018-10-14 22:17] julien51 commented on #310
Thanks a lot @hakimelek !

The `/lock/:lockAddress` is actually not the same as `creator/lock/:lockaddress`. Basically, the first one is what is loaded as part of the iframe on pages which include a lock. (where a consumer can actually buy a key to access/view the content), while the latter is the page that the creator of the lock can use to view data about the lock (this page may actually be depr

[2018-10-15 02:46] hakimelek commented on #310
Yeah sorry that it got a little lengthy. However, most of it is building up the `pages` folder and moving files from `/public` to `/static`. I will be adding some comments and please feel free to hit me up if you need me to walk through any part of it.

Since I had to actually get rid of `Unlock.js`, I moved the error logic to `withConfig` for now. We can move it around wherever it makes senses if

[2018-10-15 03:12] hakimelek opened #354 "Network and account error state should show up only for network depending pages."
Currently error states shows up for the entire website when it is disconnected from the network even on the home/about/jobs page.

We would like to move that logic only for network depending pages such as dashboard, lock management.. The logic should probably live in the `withConfig` hoc.

[2018-10-15 13:34] #343 closed

[2018-10-15 16:50] todo[bot] opened #356 "denormalize: only use the account address"
https://github.com/unlock-protocol/unlock/blob/8e6ff3231d8f88c4346ff63c86fbbd9d66327574/unlock-app/src/components/creator/CreatorLockForm.js#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8e6ff3231d8f88c4346ff63c86fbbd9d66327574 when #353 was merged. cc @unlock-protocol.

[2018-10-15 16:50] todo[bot] opened #357 "sync savedLock into lock"
https://github.com/unlock-protocol/unlock/blob/8e6ff3231d8f88c4346ff63c86fbbd9d66327574/unlock-app/src/services/web3Service.js#L187-L192

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8e6ff3231d8f88c4346ff63c86fbbd9d66327574 when #353 was merged. cc @unlock-protocol.

[2018-10-15 16:50] todo[bot] opened #358 "implement this"
https://github.com/unlock-protocol/unlock/blob/8e6ff3231d8f88c4346ff63c86fbbd9d66327574/unlock-app/src/stories/creator/CreatorLockForm.stories.js#L15-L20

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8e6ff3231d8f88c4346ff63c86fbbd9d66327574 when #353 was merged. cc @unlock-protocol.

[2018-10-15 17:17] julien51 commented on #310
Also, I just added this issue to our Gitcoin so you can claim the bounty once it's merged ;) Please [apply for it!](https://gitcoin.co/issue/unlock-protocol/unlock/310/1488) There should be a comment right here ⬇️ in a couple minutes.

[2018-10-15 20:17] hasparus commented on #325
I could give it a shot tomorrow.

[2018-10-16 05:27] hakimelek opened #363 "Add /smart-contracts/build to .gitignore"
I am not sure if you think that this is worth doing or not but I think `/smart-contracts/build` is being generate on every `npm prestart` thus have different versions for different users. Maybe we can move this to .gitignore?

[2018-10-16 17:36] todo[bot] opened #365 "consider the use of createdAt vs hash?"
https://github.com/unlock-protocol/unlock/blob/56750fce84dd10789822eaddb77545e7e31e3585/unlock-app/src/reducers/transactionReducer.js#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 56750fce84dd10789822eaddb77545e7e31e3585 when #362 was merged. cc @unlock-protocol.

[2018-10-16 17:39] julien51 commented on #363
Yeah, this is an issue, but we cannot put this into .gitignore either because these artifacts actually also keep track of the smart contracts being deployed on the actual networks (which we absolutely want to keep track of!).
We need to research this further. Ideally, we'd have multiple artifacts file for each smart contract, on each network.

[2018-10-16 17:46] julien51 commented on #358
I need to be better at creating TODOs ;)

[2018-10-16 17:46] #358 closed

[2018-10-16 17:47] julien51 commented on #357
Dang, this is actually done in the next line. I need to remove that TODO.

[2018-10-16 17:47] #357 closed

[2018-10-16 17:52] julien51 commented on #333
I think this was done, right @benwerd ?

[2018-10-16 18:21] julien51 commented on #325
As a follow up, this component can and will be reused in other places of the applications. Here are 2 places:
<img width="358" alt="screen shot 2018-10-16 at 14 21 17" src="https://user-images.githubusercontent.com/17735/47038166-cd7d5f00-d14e-11e8-9dc2-af8fb304e37f.png">
<img width="139" alt="screen shot 2018-10-16 at 14 21 12" src="https://user-images.githubusercontent.com/17735/47038167-cd7d5f0

[2018-10-16 18:36] benwerd commented on #333
Yes!

[2018-10-17 15:40] kphed commented on #39
Have you considered enforcing JS coding practices based on an existing style guide? For example, AirBnB's is widely used for good reason and it's regularly maintained and kept up-to-date: https://github.com/airbnb/javascript

[2018-10-17 15:54] kphed commented on #349
An in-depth conversation about the flow of data and the different types and pieces of data within the app would be extremely helpful in coming up with a useful spec.

Would we be persisting data on the frontend (perhaps using something like LocalStorage from which we will update the app state) in order to display to the user the last known state of the transactions? Or would we be making a request

[2018-10-17 17:00] benwerd opened #372 "Back button non-functional from lock demo"
The state doesn't update properly when you hit the back button in the browser from the demo page. You can reproduce this by visiting the demo page for a lock and hitting back.

<img width="1031" alt="screen shot 2018-10-17 at 9 59 03 am" src="https://user-images.githubusercontent.com/624104/47103109-5057f580-d1f3-11e8-9c05-2fb9f6f71116.png">

[2018-10-17 18:16] kphed commented on #349
Got it, I wasn't sure if you were only interested in using some mechanism of storage on the frontend (if you wanted to, you could store data on the mobile devices as well) or if fetching from a database was an option. Thanks for clearing that up! I also want to add that I wasn't addressing the issue as a whole, but specifically, the paragraph that I quoted.

[2018-10-18 01:06] julien51 commented on #39
Hey! Thanks for following up on this issue. Right now we use eslint with a [few defaults](https://github.com/unlock-protocol/unlock/blob/master/unlock-app/.eslintrc.js) but I think we need to tighten things up a little bit. I considered using Airbnb but I am not a semicolon person :/
Do you think we could just use AirBnb and tweak a couple rules? Is that good practice?

[2018-10-18 01:08] julien51 commented on #349
I think at some point we'll need to sync the localStorage data on a backend server and then we can use  the user's Ethereum address to load it back into another device.
How would you recommend handling this?

[2018-10-18 12:58] kphed commented on #39
Do you think we could just use AirBnb and tweak a couple rules? Is that good practice?

You could definitely tweak the rules to suit your coding preferences, Julien. It's a good base to start from though.

[2018-10-18 21:04] todo[bot] opened #374 "what is the key id? We should get that from the smart contract!"
https://github.com/unlock-protocol/unlock/blob/7292d47e76cf41156b7d977f732a0ff2d3231b47/unlock-app/src/__tests__/reducers/keysReducer.test.js#L17-L22

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7292d47e76cf41156b7d977f732a0ff2d3231b47 when #373 was merged. cc @unlock-protocol.

[2018-10-18 21:04] todo[bot] opened #375 "DRY this because each reducer has its own initial state."
https://github.com/unlock-protocol/unlock/blob/7292d47e76cf41156b7d977f732a0ff2d3231b47/unlock-app/src/createUnlockStore.js#L23-L28

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7292d47e76cf41156b7d977f732a0ff2d3231b47 when #373 was merged. cc @unlock-protocol.

[2018-10-18 21:05] julien51 commented on #372
Ho... interesting! Thanks I'll assign it to myself.

[2018-10-19 12:33] todo[bot] opened #377 "better value?"
https://github.com/unlock-protocol/unlock/blob/7cb84d1de18f63217733a025f70e0b84e56abcea/unlock-app/src/__tests__/services/web3Service.test.js#L317-L322

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7cb84d1de18f63217733a025f70e0b84e56abcea when #376 was merged. cc @unlock-protocol.

[2018-10-20 17:11] #310 closed

[2018-10-22 19:36] benwerd commented on #39
Worth checking to see if there's a rule about `import` order. It's a bit all over the place right now - and I think it'd be a good thing to enforce if we can. I'll take a look after my current batch of PRs too.

[2018-10-23 17:08] benwerd opened #390 "Allow withdrawal from lock"

[2018-10-23 17:08] benwerd opened #391 "View list of keys on a lock"

[2018-10-23 17:11] benwerd opened #392 "Run Netlify from a new branch for public deploys"

[2018-10-23 18:01] #326 closed

[2018-10-23 18:07] benwerd opened #393 "Local transactions are not working as expected"
Confirmation numbers don't seem to coincide with the number of mined blocks on the local chain.

[2018-10-23 18:08] julien51 commented on #393
(confirmations that is!) web3js triggers confirmations even though no block is being mined which is... odd!

[2018-10-23 22:08] benwerd commented on #392
@julien51 Can you give me access? I signed up with my email address but never got a notification, and I don't see the workspace.

[2018-10-23 23:27] julien51 commented on #325
Merged! Thanks @akeem !

[2018-10-23 23:27] #325 closed

[2018-10-23 23:36] julien51 opened #396 "Redirect unlock-staging.netlify.com to staging.unlock-protocol.com"
We currently use Netlify to continuously deploy and by default they provide us with the domain `unlock-staging.netlify.com` which is great... but we'd love to redirect this to`staging.unlock-protocol.com`.

Their docs say:

[code]

Let's do this!

[2018-10-24 01:49] julien51 opened #400 "Flash of unstyled content"
There is a flash of unstyled content on every reload. This is probably because the CSS are loaded *after* some of the HTML has already been rendered. We need to fix this.

[2018-10-24 02:54] #396 closed

[2018-10-24 21:07] benwerd commented on #400
While global styles _are_ being loaded as part of the page, they're being loaded in the wrong order. This seems to be an issue that a lot of people have run into. Working on it.

[2018-10-24 23:50] #400 closed

[2018-10-25 13:40] julien51 commented on #392
Closing this because we now have manual deploys for the production site. I wish @netlify supported tag deploys...

[2018-10-25 13:40] #392 closed

[2018-10-25 13:40] #377 closed

[2018-10-25 13:40] julien51 commented on #375
Fixed!

[2018-10-25 13:40] #375 closed

[2018-10-25 13:41] julien51 commented on #374
Probably not actually because we need to identify keys before they are purchased...

[2018-10-25 13:41] #374 closed

[2018-10-25 13:42] julien51 commented on #195
I think out set up is actually pretty good now. Let's close!

[2018-10-25 13:43] julien51 commented on #137
Closing for now I think we've successfully implemented this [check list](https://github.com/unlock-protocol/unlock/community).

[2018-10-25 13:43] #137 closed, assigned to benwerd

[2018-10-25 16:43] todo[bot] opened #411 "Can we be more specific? (this is a function)"
https://github.com/unlock-protocol/unlock/blob/dd467a39d5b59e6aa55ad9d350ed3aee5c7cbf79/unlock-app/src/__tests__/middlewares/lockMiddleware.test.js#L68-L73

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dd467a39d5b59e6aa55ad9d350ed3aee5c7cbf79 when #410 was merged. cc @unlock-protocol.

[2018-10-26 19:50] todo[bot] opened #422 "do not have deep object, just use the transactionHash"
https://github.com/unlock-protocol/unlock/blob/e055f08edec926ee2042a0bde25f427bca938ad6/unlock-app/src/services/web3Service.js#L341-L346

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e055f08edec926ee2042a0bde25f427bca938ad6 when #419 was merged. cc @unlock-protocol.

[2018-10-26 20:55] nfurfaro opened #424 "Review and verify "msg.sender" in the Lock contract constructor."
During the deployment of a Lock contract, it's uncertain as to which address (Proxy or Unlock) msg.sender refers to in the constructor function.

If msg.sender isn't the Proxy contract address but the deployed, upgradeable Unlock contract, we should pass the correct address (the immutable Proxy address) to the Lock via the constructor.

[2018-10-28 22:05] julien51 opened #428 "Detect network changes"
When using a web3 provider (metamask or...) it is important to be able to detect network changes (from main net to rinkeby to... etc) and then delete the localStorage state because it cannot be applied to that network.

[2018-10-28 23:37] todo[bot] opened #430 "handle error! Serve error?"
https://github.com/unlock-protocol/unlock/blob/5ecb91999ed1951fcfec6c9c61db6e54139884ef/unlock-app/src/server.js#L28-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5ecb91999ed1951fcfec6c9c61db6e54139884ef when #429 was merged. cc @unlock-protocol.

[2018-10-29 00:13] julien51 opened #431 "Hamburger Menu on mobile"
Our mobile layout needs a hamburger menu!
Right now, when the screen is small we show the following header for content pages:
<img width="431" alt="screen shot 2018-10-28 at 20 09 58" src="https://user-images.githubusercontent.com/17735/47623976-8055a180-daed-11e8-9b71-93fcc07799ec.png">

It is likely that we'll add more icons to that bar, which means that we may eventually lack space.
Our designe

[2018-10-29 16:05] julien51 commented on #430
The dev server could use a default error page.

[2018-10-29 16:43] todo[bot] opened #434 "link the transaction to the lock. This will remove the need for expensive lookup..."
https://github.com/unlock-protocol/unlock/blob/e43a70191e2962b8ecd5b0aae8e62dc15d6b6102/unlock-app/src/services/web3Service.js#L178-L183

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e43a70191e2962b8ecd5b0aae8e62dc15d6b6102 when #425 was merged. cc @unlock-protocol.

[2018-10-29 17:13] benwerd opened #436 "Add common metadata for social media sharing"
We should include both Twitter card and Open Graph metadata, for better previews when sharing on social media.

[2018-10-29 17:15] benwerd opened #437 "Title tags not functioning on public site"
To reproduce, visit any page on unlock-protocol.com. Notice that the title does not display in the browser title bar.

[2018-10-29 18:45] julien51 commented on #39
^ that PR does have a rule for import orders ;)

[2018-10-29 18:52] julien51 commented on #437
I hope no-one from Medium reads this ;p

[2018-10-29 19:05] todo[bot] opened #441 "All eslint rules below should be enforced."
https://github.com/unlock-protocol/unlock/blob/13d0731e122b5a4c7ea93347ac01a8613504fbe8/unlock-app/.eslintrc.js#L32-L37

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 13d0731e122b5a4c7ea93347ac01a8613504fbe8 when #440 was merged. cc @unlock-protocol.

[2018-10-29 19:08] julien51 commented on #441
We have a lot of rules in `eslintrc` which need to be re-enabled... they were disabled in order to avoid doing a monster PR (or I guess an even *worse* monster PR!).
Onward!

- [] react/jsx-filename-extension
- [] import/no-named-as-default
- [] react/require-default-props
- [] import/no-named-as-default-member
- [] react/no-unused-prop-types
- [] react/destructuring-assignment
- [] no-unused-vars

[2018-10-29 19:33] #437 closed

[2018-10-29 23:23] todo[bot] opened #445 "for consistency rename into transactionsReducer since it keeps track of all tran..."
https://github.com/unlock-protocol/unlock/blob/bcb396337be423f6bd1b45c5081d12e48e7f7c50/unlock-app/src/reducers/transactionReducer.js#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in bcb396337be423f6bd1b45c5081d12e48e7f7c50 when #442 was merged. cc @unlock-protocol.

[2018-10-30 16:19] julien51 opened #447 "New Metamask API"
We are using a deprecated Metamask API: they show this message in the console:

November 2nd is... in 3 days!

[2018-10-30 16:33] todo[bot] opened #448 "if the transaction is missing we should try to look it up from the lock address"
https://github.com/unlock-protocol/unlock/blob/7cdd90537d88dd800e78cbd2e712e2bbbfb2dae0/unlock-app/src/components/creator/CreatorLock.js#L30-L35

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7cdd90537d88dd800e78cbd2e712e2bbbfb2dae0 when #444 was merged. cc @unlock-protocol.

[2018-10-30 16:33] todo[bot] opened #449 "We should probably check that the transaction for that key has been confirmed......"
https://github.com/unlock-protocol/unlock/blob/7cdd90537d88dd800e78cbd2e712e2bbbfb2dae0/unlock-app/src/components/lock/ShowUnlessUserHasKeyToAnyLock.js#L6-L11

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7cdd90537d88dd800e78cbd2e712e2bbbfb2dae0 when #444 was merged. cc @unlock-protocol.

[2018-10-30 16:35] julien51 commented on #372
This does not seem to be happening anymore... closing for now then!

[2018-10-30 16:35] #372 closed

[2018-10-31 00:04] benwerd opened #451 "State is being lost between pages"
It looks like localStorage syncing isn't working as expected. I thought this was something in the code I was working on but it seems to be in master. As a result, it's very difficult to test keys or demo.

[2018-10-31 00:55] julien51 commented on #451
Could you tell me more about how to reproduce?

[2018-10-31 19:41] nfurfaro commented on #424
I can now confirm that when a new Lock contract is deployed:
- `msg.sender` refers to the proxy contract as desired.
- `address unlockProtocol` is set to the address of the proxy contract as expected.
- the new lock is owned by the address that called `Unlock.createLock()` as expected.

[2018-10-31 19:41] #424 closed

[2018-10-31 20:16] julien51 commented on #451
@benwerd ?

[2018-10-31 20:16] julien51 commented on #424
Great! Thanks @nfurfaro

[2018-10-31 20:53] benwerd commented on #451
Sorry - it's that the contracts had been changed but hadn't recompiled, so the app and what was going on behind the scenes didn't match up. We can probably close this issue, but I think I'll open an issue to better handle changes to the underlying contract code (and maybe change the documentation to reflect this).

[2018-10-31 21:00] benwerd commented on #451
That said, now I've gone in and tried to test demo, things are still screwy. Is master working for you?

[2018-10-31 21:18] julien51 commented on #451
Yes. But please describe what you're seeing so we can maybe fix things?

On Wed, Oct 31, 2018, 5:01 PM Ben Werdmuller <notifications@github.com
wrote:

[2018-10-31 21:22] benwerd commented on #451
A few things. I've actually been wondering if I somehow have the wrong version of `Unlock.sol`.

* Upon creating a lock, I was getting an error saying that `createLock` expected 3 parameters but was getting 4. I commented out the first parameter, which is new.
* I can now create locks. But localStorage doesn't persist, and I think they're not saving properly to the chain. If I click to the demo pa

[2018-10-31 21:41] julien51 commented on #451
Ohhh i see what is going on and it makes me think we need integration tests.

@nfurfaro did indeed change the createLock signature by removing the
keyReleaseMechanism param.

This also means we need to handle errors when locks couldn't be created (
which would have been triggered by this bug)

I can look into these issues later today!

On Wed, Oct 31, 2018, 5:22 PM Ben Werdmuller <notifications@gi

[2018-10-31 21:45] benwerd commented on #451
OK. And I think there's more to change (eg address vs transaction). I'll submit a PR here on the front end just to fix the obvious errors, but there's more to do. I agree that we need integration tests and can look at that.

[2018-10-31 22:10] benwerd opened #455 "Error on lock creation"
This shows up in the console:

`Uncaught (in promise) Error: Returned error: VM Exception while processing transaction: revert`

[2018-10-31 23:39] julien51 commented on #455
So this means the Ethereum transaction could not be executed. I believe this is because of the changes in #446 so I am reverting until we fix that!

[2018-10-31 23:39] #455 closed

[2018-10-31 23:43] julien51 opened #458 "Integration tests"
At no point do we actually test things "end to end". Both the smart contract and the React app are tested in isolation which means that when we change one side, and the other is not, we end up in trouble. This is what happened with https://github.com/unlock-protocol/unlock/issues/455

We need to test thing end to end.

[2018-10-31 23:45] julien51 opened #459 "Handle transaction errors!"
Right now, our UI seems to assume that all transactions (lock creation, key purchase... etc) can only succeed. This is obviously ambitious as there are many reason a transaction could fail:
* no enough gas
* wrong parameters
* smart contract error...

We need a way to detect these and show them in the interface.

[2018-10-31 23:46] julien51 commented on #451
We are now reverting #446, which I believe is the root cause. I will first work on adding integration tests before we add that back. Closing this issue an opening 2 new ones: #458 and #459.

[2018-10-31 23:46] #451 closed

[2018-10-31 23:47] benwerd commented on #458
This looks like an interesting guide, although of course, our setup is going to be a little more complicated (with ganache etc). https://medium.freecodecamp.org/real-integration-tests-with-react-redux-and-react-router-417125212638

[2018-11-01 00:12] julien51 commented on #458
Maybe @cellog has an opinion about the framework to use for end to end testing?

[2018-11-01 00:16] julien51 commented on #458
I found that too https://blog.logrocket.com/end-to-end-testing-react-apps-with-puppeteer-and-jest-ce2f414b4fd7

[2018-11-01 00:51] julien51 commented on #458
And https://www.cypress.io/ was recommended too!

[2018-11-01 01:40] cellog commented on #458
React-redux uses puppeteer for benchmarks, and I find it very good, but remember it only tests on chrome. I've run into iPhone-specific bugs with react state, but that's the only one so it's probably OK, but might be worth investing in browserstack and developing a quick manual sanity check for all browsers before releases.

[2018-11-01 15:21] cellog opened #461 "Use prettier to automatically implement a style guide"
**Is your feature request related to a problem? Please describe.**

linting is not automatic, and fixing linting errors often is time wasted adding commas, spaces, and the like.

Linting is best for finding actual problems, such as missing prop-types declarations, unused code.

**Describe the solution you'd like**
https://prettier.io/docs/en/index.html

Prettier automatically formats code to a giv

[2018-11-01 15:31] cellog commented on #458
turns out, browserstack is free for testing against edge: https://love2dev.com/blog/browserstack-simplifies-testing-in-edge/

I'd go with cypress.io for your integration/end-to-end tests, and then have a brief browserstack-based testing for edge that is used right before deploy to verify the UI correctness

[2018-11-01 16:08] julien51 commented on #461
Arguably you can automate linting (but that does not mean this issue is not valid) by integrating this in your IDE. For example, I use VSCode and it does have eslint plugins (I am sure other exists for Atom, Sublime... etc). Let me know if this is helpful in the short term for you.

[2018-11-01 22:49] todo[bot] opened #465 "Add pagination to keys for each lock on Dashboard"
https://github.com/unlock-protocol/unlock/blob/5decabbfd2098ec96deb41717b27f77963fb2eca/unlock-app/src/components/creator/lock/KeyList.js#L7-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5decabbfd2098ec96deb41717b27f77963fb2eca when #462 was merged. cc @unlock-protocol.

[2018-11-02 01:57] cellog commented on #461
I did automate linting after I realized I had many errors :) here is an article with some perspective on using eslint and prettier together:

These tools will help you write clean code by Adeel Imran https://link.medium.com/y6mfsKcmvR

[2018-11-02 13:44] julien51 opened #467 "React testing library vs. enzyme"
We currently use Enzyme for our testing of components. @cellog recommends using React Testing Library as a replacement.
It would be great to have people contribute to that issue with feedback on either approaches.
If we decide on moving, the earlier, the better!

[2018-11-02 13:48] julien51 opened #468 "devDependency vs dependency"
Up until now we assumed that there was no real difference between these 2 because in practice Unlock is not a library. However @cellog raised an interesting observation in https://github.com/unlock-protocol/unlock/pull/454 where we could distinguish between the dependencies *only* required to build (`dependencies`) and the ones required to tests (`devDepencies`).

This [article](https://silvenon.c

[2018-11-02 14:07] cellog opened #469 "smart-contracts/build needs to be in .gitignore"
I'm getting this nonsense whenever I test things:

![image](https://user-images.githubusercontent.com/98250/47919888-fdcf3800-de86-11e8-9d6a-5a755711f4ba.png)

(the .idea folder is what webstorm uses, that would also be nice to have in .gitignore, but that can be dealt with later)

[2018-11-02 14:09] julien51 commented on #469
Unfortunately this is not that simple. Duplicate of #363 ;)

[2018-11-02 14:09] #469 closed

[2018-11-02 14:09] julien51 commented on #363
I think @nfurfaro is looking into this!

[2018-11-02 14:30] cellog commented on #467
I'll provide some context for the reason this project should use react-testing-library

enzyme works by hooking into the test renderer. On the surface, this seems fine, but there are some important hidden problems which will overwhelm the testing when the project grows.

1. enzyme has lagged well behind React in implementing new features, 9 months elapsed between the stable release of React 16.3 a

[2018-11-02 15:13] cellog commented on #363
Are you assuming that users will install from git? The solution to this issue could be to instead release unlock as an npm package. This would also address #468.

Either way, transitive files like this should not be stored in the application, but in a user-configured location or perhaps in a database (my opinion)

Adding a script that installs and configures unlock (a la create-react-app) would be

[2018-11-02 20:43] nfurfaro commented on #363
I'm looking into this.
As pointed out above by @hakimelek, `/build/contracts` is indeed regenerated/overwritten each time `truffle migrate` is called. `truffle deploy` is an alias for `truffle migrate`. Given the same source to compile (our contracts) and the same compiler version, the output in `/build/contracts` will always be the same.

[2018-11-02 21:18] julien51 commented on #363
Well, I think the artifacts also kept track of the address where to the smart contract is deployed which means that every time it is being deployed we get a new "version" of the file.
Since we all use different ganache instances we get a different version of the file every time.

We need to find a solution to that.

[2018-11-02 21:29] julien51 commented on #363
@cellog the react app needs to know the address of the deploy smart contracts but also the "abi" (which is really a description of the interfaces offered by the smart contract). Both of these things are included in the artifacts files.

So in a way the artifacts are more "config" files for the react app than transient files which we could discard easily. The challenge comes from the fact that for

[2018-11-02 22:59] nfurfaro commented on #363
Hmm. I'm wondering if this would interfere with network autodetection.

"Because the network is auto-detected by the contract artifacts at runtime, this means that you only need to deploy your application or frontend once. When you run your application, the running Ethereum client will determine which artifacts are used, and this will make your application very flexible. As an example, if you were

[2018-11-02 23:04] nfurfaro commented on #363
This is a possibility, but I'm still doing some reading on this.

TLDR; Modify the migration file to write out the relevant details to the specified file after each deployment.
https://ethereum.stackexchange.com/questions/44271/best-practice-for-sharing-truffle-build-files-between-developers

[2018-11-04 15:18] nfurfaro commented on #363
It looks like we have a few options here for managing truffle artifacts. It's worth pointing out a couple things.
Each file in `build/contracts` tracks a few different things, which include the source, ABI, byte code and networks/addresses each contract has been deployed to. While the ABI and bytecode can easily be regenerated by running `truffle compile`, the deployed addresses cannot, and must b

[2018-11-05 14:28] julien51 opened #474 "people.txt"
We need to implement ways to invite people to contribute.
One of the ways us to use `people.txt` (on top of robots.txt). another one is to add a message in the JS console like @gitcoin does:

<img width="519" alt="screen shot 2018-11-05 at 09 28 25" src="https://user-images.githubusercontent.com/17735/48003706-2fd9d780-e0dd-11e8-84fd-dc84fd7107f8.png">

[2018-11-05 14:51] julien51 commented on #363
That Zos approach is probably the best one?
Unless there is a system of hooks we can use *after* a deploy to copy the artifacts into a non `.gitignore`-ed file only when the deploy was done on a non local network?

[2018-11-05 16:02] nfurfaro commented on #363
@julien51 I think the zOS approach makes the most sense too. We're already using it for upgradeability, and then we basically get this cleaner artifact management for free.
RE: "Unless there is a system of hooks we can use after a deploy ..."
There is this approach, where we would change the migration file and write the ABI and its address after the deploy.

[code]

[2018-11-05 16:03] nfurfaro commented on #363
This could be made to depend on the network being used like this:
[code]

[2018-11-05 18:00] julien51 commented on #467
Ha! Thanks a lot @cellog. This was very thorough, clear and extremely helpful and probably wraps tis up: we need to rewrite the tests using `rtl`.

- [ ] migrate `creatorAccount` tests
- [ ] migrate `Duration` tests
- [ ] migrate `showUnlockUserHasKeyToLock` tests
- [ ] migrate `OpenGraph` tests
- [ ] migrate `TwitterTags` tests
- [ ] migrate `Web3Provider` tests
- [ ] migrate `pages` tests

[2018-11-06 15:19] todo[bot] opened #484 "remove me when this is clean"
https://github.com/unlock-protocol/unlock/blob/b5b3c83873cd03e9ac35a11a6bd9fcd63e256fe2/unlock-app/src/middlewares/lockMiddleware.js#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b5b3c83873cd03e9ac35a11a6bd9fcd63e256fe2 when #482 was merged. cc @unlock-protocol.

[2018-11-06 15:34] nfurfaro commented on #363
PR# 480 fixed this, so I'm closing.

[2018-11-06 18:04] smombartz opened #486 "Node.js version error after install"
**Describe the bug**
After following install instructions I received an error that I was using the wrong node.js version even tough im using v8.11.4

**Error**

<img width="1630" alt="error" src="https://user-images.githubusercontent.com/1377389/48083846-35f6b380-e1c4-11e8-875a-60eefd752805.png">

[code]

[2018-11-06 18:09] julien51 commented on #486
I am a bit surprised by
[code]

Could you try deleting the folders `node_modules` in both `unlock-protocol` and `unlock/unlock-app`?

[2018-11-06 23:31] julien51 commented on #458
Unfortunately it looks like Puppeteer and Travis are not the best friends in the world. We have a PR ready which implements a basic "setup" to run integration tests in this PR: https://github.com/unlock-protocol/unlock/pull/485 but I am unable to make it work on Travis for now.

[2018-11-07 08:40] cellog commented on #458
https://github.com/bennyn/example-puppeteer-travis-ci may help, took it from https://github.com/GoogleChrome/puppeteer/issues/3284#issuecomment-428193032

[2018-11-07 18:38] julien51 opened #492 "Get right gas amount"
When issuing transactions the web3Service needs to provide a maximum amount of gas required for the transaction to succeed. Right now the values are hard coded. We could actually provide that number "automatically".

cc @nfurfaro

[2018-11-07 18:38] julien51 opened #493 "Get right gas amount"
When issuing transactions the web3Service needs to provide a maximum amount of gas required for the transaction to succeed. Right now the values are hard coded. We could actually provide that number "automatically".

cc @nfurfaro

[2018-11-07 18:38] #493 closed

[2018-11-07 20:28] julien51 commented on #458
Wow, you do have some search skills! I was trying to find such a project yesterday and struggled! Let me try to update our docker/travis conf with these settings!

[2018-11-07 20:42] julien51 commented on #458
Unfortunately, we still get this error:
[code]

[2018-11-07 20:47] julien51 commented on #458
My next try is going to run puppeteer in its own docker container.

[2018-11-07 22:22] smombartz commented on #486
that worked!

[2018-11-08 05:15] cellog commented on #458
Not sure but this might help:

https://hackernoon.com/dip-dapp-doe-anatomy-of-an-ethereum-distributed-fair-game-part-3-d0229ac6aeba

[2018-11-08 15:31] julien51 commented on #486
Great! closing ;)

[2018-11-08 15:31] #486 closed

[2018-11-08 21:37] julien51 commented on #474
I think `/robots.txt` and `/humans.txt` are not showing :(

[2018-11-08 22:47] nfurfaro opened #502 "Upgrade zOS to v2.0.1"
**Is your feature request related to a problem? Please describe.**
zos-cli hss undergone a major update. Unlock is still using the older version. The new version introduces a number of benefits, and, as zos hasn't been used to deploy yet, it's likely to be easier to upgrade now, before we start using it regularly.

**Describe the solution you'd like**
- Add `"zosversion": "2",` to the `zos.json` f

[2018-11-08 22:48] nfurfaro commented on #502
Note: I've done some work on this already, but ended up with one broken test as a result. Haven't resolved it yet.

[2018-11-08 22:51] #474 closed

[2018-11-08 23:03] benwerd commented on #436
This has now been implemented.

[2018-11-08 23:03] #436 closed

[2018-11-08 23:18] nfurfaro commented on #502
It (seemingly randomly) alternates between
`Error: AdminUpgradeabilityProxy error: Please call setProvider() first before calling new().`
and
`Error: VM Exception while processing transaction: revert`,
but it's the same test failing every the time.
[code]
and then
[code]

[2018-11-09 00:45] julien51 opened #506 "Broken logo"
It looks like the logo is broken. See :
<img width="1166" alt="screen shot 2018-11-08 at 19 43 48" src="https://user-images.githubusercontent.com/17735/48236093-b36e1f80-e38e-11e8-8c34-5dd79fd3924e.png">

This is certainly due to this https://github.com/unlock-protocol/unlock/pull/503

The solution is to not treat all SVG in the same way.

[2018-11-09 00:51] julien51 commented on #365
This was implemented. Closing.

[2018-11-09 00:51] #365 closed

[2018-11-09 04:56] #356 closed

[2018-11-09 15:07] julien51 commented on #502
Do you think the bug is Unlock-specific in any way?

[2018-11-09 15:14] julien51 commented on #428
Thanks! Please let us know if you need anything from us.

[2018-11-09 15:14] julien51 commented on #391
This will be complete when https://github.com/unlock-protocol/unlock/issues/465 has been solved!

[2018-11-09 15:15] julien51 commented on #349
Closing this because this probably belongs to the wiki!

[2018-11-09 15:15] #349 closed

[2018-11-09 15:19] julien51 commented on #333
woops! We need to remove that comment then!

[2018-11-09 15:21] #214 closed

[2018-11-09 15:21] julien51 commented on #148
cc @nfurfaro

[2018-11-09 15:22] #146 closed

[2018-11-09 18:26] nfurfaro opened #512 "Errors when testing the web-app, even when all tests pass"
**Describe the bug**
I have the most recent master branch. All test for smart contracts and unlock-app pass. However, in the output for the tests in `unlock-app` I get multiple errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the master branch.
2. Install all dependencies in smart-contracts and in unlock-app.
3. in `unlock-app` run `npm run test`
4. Look at the output.

**Exp

[2018-11-09 18:58] #333 closed

[2018-11-09 19:57] nfurfaro commented on #148
Recap relevant comments from google docs:
- in the Unlock world, a given user may only ever have a single key to a given Lock. In that context, I thought it was "wasting" resources (gas) to use a distinct tokenId .... but I think we can reconsider this.
- I think indeed the right solution is to allow a user to have more than 1 key... and allow them to "transfer" the remaining time from a given key

[2018-11-09 19:58] nfurfaro commented on #148
@julien51 No point in opening a new issue. Thanks for calling my attention to this one.

[2018-11-09 20:03] nfurfaro commented on #502
https://github.com/unlock-protocol/unlock/issues/195#issuecomment-415986365

[2018-11-09 20:14] nfurfaro opened #514 "Require multisig approval for upgrades to Unlock.sol"
In order to preserve the decentralized aspect of Unlock, as well as for security reasons, multiple signatures should be required to upgrade the logic contract `Unlock.sol` on the mainnet.
During development, this is not required.

Look into multisig-wallet implementations. "Gnosis Multisig Wallet" was recommended in the "Unlock Protocol architecture review" doc.
https://github.com/gnosis/MultiSigW

[2018-11-09 20:42] nfurfaro commented on #492
@julien51 I just had a look at `Web3Service.js` and will look into this.

[2018-11-09 20:53] julien51 commented on #512
Hooo these are not errors ;) Just console messages !

[2018-11-09 20:53] #512 closed

[2018-11-09 21:48] julien51 commented on #441
I am not sure I agree with both `react/jsx-filename-extension` and ` import/no-named-as-default`

[2018-11-09 21:49] #39 closed

[2018-11-09 21:50] #422 closed

[2018-11-09 21:51] #434 closed

[2018-11-11 03:24] cellog opened #525 "Consider moving to Typescript or Flow and removing prop-types"
**Is your feature request related to a problem? Please describe.**
While updating the tests from enzyme to react-testing-library, I found several dangerous discrepancies between the props passed in tests that were simply not caught by prop-types. For instance, the name of the balance in a lock is `keyBalance` in current tests, but the `Balance` component expects `balance`. Also, some tests passed

[2018-11-12 13:59] julien51 commented on #525
You are very right and it is definitely on the radar.
My experience in the past has been that type checking also has some disadvantages in the form of more slightly more work and slower iterations. I think there is an appropriate time to move to that and I am not sure we reached that point in the maturity of the project/structure.

Happy to be proven wrong though ;)

I have a slight preference for

[2018-11-12 17:32] smombartz opened #526 "Dashboard Transaction Log Page"
## Description
A separate page that shows all actions and transactions – essentially a log. Currently accounted for are:
- Creating a new Lock
- Renaming a Lock
- Lock/Key price change
- Key purchases
- Withdrawing funds
- Downloading data

Also note the new Log Page icon in the header of the dashboard (see screenshot below).

Specs: https://zpl.io/2vNZKOn
Assets: [log.svg](https://github.com/unlo

[2018-11-12 17:47] smombartz opened #527 "Dashboard Lock Test Page"
## Description
1. Updated header, to make the page look more like a publication.
2. Powered by Unlock now lives on the right side. This element could be reused to indicate user purchased a key for the content already (see [Test Page Key Purchased](https://zpl.io/adPeJq1))

Specs: https://zpl.io/bA4p4Dp

## Screenshot
![lock test page banner](https://user-images.githubusercontent.com/1377389/483654

[2018-11-12 17:52] smombartz opened #528 "Lock States for Key Purchasing"
## Description
Mockups of the different interactions and Lock states when purchasing a Key. Mocked up for 2 Locks, in case of 1 or 3 Locks, Locks should always be center aligned (see [Multiple Locks](https://zpl.io/VqlJKkZ)). Once the browser wallet opens all other locks should be faded and inactive.

Specs: https://zpl.io/aM909po
Assets: [checkmark.svg](https://github.com/unlock-protocol/unlock/b

[2018-11-12 18:06] smombartz opened #529 "Dashboard Withdrawing Funds from Lock"
## Description
The different Lock states and messaging when withdrawing funds from a Lock.

Specs: https://zpl.io/brNeBPr

## Screenshot
<img width="1157" alt="dashboard withdrawing funds from lock" src="https://user-images.githubusercontent.com/1377389/48366376-b2353f00-e67b-11e8-917e-d95223fb50fa.png">

[2018-11-12 18:30] smombartz commented on #526
good one! forgot to mention and just updated the issue. there is an icon in the header to get to the page. getting back to dashboard I was thinking either click on log icon or on address. what you think?

[2018-11-12 18:32] benwerd commented on #526
Aha! That makes sense. Maybe the log icon could be highlighted while we're looking at the log to make it clear that it can be untoggled? Or something like that?

[2018-11-12 18:49] todo[bot] opened #531 "Delete locks when they failed to be created"
https://github.com/unlock-protocol/unlock/blob/a882cada6210cdc847496979e95983b0b309dc45/unlock-app/src/middlewares/lockMiddleware.js#L18-L23

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a882cada6210cdc847496979e95983b0b309dc45 when #530 was merged. cc @unlock-protocol.

[2018-11-12 21:44] todo[bot] opened #536 "Since there was an error creating the lock, should also delete that lock!"
https://github.com/unlock-protocol/unlock/blob/ae70a324843c746fb079a3c9e41572e520f21a65/unlock-app/src/middlewares/lockMiddleware.js#L18-L23

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ae70a324843c746fb079a3c9e41572e520f21a65 when #534 was merged. cc @unlock-protocol.

[2018-11-12 21:45] #467 closed

[2018-11-12 22:15] julien51 commented on #536
Dupe of #534

[2018-11-12 22:16] #536 closed

[2018-11-12 22:17] julien51 commented on #526
@benwerd Good point. I think generally we should also hightlight the jobs/about icons when on the corresponding pages!

[2018-11-12 22:20] #441 closed

[2018-11-12 22:21] julien51 commented on #332
I think this is done @benwerd , right?

[2018-11-13 18:39] julien51 commented on #363
So, we just hit a dead end on our hunt for a solution where `*.json` files are not in git (see https://github.com/unlock-protocol/unlock/pull/546).

Basically, if there artifacts are not in version control, we need to generate them when running tests and when deploying... We can only generate them by running `truffle compile`. BUT (for now at least) we cannot compile the smart contracts when we de

[2018-11-13 19:15] julien51 opened #550 "Cleanup the LOAD_ACCOUNT and CREATE_ACCOUNT logic"
For now, we either load accounts from a local ganache chain or we use metamask. We can remove this logic.

[2018-11-13 20:45] todo[bot] opened #553 "make it a promise which returns an account!"
https://github.com/unlock-protocol/unlock/blob/bc107433a0a8a35404fa0887059ee51745ed3c5f/unlock-app/src/services/web3Service.js#L56-L61

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in bc107433a0a8a35404fa0887059ee51745ed3c5f when #551 was merged. cc @unlock-protocol.

[2018-11-14 00:48] gyrevik opened #555 "Difficulties with running the code on Windows 10 Pro"
I had a Python related error for which I found a fix. It was to run:
npm install --global --production windows-build-tools
The solution comes from:
https://github.com/felixrieseberg/windows-build-tools/issues/56

I then ran into a Windows Script Host error dialogue for truffle.js with Code: 800A138F

There is information about this on the web but I did not resolve it on my laptop.

I don't know if

[2018-11-14 01:17] julien51 commented on #555
I think it would be nice to get to the bottom of this!
My understanding is that this is an issue with truffle on Windows, right?

[2018-11-14 16:40] #553 closed

[2018-11-17 23:13] todo[bot] opened #565 "consider if on events we should only trigger more actions instead of calling web..."
https://github.com/unlock-protocol/unlock/blob/af9fa9d4a356ed44fdaa3ecd861fca92668625db/unlock-app/src/middlewares/lockMiddleware.js#L17-L22

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in af9fa9d4a356ed44fdaa3ecd861fca92668625db when #563 was merged. cc @unlock-protocol.

[2018-11-17 23:24] julien51 commented on #550
Done!

[2018-11-17 23:24] #550 closed

[2018-11-18 03:10] iworkforthem commented on #492
@julien51 is this issue fixed? i can push the fix to services/web3Service.js

[2018-11-18 23:12] #461 closed

[2018-11-19 00:02] julien51 commented on #526
@benwerd Removing this from your place because I believe this can be a great application contribution!

[2018-11-19 00:13] julien51 commented on #465
<img width="931" alt="screen shot 2018-11-18 at 19 13 01" src="https://user-images.githubusercontent.com/17735/48680115-005bae00-eb66-11e8-862e-5f6d0adcc423.png">

[2018-11-19 00:14] julien51 commented on #465
As of now, this will involve writing the smart contracts to enable for this. I think @nfurfaro can help with that at first.

[2018-11-19 00:15] julien51 commented on #459
I believe this was actually implemented.

[2018-11-19 00:15] #459 closed

[2018-11-19 00:19] #411 closed

[2018-11-19 00:29] julien51 commented on #458
This is also probably related to #195. Somebody with Docker skills would be a great candidate for this one!

[2018-11-19 00:30] julien51 commented on #528
Working on this through https://github.com/unlock-protocol/unlock/pull/566 first!

[2018-11-19 13:50] julien51 opened #569 "Upgrade openzeppelin-solidity to v2"
We currently use and outdated version of `openzeppelin-solidity` in our smart contracts.
We need to update our version to 2.0.0 but it is likely that this will include some breaking changes.

[2018-11-19 19:31] julien51 opened #570 "Better handling of global styles"
Our handling of globalStyles with styled-components looks like a hack. We just load a string to slap it into `<head>` which results in the global styles not being compressed.

There must be a better way!

[2018-11-19 20:09] julien51 commented on #527
This https://github.com/unlock-protocol/unlock/pull/572 is only a partial implementation. We need to refactor the the "overlay" part too ;)

[2018-11-19 21:15] nfurfaro commented on #334
@julien51 AS far as the `PublicLock.sol` goes, I'm thinking that I could simply set `uint _maxNumberOfKeys` to -1 in the constructor, and then only overwrite it if the creator passes in a value for `_maxNumberOfKeys` that is greater than 0.

[2018-11-19 21:43] #570 closed

[2018-11-19 22:35] smombartz commented on #334
Here the flow for creating and editing a Lock with infinite keys.

<img width="1228" alt="creating and editing a lock with infinite keys" src="https://user-images.githubusercontent.com/1377389/48739291-8426a080-ec21-11e8-98ce-fa3c73329c97.png">

[2018-11-19 23:30] #527 closed

[2018-11-20 13:19] julien51 opened #578 "`/unlock.js` loader"
Unlock provides a snippet of codes to creators which will enforce that a given visitor to their site has a key. If they don't, the the snippet will display an overlay indicating showing the options to purchase a key.

The overlay has been implemented (see the demo page on each lock) but we need to implement the loader itself.

[2018-11-20 13:44] cellog commented on #525
More perspective https://twitter.com/monasticpanic/status/1064742660034965506?s=19

[2018-11-20 16:09] nfurfaro commented on #138
@julien51 Maybe I'm missing something here, but it would appear that we already have this functionality, as well as tests for it, in `PublicLock.sol`.

[2018-11-20 16:10] nfurfaro commented on #138
[code]

[2018-11-20 16:47] julien51 commented on #138
Hoooo, I'd forgotten about that! Thanks then ;)

[2018-11-20 18:51] julien51 opened #580 "Snapshots for storybook"
Storybook can automatically create snapshots which would make testing very useful.
We tried that in the past but we had issues... we should try again!

[2018-11-20 22:59] julien51 opened #585 "Missing lock address when deployed"
On staging, when a new lock is deployed it looks like its address is not saved in the redux store...

[2018-11-20 23:11] julien51 opened #586 "Blog engine!"
We believe it is important that unlock publishes content on its domain and website (and later syndicates to other platforms such as Medium).

This means we need a way to handle publishing posts using the web application.
We want these posts to be in markdown format and script which builds the static post pages upon builds.

[2018-11-20 23:38] benwerd commented on #586
There's a lot involved in a blog engine. It might be worth taking Ghost or Jekyll and running them in a subdomain? eg blog.unlock-protocol.com.

[2018-11-21 00:07] julien51 commented on #586
meh. more code to maintain :( I think we can actually go pretty far with just our current web app. I think we actually do not need to implement much since we can assume most "social" features will be implemented on cross posting platforms!

[2018-11-21 15:06] julien51 commented on #586
Here is a more complete description of what we are looking for.

1. We use Markdown to "write" our posts. This should be a fairly 'standard' flavor. The markdown templates should use a format similar to what jekyll does, which means that they *may* include a set of metadata in their top part in a YAML block (see [front-matter](https://jekyllrb.com/docs/front-matter/)). These metadata will include

[2018-11-21 15:15] julien51 commented on #578
The loader should be fairly limited in its complexity and achieve the following:
* load an iframe from the `unlock-protocol.com` origin.
* wait for the iframe to indicate whether the content should be locked or not.
* if the content needs to be locked, will display the iframe *over* the content's, and disable scrolling on the page
* if the content does not need to be locked, will display the conte

[2018-11-21 15:42] julien51 commented on #585
Right now, we only set the lock address when the `NewLock` has been triggered, which means that if the user closes the window before that event has been triggered, we will not be able to keep track of the lock address.

It looks like the `NewLock` event is actually never triggered on rinkeby.

However, we keep track of the transaction id right after it's been submitted, which means we can use the

[2018-11-21 19:19] gyrevik commented on #431
I'm still working on this. Sorry about the lack of activity over the last
few days.

On Wed, Nov 21, 2018 at 12:16 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-11-22 02:14] julien51 commented on #428
@DeveloperDroid18  I'll assume you're not working on this anymore given the delay... thanks!

[2018-11-22 03:07] #484 closed

[2018-11-22 13:29] concerned3rdparty opened #594 "Modules not found in Windows 10"
I started ganache-cli on windows command line, then ran the commands below on ubuntu wsl:
[code]

The result is this :
[code]

[2018-11-22 13:31] julien51 commented on #594
These 2 modules are actually the artifacts from compiling the smart contracts, which you need to do locally. This should have happened when you ran  `npm run dev` (see package.json).

Is there any other log message?

[2018-11-22 13:40] concerned3rdparty commented on #594
This is the whole log message:
`ismail@zenbook:~/ismailwin/Desktop/solidityProjects/3rdparty/unlock/unlock-app$  npm run dev

sh: 1: ganache-cli: not found

Using network 'development'.

Running migration: 1_initial_migration.js
  Replacing Migrations...
  ... 0x03b74965178a5af91135c53cd2fc03d19325a4c8e5bc550528fb9ba511fabd41
  Migrations: 0xd8e6deb03722a52011ab7d0827fa47fbb36d516c
Saving successf

[2018-11-22 16:19] julien51 commented on #594
Thanks, this is hepful. The error ` ERROR  Failed to compile with 2 errors` is the cause of the latter issue (since the contracts cannot be compiled, the artifacts files are not generated).

Let's now try to debug further.

In one window/terminal, please run `ganache-cli -b 3 -i 1984 --mnemonic 'hello unlock save the web'`, this will start a local ethereum node.

Then, in another window, please `n

[2018-11-22 16:19] julien51 commented on #594
Also, I believe this issue is related to https://github.com/unlock-protocol/unlock/issues/555.

[2018-11-22 16:20] julien51 commented on #555
Closing this one since I believe it is the same as #594 which is more documented.

[2018-11-22 16:20] #555 closed

[2018-11-22 17:02] julien51 commented on #492
@iworkforthem I am so sorry for the delay. I missed your message earlier.
I believe this is not fixed yet.

[2018-11-22 17:06] julien51 commented on #431
@gyrevik Understood. Please keep us in the loop. At this point we need to make progress on that issue. Thanks!

[2018-11-22 17:09] julien51 commented on #334
The solidity part is been implemented as #576. We now only miss the front end implementation.

[2018-11-22 17:31] frankchen07 commented on #245
@julien51 - Frank from Gitcoin here, is this issue still open on Gitcoin? It seems like it was closed out.

[2018-11-22 18:46] gyrevik commented on #431
@julien51 I have to stop work on this. Too many environment setup problems because I'm on windows. Thanks for the opportunity and your time!

[2018-11-22 22:00] davidmurdoch commented on #594
ganache-cli dev here. What version if ganache-cli are you running/installing, @concerned3rdparty?

[2018-11-23 03:00] julien51 commented on #431
@gyrevik Thanks... i appreciate the transparency. Good luck for the future!

[2018-11-23 08:12] concerned3rdparty commented on #594
@julien51 I've ran the commands the output of `npm run deploy-lock` is this :
ismail@zenbook:~/ismailwin/Desktop/solidityProjects/3rdparty/unlock/unlock-app$ npm run deploy-lock

[code]

[2018-11-23 08:35] concerned3rdparty commented on #594
@davidmurdoch I've tried to install ganache-cli with the command in readme of unlock : `npm install -g ganache-cli@trufflesuite/ganache-cli#develop`

That was just a owner and permissions problems, after changing owner, installation succeded. Now i can start ganache-cli on wsl ubuntu of windows 10, so the scripts triggered by `npm run dev` can also run ganache-cli command.

My latest issue with ru

[2018-11-23 13:57] julien51 commented on #586
Please do not start to work on this unless you have been previously approved by our team to work on this.

We reserve some of our issue for applicants to our full time positions. Thanks for your understanding.

[2018-11-23 13:58] julien51 commented on #431
Please do not start to work on this unless you have been previously approved by our team to work on this.

We reserve some of our issue for applicants to our full time positions. Thanks for your understanding.

[2018-11-23 18:50] julien51 commented on #431
Please see icons required for this work attached.

[Archive.zip](https://github.com/unlock-protocol/unlock/files/2611514/Archive.zip)

[2018-11-26 02:00] #431 closed

[2018-11-26 02:15] iworkforthem commented on #492
@julien51 .. i created a function estimateGas(address) in services/web3Service.js...

1. Do I applied this to the purchaseKey & createLock methods?
2. For sendTransaction, I see that it take in gas as a parameter, I will skip this method, right?

[2018-11-26 16:30] julien51 commented on #138
Please, refrain from applying to this issue unless you're a full time applicant. Thanks!

[2018-11-26 16:39] julien51 commented on #138
Please, refrain from applying to this issue unless you're a full time applicant. Thanks!

[2018-11-26 17:02] PumpkingWok commented on #138
Hi @julien51,
Why have you rejected my request ? if i can ask to you.
Thanks.

[2018-11-26 17:11] julien51 commented on #138
Please read the comment above yours. Thanks.

[2018-11-26 17:14] julien51 commented on #526
Please do not start to work on this unless you have been previously approved by our team to work on this.

We reserve some of our issue for applicants to our full time positions. Thanks for your understanding.

[2018-11-26 17:18] PumpkingWok commented on #138
Hi @julien51,
I had read it before apply in this issue, i'm a full time gitcoin bounty applicant.
No worries, i will look to another bounties.

[2018-11-26 19:33] julien51 commented on #363
So... I am still not sure what is going on here but the initial problem is still happening: every time I run the code locally the `*.json` files are changed and git wants me to commit the changes.
Yet, we **need** these files in git because they are used to build/test/deploy the react application.

So I am still not sure how to achieve what we're looking for:
* a way to keep track of the `*.json`

[2018-11-26 19:36] julien51 commented on #148
Great, can we sum up exactly what needs to be done now and maybe open individual issues (pointing to this one):

- [] do not limit keys to one per user per lock.
- [] top-up a key's time with another key's time.

[2018-11-26 20:01] smombartz opened #604 "Instrumentation & analytics for paywall mining"
**Description**
We currently have no idea how long it takes for a purchase/transaction to be confirmed. To have a better sense of wait times and to better design the user interaction in the final step, it would be great if we could get some kind of data/analytics on how long a transaction takes.

An additional bonus would be if we could track when/where people also fall off in the payment process.

[2018-11-26 21:18] Sherry-94 commented on #138
Hi @julien51, I have recently joined Gitcoin, Can I submit a request? This issue looks quite simple from the description.

[2018-11-27 04:55] ChrisCates commented on #148
Hi,
Reviewed the smart contracts.
Here are my propositions.

1. **Unique Key ID's**:

Perhaps Unique Keys can be generated via:

[code]

2. **Changing to multi ownership, multi role key holders**:

OpenZeppelin Project is working on an RBAC Protocol: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/escrow-exploration/contracts/access/rbac/RBAC.sol as part of their new RC. In this case, i

[2018-11-27 08:14] ChrisCates commented on #148
I actually originally commented with things that weren't relevant to this topic (although, RBAC would be nice to iterate on later). The idea of NFT Unlock Keys is cool though.

However, for the scope of this issue I propose:

1. **Nonce for deployed keys**:

This means that we deploy a new `PublicLock` we need to have a `nonce`, which I suppose will be `uint lockIndex`.

**Unlock.sol**:
[code]

Th

[2018-11-27 14:09] julien51 commented on #148
Thanks a lot for this!
I wonder if there is a miscommunication here. We're not trying to get the locks to be the NFT, but the keys themselves.

I am not 100% sure why we would need a nice for the locks?

[2018-11-27 14:33] julien51 commented on #604
Yes! Instrumentation is going to be a fairly project to help us collect valuable data but also make sure we respect unlock's users' privacy. I suspect most existing tools/platform will be limited on that front... but we can certainly use the blockchain itself to assess things like latency between transaction submission and confirmations.

[2018-11-27 14:43] julien51 commented on #594
Hey, sorry I dropped the ball on this.
What is failing is still not the react app, but compiling/deploying the smart contracts: see this line:
[code]

Could you please provide the *whole* log for `npm run deploy-lock` ?

[2018-11-27 14:46] julien51 commented on #219
@cnasc I am not a huge fan of filling the the whole background, but I guess that is probably the easiest way forward to ensure we do not have any "blank" area...

It is ok if a circle extends beyond the far edge as it it will cropped.

[2018-11-27 14:47] julien51 commented on #138
@Sherry-94 Nope... sorry this is for full time Unlock applicants. Thanks for your understanding.

[2018-11-27 16:08] nfurfaro commented on #138
@julien51 I believe this is actually completed...

On Tue, Nov 27, 2018, 7:47 AM Julien Genestoux, <notifications@github.com>
wrote:

--

Nick Furfaro

[2018-11-27 16:15] julien51 commented on #138
The smart contract part, but the rest is not ;) Thanks.

[2018-11-27 19:44] benwerd opened #612 ""Missing transaction" error is oblique / meaningless"
If there's a storage mismatch and the system can't find a transaction, it simply displays "missing transaction" in a box. This means something to us as developers, but is not useful to the user. A more helpful explanation might be something along the lines of "We couldn't find the transaction for 'New Lock' on the blockchain. This might be because the lock wasn't saved properly. Some features may

[2018-11-27 20:02] njmyers commented on #526
@julien51 Hi there! I've started work on the transaction log page. Do you have any methods that you are using to simulate transactions? It appears I would need some sample data and I wasn't able to find any code that clearly defined the object shape of a transaction. Thanks for any advice!

[2018-11-27 20:21] ChrisCates commented on #148
@julien51, I just threw in Point 1 as an extra bonus.
The actual implementation for NFT Keys is in Point 2. I updated the original comment to just completely omit the redundant NFT Public Locks.

[2018-11-27 20:39] benwerd commented on #585
I've been looking at this this morning, and I'm confused as to where we should go find the transaction details. My assumption is that we should check on a transaction confirmation if the lock's address hasn't been set yet, and then go and backfill, but what do you think?

[2018-11-27 22:03] julien51 commented on #612
Ha! I think this is only happening in dev tho, when a transaction stored locally (localStorage) cannot be found on your local ethereum node ;)

[2018-11-28 18:25] benwerd opened #616 "Working embed code for paywall"
Users need to be able to embed the JS code and have Unlock actually provide a paywall on their sites.

[2018-11-28 21:29] julien51 opened #619 "Do not lint snapshots"
Our linting script is linting snapshots... which is, not useful and will create code diffs which are not real.
Let's remove lint from that!

[2018-11-29 00:02] cnasc commented on #219
Is there any more detailed guide than in the docs directory? Any lock I create remains pending (not sure if that's intended behavior at the moment since this is WIP). For the moment I'm looking at my changes by adjusting the pending colors.

[2018-11-29 00:08] #619 closed

[2018-11-29 01:12] julien51 commented on #528
Implemented the button in https://github.com/unlock-protocol/unlock/pull/623

[2018-11-29 02:30] julien51 commented on #219
Also probably worth looking at storybook (`npm run storybook`) as you probably do not need the full setup (no need to run a local ethereum node...)

[2018-11-29 02:32] julien51 commented on #585
Sorry for the delay. I think you have the right idea... I'll check whether the recent changes in web3Service actually fixed that! (when the app starts we check each transaction and trigger the event which we might have missed...)

[2018-11-29 02:36] julien51 commented on #148
I am confused between `keyByOwner` (shouldn't that be `keysByOwner`?) and `keysOwned` (isn't that redundant?)

Also, I think for now, let's just not care about 'merging' the keys? This is probably outside of ERC721 and specific to Unlock, right?

Finally I see you suggest changing `PublicLock.sol` but would'nt it make more sense to change the interface rather?

[2018-11-29 02:37] julien51 commented on #526
Sorry for the delay... So, you can find how transactions are created in the `web3Service` file.
I would suggest creating a couple locks locally (which would create transactions!).

[2018-11-29 02:51] cnasc commented on #219
Having just restarted the server and gone to the dashboard there is a message on the page saying missing transaction, nothing in the console:
![screen shot 2018-11-28 at 9 45 36 pm](https://user-images.githubusercontent.com/9300702/49196007-42030a80-f357-11e8-9301-2f402c736f8b.png)

And when I create a new lock no errors appear in the console either.

Thanks for the tip on storybook, I can work wi

[2018-11-29 14:06] concerned3rdparty commented on #594
Output of `npm run deploy-lock`:

[code]

[2018-11-29 14:33] julien51 commented on #594
Hum, so far so good, could you then run `nodemon src/server.js`?

[2018-11-29 14:38] julien51 commented on #219
The missing transaction error happens because basically the web app keeps track of past transactions using localStorage... but when you restart the app, the blockchain data on your local node is wiped out, so the transactions saved in localStorage cannot be found.

I think we can live with 216 possible shapes + color variations.

[2018-11-29 16:05] julien51 opened #625 "Replace web3.js with ethers.js?"
Several people have recommended that we look at ethers.js which they claim is both more stable and better designed than web3.js.
We tried to isolate web3 handling to web3Service but migrating may still involve significant work.

[2018-11-29 20:31] julien51 opened #630 "Better tests with expect.assertions()"
We should add a lint rule which [enforces](https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/prefer-expect-assertions.md) the use of `expect.assertions(_)` on each test to make sure the right number of assertions is executed.

Additionally we should ensure that the `only.` modifier is never used (we can also consider forbidding `.skip`)

[2018-11-30 01:10] julien51 commented on #585
I believe this is solved.

@benwerd can you confirm on your end too?

[2018-11-30 01:11] julien51 commented on #528
All implemented! Closing now!

[2018-11-30 01:11] #528 closed

[2018-11-30 01:12] julien51 commented on #449
Closing as this is happening now!

[2018-11-30 01:12] #449 closed

[2018-11-30 01:13] julien51 commented on #393
I think this is a problem with ganache... So only in Dev.

[2018-11-30 04:35] cnasc commented on #219
I have a work-in-progress up on my fork, https://github.com/cnasc/unlock/commit/7739280a8b90f2b195b4b70ffab0ecbcaa1b518f will hold off on creating a pull request until I give it another cleanup pass.

The functional aspect of this seems to work nicely, though I think from an aesthetic perspective there is still room for improvement. Not all of the permutations of the original circle placement look

[2018-11-30 14:30] julien51 opened #636 "Bad position for hamburger"
The hamburger menu is slightly off on my Android (Nexus 3) phone which leads to a horizontal scroll...

[2018-11-30 16:20] julien51 opened #637 "Allow for cancellation"
This is a feature which I thinks public locks could have: the ability for their owner to define terms of a cancellation.
In practice I think cancelling a key would just mean "selling it back" to the lock by  the key owner. In that case the key owner would get a (partial) refund. I believe the easiest way to do that would be to decide on the amount of the refund based on the remaining validity of t

[2018-11-30 16:22] julien51 commented on #219
Thanks @cnasc !
Agreed that generative art is probably pushing this a bit ;)
I like the idea of creating a few different designs too but I think can also add mirrors instead of just rotation?

[2018-11-30 16:59] julien51 opened #640 "Alignment broken on Lock form"
Our lock form is not looking great:
<img width="1715" alt="screen shot 2018-11-30 at 11 58 28" src="https://user-images.githubusercontent.com/17735/49303286-551cf400-f497-11e8-92e8-61d078ea9dec.png">

Values are not aligned, input fields are too small.
cc @smombartz

[2018-11-30 17:02] julien51 commented on #529
@benwerd This is not working for me on master. When I click on the button, nothing happens.
We should also probably show an error message when the balance is 0 and/or disable the button?

[2018-11-30 17:55] #636 closed

[2018-11-30 18:47] benwerd commented on #640
I think a few extra grid values found their way in there. And yes - the input fields are set in pixels and clearly should be variable. Fixing.

[2018-11-30 23:43] cnasc commented on #219
Mirroring can definitely work, basically if the lock address is even we can add a `scale(-1, 1)` plus a translate to bring it back into position.

So, just to confirm, before I start the pull request I should:

1. Implement the mirroring
2. Propose a few additional shapes

[2018-12-01 06:16] nfurfaro commented on #637
It seems reasonable on a technical level. It's probably preferable to have a key owner sell their key to another user rather than back to unlock ( from a revenue perspective). But if this is something you want to  implement, it will be relatively easy if done after some of the ERC721 changes discussed in #148, specifically the ability to " top-up a key's time with another key's time." If this were

[2018-12-01 21:40] nfurfaro commented on #625
This could be a good resource if the decision is made to migrate to ethers.js.
https://github.com/LimeChain/etherlime/blob/master/README.md

[2018-12-02 02:10] ChrisCates commented on #148
@julien51, yea, the variable should be changed to `keysByOwner`.

Also, yes, `keysOwned` is redundant. You can just run `.length` on the array to get the length of the keys. Thanks for correcting that.

Both `PublicLock.sol` and `ILockCore.sol` should be changed. So yes, absolutely.

Regardless, for a recap... I'm going to push a PR tomorrow... But here is what's going to happen:

1. Update `Publi

[2018-12-02 06:10] nfurfaro commented on #569
This was addressed by #642. Closing.

[2018-12-02 06:10] #569 closed

[2018-12-02 23:56] julien51 commented on #148
Great @ChrisCates ! No obvious problem for me here!

[2018-12-02 23:58] julien51 commented on #637
I think this is right: cancelling a key would be transferring back the remaining time on it back to the lock owner.

[2018-12-02 23:59] julien51 commented on #219
Yes! confirmed on both points.

[2018-12-03 00:01] cnasc commented on #219
Sounds good! I have a late meeting tomorrow that may keep me from this but certainly you can expect something Tuesday. ---- On Sun, 02 Dec 2018 18:59:46 -0500  Julien Genestoux<notifications@github.com> wrote ----Yes! confirmed on both points.  —You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-03 00:02] julien51 commented on #594
Oh.... so these files are aliases which are pointing to the artifacts produced when the smart contracts are compiled and I think this may be only working of Unix OSes?

[2018-12-03 16:18] nfurfaro commented on #363
So, looking back to #480, I thought this was at least temporarily solved. There are some manual steps in `smart-contracts/Deployment.md`.
TLDR; The plan was to have the build dir in `.gitignore` most of the time, and comment it out just when making a commit after a significant deployment or changes to the contracts. As the artifiacts are already in git, the app still has access to them.
However, i

[2018-12-03 16:45] nfurfaro commented on #148
So, I don't want to duplicate any work done on this. I'm pretty sure that the only thing making us non-compliant with the basic ERC721 implementation is the need to have a unique and immutable key id for each key. @ChrisCates regarding the 3 points above, are you working on a pr to implement some or all of these items? If any are still untouched I'll open a separate issue for it as requested by @j

[2018-12-03 17:43] nfurfaro commented on #363
It looks like the approach he's taking is compiling the contracts in CI for a consistent build, and then running this script to inject the zos network details into the build artifacts.  https://gist.github.com/asselstine/6c6f5ee04e1fae90ad0c70f282225b60
It looks like there's a good chance this script may be added to zos as a native command like `zos compile`.

[2018-12-03 18:02] benwerd commented on #604
It seems like instrumentation / analytics for the blockchain could be really valuable in lots of contexts. It's surprising to me that I can't find a robust tool that does this already. If anyone's reading this, it's a great startup idea ...

[2018-12-03 18:17] nfurfaro commented on #148
@ChrisCates Regarding your pending PR and point # 3 in your comment above:
"Update ILockPublic.sol with new variables... The majority of the existing functions in PublicLock.sol should be in there as interfaces."
The current structure of the interfaces has most of the functionality of all locks (public, private, etc) defined in `ILockCore.sol`. `ILockPublic.sol` exists for composition purposes onl

[2018-12-03 18:32] nfurfaro commented on #637
@julien51 Does it make sense to you to do this after #148 is complete?

[2018-12-03 23:18] ChrisCates commented on #148
@nfurfaro, I'm not 100% confident in the Pull Request provided here: https://github.com/unlock-protocol/unlock/pull/653

But I didn't want to keep you guys waiting.

Also in regards to `ERC721.sol`, we need to create functions for the interface in order to make sure it outputs the correct data when a generic ERC721 Web3 Interface is applied to it.

[2018-12-04 18:00] todo[bot] opened #657 "start only when the smart contract was deployed?"
https://github.com/unlock-protocol/unlock/blob/d44232e5f02a9190eaf63c73d9f63ee6fb07a6fa/unlock-app/src/services/web3Service.js#L209-L214

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d44232e5f02a9190eaf63c73d9f63ee6fb07a6fa when #654 was merged. cc @unlock-protocol.

[2018-12-04 18:00] todo[bot] opened #658 "start only when the smart contract was deployed?"
https://github.com/unlock-protocol/unlock/blob/f93f9bb4488b1857af7714261a4685284d605649/unlock-app/src/services/web3Service.js#L209-L214

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f93f9bb4488b1857af7714261a4685284d605649. It&#x27;s been assigned to @julien51 because they committed the code.

[2018-12-04 19:34] nfurfaro commented on #625
I've not used ethers.js, but more often than not I hear it described as being more stable than web3. It probably wouldn't hurt to migrate, but it doesn't seem critical unless there are too many pain-points with web3 to make working with it efficient/effective.

[2018-12-05 00:50] #658 closed

[2018-12-05 00:51] julien51 commented on #657
When retrieving past transactions for a user we could start looking for them from the block at which Unlock as been deployed...

[2018-12-05 03:05] julien51 commented on #594
Yeah, this is exactly what I was thinking about: what should be a symlink (on Unix based systems) is a file on Windows 10.
I am trying to find a solution to that. Please bear with us.
Thanks

[2018-12-05 03:06] julien51 commented on #625
@benwerd I don't think moving to ethers.js would actually mean moving off of/away from Metamask ;) We just would use a different JS library to interface with the providers (including Metamask).

[2018-12-05 03:07] julien51 commented on #465
@amchrissmith Please confirm that you do not plan on submitting a PR for this one? (We'd be happy to take it no matter what ;))

[2018-12-05 07:56] concerned3rdparty commented on #594
By the way, is not truffle artifacts folder path is `build/contracts/`? Why in this project's case they are under smart-contracts/build/contracts ?

[2018-12-05 14:03] PierrickGT commented on #465
Hi,

I'm willing to help on this issue through Gitcoin but would like to know how to get some keys in a lock first.

I've started the project but it looks pretty different from the screenshot shared on this page. Is it because this is a final design and not the one in the app now?

I can create locks but how do I get keys in those locks? Also, does the issue is about adding pagination to the keys

[2018-12-05 15:13] #219 closed

[2018-12-05 15:16] julien51 commented on #526
@njmyers What's the status on that one? Can I help in any way?

[2018-12-05 15:19] julien51 opened #664 "Deploy contract in dev using ZOS"
We are using ZeppelinOS to deploy our contract on rinkeby and mainnet... we should also be using ZOS when we deploy contracts in dev in order to ensure consistency.

[2018-12-05 15:23] julien51 commented on #616
Any progress on that @benwerd ?

[2018-12-05 15:25] julien51 commented on #585
Closing.

[2018-12-05 15:25] #585 closed

[2018-12-05 15:29] benwerd commented on #529
Yeah, I’m still working on this. At the point where the buttons are rendered, most of lock is currently not populated (including the balance) and I’m having trouble telling the component to rerender it. Should have a fix in this morning.

[2018-12-05 15:29] julien51 commented on #390
Dupe of https://github.com/unlock-protocol/unlock/issues/529 . Please confirm @benwerd .

[2018-12-05 15:31] julien51 commented on #179
Closing because we are not using local storage anymore. @benwerd please re-open if this is not appropriate.

[2018-12-05 15:31] #179 closed

[2018-12-05 15:39] julien51 opened #665 "Upgrading the rinkeby deployed Unlock contract fails"
@nfurfaro recently [updated our smart contract code](https://github.com/unlock-protocol/unlock/pull/642) to use the latest version of OpenZeppelin (2.X).

We are now trying to deploy this up to date version to Rinkeby by upgrading the deployed version.
We are unfortunately unable to do so:

[code]

We need to understand how critical these 2 things are and find a way forward.

For the `enum` issue:

[2018-12-05 15:50] julien51 opened #666 "Triggered events are not processed correctly on Rinkeby"
Our [staging](http://staging.unlock-protocol.com) application is not working as expected. The issue seems to be that events/logs are not parsed correctly when they happen.
This is likely due to the fact that the deployed version of the smart contract on Rinkeby is different from the version used for the ABI, since this [PR](https://github.com/unlock-protocol/unlock/pull/642) has been merged.

2 op

[2018-12-05 16:02] nfurfaro commented on #664
I did a bit of work on this yesterday and it seems that it will be pretty
straightforward.

On Wed, Dec 5, 2018, 8:19 AM Julien Genestoux, <notifications@github.com>
wrote:

--

Nick Furfaro

[2018-12-05 16:49] njmyers commented on #526
Hi @julien51. Yes I have a few questions.

1) Is the intention to have the log page at a new url like /dashboard/log? I was playing around with creating new pages using the next interface but there seems to be some issues especially when navigating to the dashboard directly. When I startup the app and navigate to http://localhost:3000/dashboard I get an error that is preventing me from creating th

[2018-12-05 16:57] nfurfaro commented on #665
Some context:

zOS has some built-in contract validation functionality. When attempting to upgrade it will check the layout of the new version so see if adheres to the storage requirements for upgrading. **Violating any of these storage layout restrictions will cause the upgraded version of the contract to have its storage values mixed up, and can lead to critical errors in your application.**

•

[2018-12-05 17:02] nfurfaro commented on #665
For the first issue: ( Variable locks (Unlock) contains a struct or enum. )

zOS is simply warning us that it is unable to verify the validity of the storage in the contract we want to upgrade to, because it can't validate struct or enums. Here, it's complaining about the `struct LockBalances` which is used in the `locks` mapping.

Solution: When upgrading, we need to manually confirm that we have

[2018-12-05 17:09] nfurfaro commented on #665
For the second issue: ( Variable 'address owner' in contract Ownable was renamed to _owner in openzeppelin-solidity/contracts/ownership/Ownable.sol )

This is just a friendly reminder of one of the restrictions mentioned above in my first comment:
"Keep in mind that if you rename a variable, then it will keep the same value as before after upgrading. This may be the desired behaviour if the new va

[2018-12-05 17:13] benwerd commented on #625
Right, but it would give us more flexibility, right? Or am I misunderstanding that?

[2018-12-05 17:15] benwerd commented on #390
Confirmed. Closing this issue.

[2018-12-05 17:15] #390 closed

[2018-12-05 19:12] julien51 commented on #526
Thanks!

1. I think maybe just `/log` would be good actually. I think you need to create a new "Page" component similar to the Dashboard component and then make sure you link to it inside the next config?

2. We build our own transaction objects rather than re-use the ones provided by the web3 library as this will let us change libraries more easily if/when we need. All of the `transaction` object

[2018-12-05 19:34] njmyers commented on #526
@julien51 Yes that is most helpful. Yes I was able to create the log page but for some reason putting it under /dashboard/log was causing an issue. I think it is possibly related to #667 and the SSR component that you are using. I'll simply work with /log for now.

Thanks for your explanations regarding the objects. That makes sense but since I am a ethereum newbie it had me thoroughly confused!

[2018-12-05 20:31] julien51 commented on #665
Ok, I'll go ahead and try to force things then!
I want us to get confidence so we should still clarify both of these points.

1. I think I agree/understand what you say, but I still do not understand *why* ZOS is complaining because the `enum` is in a fully different contract. I do not like that we get a warning like that if it is irrelevant. So there is something that we miss here.

2. I think I

[2018-12-05 20:33] nfurfaro commented on #665
As for #1.) "Variable locks (Unlock) contains a struct or enum."
It's a struct in this case.

[2018-12-05 20:35] julien51 commented on #665
Ho indeed, but my comments are the same ;)

[2018-12-05 20:39] nfurfaro commented on #665
So `Unlock.sol` contains a struct `LockBalances` which is used in the mapping `Unlock.locks`. The current version of zos is not able to automatically check this struct for a diff between v1 and the new version we're trying to upgrade to, so we have to check it. If our new version did something like add a new field to `LockBalances` it would make a mess of things.

[2018-12-05 20:43] julien51 commented on #665
Hoooo, my mistake! I thought it was complaining about the struct in the `Lock.sol` contracts!
Do you recommend we do not use structs? (just 2 distinct mappings)

[2018-12-05 20:53] julien51 commented on #665
Deploy success! https://github.com/unlock-protocol/unlock/pull/669

[2018-12-05 23:53] julien51 commented on #465
@PierrickGT So you would need to first deploy a lock, then purchase a key from the demo page.

The demo is actually quite outdated at this point, but it is still the most complete "view" of what Unlock does.

To purcahse keys after you've deployed the lock , click on the on code icon in the toolbar  for that lock
<img width="40" alt="screen shot 2018-12-05 at 18 00 43" src="https://user-images.git

[2018-12-06 02:59] julien51 opened #671 "Lock icon barely visible"
We "randomly" pick the color of the lock icons using their addresses. We need o ensure that the color will have sufficient contract over the (white) background.
<img width="226" alt="screen shot 2018-12-05 at 21 58 13" src="https://user-images.githubusercontent.com/17735/49558425-0200d200-f8d9-11e8-80f7-be3eb1c52f17.png">

This one was generated via the address `0xc5C809c94D71463E0c34e8e1c64FbF922

[2018-12-06 02:59] julien51 commented on #671
cc @smombartz

[2018-12-06 14:20] julien51 commented on #465
Ho wow. that's weird. Any error in the console?

[2018-12-06 14:38] PierrickGT commented on #465
There's only the following error: `Warning: Expected server HTML to contain a matching <a> in <div>.`

[2018-12-06 14:39] julien51 commented on #465
Hum, this is really strange. My only explaination is that for some reason the lock has not been deployed.
Could you try creating another lock and see if you get the same thing?

[2018-12-06 14:54] PierrickGT commented on #465
You're right, it does seem that the lock I create aren't deployed.
Are you sure the dev environment works?

[2018-12-06 14:56] julien51 commented on #465
Hey. It works from here... but it looks like something is not working for you. Let me write a debugging guide and get back to you ASAP. Could you reach out on [Telegram](https://telegram.me/unlockprotocol) too? (this will make async coms easier)

[2018-12-06 15:09] PierrickGT commented on #465
Yes, it will be way more easier on Telegram. :)

[2018-12-06 17:07] julien51 commented on #465
@PierrickGT This PR _should_ help: https://github.com/unlock-protocol/unlock/pull/675

[2018-12-06 17:10] julien51 commented on #138
@jedehan: we [found a bug](https://github.com/unlock-protocol/unlock/pull/675) when using the latest version of ganache-cli. Please nake sure you use `6.1.7`.

[2018-12-06 17:12] julien51 commented on #666
After digging a little bit further we found that the same issue was happening with the most recent version of ganache-cli. For now the only way around in local dev is to use `ganache-cli 6.1.7`.

[2018-12-06 17:51] benwerd commented on #671
On this: WCAG 2.0 asks for a contrast ratio of at least 7:1 for text. I think it probably makes sense to also use this for icons?

[2018-12-06 17:52] benwerd commented on #657
Interesting. Hardcoding it or determining at the point of deploy?

[2018-12-06 17:53] benwerd commented on #578
Additionally, the loader should be waiting for the DOM to be ready before attempting to cover an area of the screen with a lock iframe.

[2018-12-06 17:56] benwerd commented on #529
The two stages of this that are not currently implemented are:

1. The "pending browser wallet" status. I can go looking, but I'm not sure how to reliably detect this (beyond maybe triggering it when the button is clicked, but this wouldn't detect cancels).
2. Withdrawal complete. I'm worried about the status sticking around long after the transaction is confirmed - but maybe we display it when th

[2018-12-06 20:36] julien51 commented on #666
After upgrading to `ganache-cli 6.2.3`, we have an issue reading events from the logs.

[code]

This is apparently a known issue with [`web3.js 1.0.0-beta.36` as shown there](https://github.com/ethereum/web3.js/issues/1916#issuecomment-427398031).

Reverting web3.js to version web3@1.0.0-beta.33 solves that issue.

So, we either use `web3.js 1.0.0-beta.36` or `ganache-cli 6.2.3`.

[2018-12-06 20:43] julien51 commented on #666
Adding that [we should consider ethers.js](https://github.com/unlock-protocol/unlock/issues/625) ;)

[2018-12-06 22:40] #666 closed

[2018-12-06 23:11] nfurfaro commented on #665
No, I think they're  a valuable data structure, and this warning will prompt us to review whether we've made changes to our struct before upgrading. We just can't make changes to it ;)

[2018-12-07 08:08] concerned3rdparty commented on #594
Oh sorry, my mind just hardcoded directory structures from other projects i've seen :)
By the way windows wsl symbolic links can be created by activating developer mode setting of windows. But this also have problems , i've just commented about this on the related issue of wsl project [](https://github.com/Microsoft/WSL/issues/2898#issuecomment-445151056) . Symbolic links can be created in pwd, if

[2018-12-07 14:05] julien51 commented on #671
Yes! Now to find how to compute that ratio ;)

[2018-12-07 14:18] julien51 commented on #529
1. I looked at that for other transactions (local creatiomn, key purchase) and I found that it was a mess... so I skipped for other things. The fact that the browser wallet window will open is probably good enough?

2. Yes I think that would work. We should also soon have the list of transactions implemented which will be helpeful.

[2018-12-07 14:21] julien51 commented on #657
Yeah, hardcoding seems to be the only way at this point because Zeppelin OS does not keep track of the transaction which deployed the smart contract apparently. (with the transaction, we could find the block... and once look up after that).
See this issue https://github.com/zeppelinos/zos/issues/450 opened by @nfurfaro.

[2018-12-07 14:23] julien51 commented on #594
Thanks for the follow up. I think this issue may also get better once we have a better solution for https://github.com/unlock-protocol/unlock/issues/363

[2018-12-07 14:44] iamchrissmith commented on #465
@julien51 correct, I am not currently planning on working on this. I will let you know if that changes or if i want to pick up another issue in the future.

[2018-12-07 15:05] nfurfaro commented on #594
@Julien I think I have a solution for #363, but I'm not working on anything
else until we have zos sorted out.

On Fri, Dec 7, 2018, 7:23 AM Julien Genestoux, <notifications@github.com>
wrote:

--

Nick Furfaro

[2018-12-07 15:29] julien51 opened #680 "Telegram Link"
We use telegram for community communications: [https://t.me/unlockprotocol](https://t.me/unlockprotocol).
We need a link to that channel on the website, in the top menu icon bar (to the right):
<img width="162" alt="screen shot 2018-12-07 at 10 28 37" src="https://user-images.githubusercontent.com/17735/49656262-e5fd4d80-fa0a-11e8-8d27-69302e72c7c8.png">
as well as  in the footer.

The telegram sv

[2018-12-08 06:40] wawhal commented on #465
@julien51 I have started working on this from Gitcoin. Wish to know certain things.

1. You want this to be serverside pagination or clientside?
2. You want me to build custom pagination so that you can have full control over it, or any standard (well-maintained) pagination component will do?

[2018-12-08 10:37] wawhal commented on #465
@julien51 I have achieved something like this.
I can open a PR if you accept my work application from gitcoin :)

![gif](https://media.giphy.com/media/2w5fvPom3YkkFJjMNN/giphy.gif)

[2018-12-08 14:15] srisankethu opened #685 "Installation errors"
**Describe the bug**
I was trying to follow the installation instructions and faced some issues.
On running "cd unlock-app && npm run dev", I  am getting errors.
Log -> https://pastebin.com/ACPqX5w3

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Instructions in README.md

**Expected behavior**
Successful installation

[2018-12-08 14:15] julien51 commented on #685
Thanks! Could you tell us more about your setup? What OS, version of node?

[2018-12-08 14:43] srisankethu commented on #685
On going to localhost:8545 on my browser, it is returning "400 Bad Request"

[2018-12-08 14:46] julien51 commented on #685
Why would you use a web browser? port `8545` is not necessarily an http server.
You have to find which process listens on that port and terminate it.

[2018-12-08 14:55] srisankethu commented on #685
Yes, killed the process. New error though. Updated my log(pastebin).

[2018-12-08 15:03] julien51 commented on #685
Ok, run `npm install` again from the root because the error indicates you're missing dependencies ;)

[2018-12-08 15:31] srisankethu commented on #685
Did it. Same error.

[2018-12-08 15:38] julien51 commented on #685
Hum. This is strange. Could you show the full logs from `npm install` ?

[2018-12-08 15:40] srisankethu commented on #685
I need to do ``npm install eslint babel-register babel-polyfill`` for every new ``npm install`` i.e after ``git clean -dfx``

[2018-12-08 15:49] srisankethu commented on #685
https://asciinema.org/a/vychGGRKOHYrR7NO8DDT1CBw8

[2018-12-08 16:06] julien51 commented on #685
Ok, here are some comments:
 - please do not use `sudo` when running `npm install`. This exposes you to terrible security issues.
- do not run unlock as `sudo` either for the same reasons.
- unfortunately I cannot read the error happening at 2:19. Could you paste it here? (please do not use pastebin because if someone bumps into similar error they would not be able to use search on github to find

[2018-12-08 17:30] julien51 commented on #685
Hey. For the sake of it, i want ahead and started an AWS EC2 server with Ubuntu and followed the instructions and everything is running as expected. So I am confident we can get you past that finish line ;)

[2018-12-10 16:44] julien51 opened #688 "Validate inputs on form when creating lock"
When creating a lock but entering values which are not of the right type (strings instead of numbers for example), nothing happens. We should probably show an error indicating that and/or update the form field to show it's not valid? (I like when form are circles in red to indicate trouble: @smombartz does it make sense).

[2018-12-10 18:15] jedahan commented on #138
Where I'm at:

New to react, so still figuring out how everything is wired together. Current plan is:

* add editing state to lock
* create EditOrSave component for IconBar
* pass editing prop to EditOrUpdatePrice component which renders the correct Button component
  * pass new `lock.edit()` function which sets `editing` to true
* If `lock.editing` make everything read-only except for the price

[2018-12-10 19:09] benwerd commented on #688
Thinking about using this: https://www.npmjs.com/package/react-form-validator-core

Which would allow us to swap out an "invalid" style pretty easily.

[2018-12-12 00:59] benwerd opened #700 "Switch embed code to use metatag"
We should refactor the way the code detects locks in the third-party page HTML.

Currently, we detect a div with a lock id. However, we're using a full-page overlay rather than locks that can cover divs arbitrarily. To reflect this, we should switch to look for a <meta name="lock" value="{lock id}" /> tag in the head.

[2018-12-12 04:06] chiro-hiro commented on #334
@nfurfaro `uint` could be `-1` lol

[2018-12-12 05:09] chiro-hiro commented on #334
![image](https://user-images.githubusercontent.com/8078873/49848208-a9649400-fe06-11e8-9c5a-a9fdd1dbf59f.png)
@julien51 Check it!,

[2018-12-12 06:54] nfurfaro commented on #334
@chiro-hiro if -1 is passed to the contract it sets the number of keys to the maximum value of 1.157920892373163e77 keys.

[2018-12-12 12:21] vikaskyadav commented on #327
Is anybody working on this issue or can I take it otherwise?

[2018-12-12 14:45] #688 closed

[2018-12-12 14:59] julien51 commented on #334
@chiro-hiro looking good! Please use the same design as above for the infinite number of keys. And for now we do not need infinite duration ;) Thanks!

[2018-12-12 16:44] chiro-hiro commented on #334
@nfurfaro `unsigned integer` is away greater or equal to 0 that's what was I expected. In this case could be -1 turn on `sign bit`. Thank you!.

@julien51 Ok will do,

[2018-12-12 17:20] benwerd commented on #616
Added in #699, although there are certainly refinements that should be made.

[2018-12-12 17:20] #616 closed

[2018-12-12 17:22] benwerd commented on #578
Implemented in #699 (based on @julien51's original), with an optional decentralized URL for the overlay to be stored in `window.unlock_url`. A deploy to IPFS (and dat!) would certainly be possible at this point, but we should wait until #700 is implemented.

[2018-12-12 17:22] #578 closed

[2018-12-12 17:57] benwerd opened #702 "Key owner should be able to transfer key to another owner"
The owner of a key should be able to transfer it to someone else.

[2018-12-12 21:47] nfurfaro commented on #334
@chiro-hiro I may be misunderstanding you, but:
uint is always >= 0 as you say. The contract will only accept a uint, so if we pass it -1, it will be cast as a uint which underflows and becomes 1.157920892373163e77.
Does this make sense? I'm happy to modify if necessary.

[2018-12-13 01:34] #700 closed

[2018-12-13 02:31] benwerd commented on #531
I think we can remove this now, right @julien51?

[2018-12-13 03:14] julien51 opened #710 "Mobile UI for Dashboard"
The dashboard is currently not mobile friendly... at all!:
<img width="410" alt="screenshot 2018-12-12 at 22 11 23" src="https://user-images.githubusercontent.com/17735/49913239-e490b280-fe5a-11e8-8ef4-a45ea91d5fa4.png">

This is a bit sad because @smombartz actually did a pretty good job at it:

<img width="519" alt="screenshot 2018-12-12 at 22 13 47" src="https://user-images.githubusercontent.co

[2018-12-13 03:16] julien51 commented on #710
Similarly the form [can be adapted to mobile](https://www.figma.com/proto/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-App?node-id=0%3A301&scaling=scale-down):

<img width="462" alt="screenshot 2018-12-12 at 22 15 44" src="https://user-images.githubusercontent.com/17735/49913424-8a442180-fe5b-11e8-808c-4ace8637da94.png">

[2018-12-13 03:17] cellog commented on #208
react-redux used docusaurus (https://docusaurus.io/) and hosts the docs on netlify for a good rate as an open source project. This could work well for unlock

[2018-12-13 04:37] benwerd commented on #710
I'll take this on tomorrow. We should consider making it a norm to include responsive screenshots as well as desktop ones when there's a visual change. Let's discuss tomorrow.

[2018-12-13 05:06] cellog commented on #710
I started this about 30 minutes ago for fun. Got this much started which you should plagiarize:

[code]

Can be used like:

[code]

[2018-12-13 05:06] cellog commented on #710
standard media queries from https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

[2018-12-13 05:12] benwerd commented on #710
Nice one @cellog!

[2018-12-13 20:18] julien51 commented on #531
Not sure yet :/  I guess thebest way to try is to create a lock with not enough gas and see what happens?

[2018-12-13 20:57] #330 closed

[2018-12-14 15:31] akeem opened #714 "Integration tests required for the platform app (unlock-app)"
**Is your feature request related to a problem? Please describe.**
At the moment the repo contains a few components, as items are being developed the totatlity of components need to be tested to ensure that their relationships support the existing set of functionality going forward.

**Describe the solution you'd like**
We should build a test suite that covers smoke testing of basic functionality

[2018-12-14 17:34] jedahan commented on #138
force pushing after rebasing to master

[2018-12-15 14:26] cellog opened #723 "fresh install when using nvm with v8.11.4 fails due to default npm being outdated"
when building from scratch, using nvm like so:

`nvm install v8.11.4`

the default npm version is 5.6.0. truffle is not compatible with npm 5.6.0. The problem is quite subtle: npm 6.5.0 (I feel for anyone slightly dyslexic trying to debug this issue!) is the current version, and it does work.  Thus, the install instructions should be updated to say that node version is `8.11.4` and npm is the late

[2018-12-15 14:37] cellog opened #725 "remove merged branches from git"
This is a simple cleanup. There are a number of branches that have been merged. There is no reason to keep them around, so it's best practice to remove them. github makes this very easy :)

[2018-12-15 14:39] swkidd commented on #327
relevant metamask issue: https://github.com/MetaMask/metamask-extension/issues/1766

[2018-12-15 17:35] julien51 opened #728 "Package.json and package-lock.json inconsistency"
When `package.json` is changed we should enforce that the corresponding `package-lock.json` is also part of the commit.

[2018-12-15 17:36] julien51 commented on #728
For example, [this PR](https://github.com/unlock-protocol/unlock/pull/718) introduced a discrepancy.

[2018-12-16 01:27] #723 closed, assigned to nobody

[2018-12-16 02:25] swkidd opened #730 "On Windows "npm run dev" fails, '&' command not supported"
Running 'npm run dev' from Windows console fails with error below. This is because starting a command in background is not supported in windows using the '&' command.

To Reproduce:
    1. Be running a windows computer with default command prompt
    2. clone commit with hash 9d840a56
    3. from unlock folder run 'npm install'
    4. change directory to unlock\unlock-app and run 'npm run dev'

)

[2018-12-16 02:47] cellog commented on #730
this is a unix-specific thing, yes. Perhaps we should also develop using parallels or vmware to ensure windows is supported?

[2018-12-16 14:50] nfurfaro commented on #148
@ChrisCates
Regarding your comment above :
"Also in regards to ERC721.sol, we need to create functions for the interface in order to make sure it outputs the correct data when a generic ERC721 Web3 Interface is applied to it."
Could you elaborate on this? Maybe you could post an example of one such function?
@julien51 as you commented above, would you still like this issue broken down into some sm

[2018-12-16 20:18] julien51 commented on #730
@cellog yes! I believe it would be good to deploy/run on CI setup on a windows env... maybe in the context of our work on https://github.com/unlock-protocol/unlock/issues/195 ?

[2018-12-16 20:18] julien51 commented on #730
Closing for now as I merged your fix @swkidd ! Thanks again...

[2018-12-16 20:18] #730 closed

[2018-12-16 20:19] julien51 commented on #725
Yeah, that is what I just did ;) I think a good way to ensure this does not explode is also to make sure we delete our branches on GH when we merge! cc @akeem @benwerd !

[2018-12-16 21:53] benwerd commented on #725
Also: I’ve picked up the habit of sticking my name at the beginning of branches to make ownership clear. Maybe we can make that a norm here? (I do always try to delete branches on merge, and right now my only branches are related to work in progress.)

[2018-12-16 22:05] nfurfaro commented on #725
Same here. I always name my branches n44o- .... And try to remember to
click the "delete branch" button after merge.

On Sun, Dec 16, 2018, 2:53 PM Ben Werdmuller, <notifications@github.com>
wrote:

--

Nick Furfaro

[2018-12-17 02:10] julien51 commented on #725
@benwerd @nfurfaro I think this is good practice but I always forget to name the branch with a prefix. I guess I need an alias to do that!

[2018-12-17 13:55] jedahan commented on #138
Still working on it, got stuck moving the updateLockPrice from Lock to CreatorLock, will have an updated PR with tests ready to review today

[2018-12-17 15:13] julien51 commented on #529
@benwerd Do you mind providing an update on that front?

[2018-12-17 15:17] julien51 commented on #612
This error is not irrelevant because we are not storing transactions in localStorage anymore...

[2018-12-17 15:17] #612 closed

[2018-12-17 15:26] cellog opened #738 "enforce npm version or investigate moving to yarn"
currently, we are getting a lot of package-lock.json noise on commits when different versions of npm are used. It would be great to enforce a particular npm version.

Alternatively, we could investigate moving to yarn as the preferred package manager

[2018-12-17 15:33] nfurfaro commented on #738
Depending on how easy (or not) it is to pin the npm version, yarm may be the simplest approach? I had always thought that yarn was "better" in some way, but not sure if this is actually the case.

[2018-12-17 16:22] cellog commented on #447
beginning work on branch `greg-issue-447-metamask`

[2018-12-17 16:34] nfurfaro opened #740 "Should not need to rely on `shell.exec` to call the ZOS `add` command."
In `smart-contracts/test/Unlock/UnlockProxy.js` we are using shell.js to use the zos-cli in order to call the `add` script. It should be possible, and is preferable, to achieve the desired result without resorting to using `shell.exec`. It works...but can be viewed as a temporary workaround.

**Additional context**
For real deployments, we're using zos-cli (zeppelinOS). In our tests, we want to mi

[2018-12-17 19:15] julien51 opened #744 "Unlock Ethereum nodes"
It has been clear in the last couple weeks that it would be very handy to have our very own deployed and running constantly for development purposes.
(Users will use/connect to the nodes of their choice, which is very likely going to be overwhelmingly provided by their web3 provider: Infura for Metamask... etc).

The goal is to have 2 servers, on running/connected to the mainnet and one running/co

[2018-12-17 19:16] julien51 commented on #744
I believe the best option would be to run these as docker images deployable on any hosting provider, using Kubernetes.

[2018-12-17 19:26] julien51 opened #745 "Better Pull Request template"
Our Pull Request template is fairly limited. It should include a check list with the required steps to go through (some of them will actually prevent builds from succeeding if missing):

* code linting
* adequate testing
* storybook for components
* screenshots for any UI changes
* documentation
* branch name convention

We should get inspiration from [this](https://embeddedartistry.com/blog/2017/

[2018-12-17 19:47] nfurfaro opened #748 "Each key should have a unique and immutable ID for ERC721 compatibility."
We currently use the owner's address as the tokenId which means that when ownership is changed, the tokenId itself is changed, which is not how the ERC721spec works.

From the official spec: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md
"Every NFT is identified by a unique uint256 ID inside the ERC-721 smart contract. This identifying number SHALL NOT change for the life of the cont

[2018-12-17 20:09] ChrisCates commented on #748
@nfurfaro, hey, sorry I've been AWOL on that PR. Fell behind on other work last week, I have been catching up this weekend, and, will make sure to get a proper PR for you guys to review.

Chat soon!~

[2018-12-17 20:10] julien51 commented on #625
It looks like another option is [`web3x`](https://github.com/xf00f/web3x). What do you think @cellog ?

[2018-12-17 21:05] julien51 opened #752 "Broken Mobile web layout"
Most of our layout is broken on mobile: see screenshots:
<img width="396" alt="screenshot 2018-12-17 at 16 03 04" src="https://user-images.githubusercontent.com/17735/50115435-66932980-0215-11e9-856b-69d8c327bad2.png">
<img width="383" alt="screenshot 2018-12-17 at 16 02 58" src="https://user-images.githubusercontent.com/17735/50115445-6d21a100-0215-11e9-8ac2-e430f53caf8f.png">
<img width="380" al

[2018-12-17 21:07] julien51 commented on #752
Also the "Create Lock" button is all small and on Desktop:
<img width="992" alt="screenshot 2018-12-17 at 16 06 09" src="https://user-images.githubusercontent.com/17735/50115546-b245d300-0215-11e9-8619-c3de0bd1f6f7.png">

We should probably revert https://github.com/unlock-protocol/unlock/pull/712

[2018-12-17 21:10] julien51 commented on #752
<img width="1651" alt="screenshot 2018-12-17 at 16 10 18" src="https://user-images.githubusercontent.com/17735/50115732-4c0d8000-0216-11e9-9584-fc3a3d3db650.png">

[2018-12-17 21:47] cellog commented on #625
Will take a look

[2018-12-17 21:59] julien51 commented on #738
I juts went thru [this issue](https://stackoverflow.com/questions/45022048/why-does-npm-install-rewrite-package-lock-json) and it looks like there are things we can do with `npm` to get started. The first one is probably to pin the versions inside our package.json.

Once we've done that we should ensure that @greenkeeper[bot] still works.

Another learning from this is that we can/should use `npm

[2018-12-17 22:14] julien51 commented on #218
nooooo! Bot please stop bringing this!

[2018-12-17 22:14] #218 closed

[2018-12-17 22:15] julien51 commented on #148
Yes please! The more small issues the better!

[2018-12-18 01:18] akeem opened #754 "Decrease the polling frequency of currency conversion checking within the platform application"
**Is your feature request related to a problem? Please describe.**
Currently we are polling a service provider to ensure that the platform application has up to date prices to support the pricing of keys (eth/dollars) etc.

**Describe the solution you'd like**
1. Reduce the frequency of fetching of data from the third party API
2. Move the initial fetch to the backend
  a. Start to proxy platform

[2018-12-18 11:45] vikaskyadav commented on #586
Why aren't we opting for `wordpress`? I know it sounds a little crazy but yeah, wordpress is used when we don't want to do any extra effort. It now has Gutenberg editor as well. PLus, you people might be able to do other stuff such as `Weekly Newsletters` and handling of social media.

This is just my opinion. Although, I too haven't worked with wordpress much but yeah did it for `gitcoin` a few m

[2018-12-18 15:09] julien51 commented on #586
I strongly think that Wordpress would be completely overkill. The purpose of this very basic engine is just to host the content's canonical source under own own domain. Everything else is superfluous at this point.

However, we could alos set up a wordpress.com blog and syndicate from here! [POSSE](https://indieweb.org/POSSE) ;)

[2018-12-18 15:25] julien51 opened #757 "Locks are not displayed on demo page"
**Describe the bug**
When going to a lock's demo page, the lock is not loaded. For example, see [lock was deployed](https://rinkeby.etherscan.io/address/0xd8c88be5e8eb88e38e6ff5ce186d764676012b0b) yesterday on rinkeby, but it is not shown on [its demo page](https://staging.unlock-protocol.com/demo/0x973f8FDFD2dD6b5D64DACc0BD012eC6F191d6F4C/).

<img width="1288" alt="screenshot 2018-12-18 at 10 24

[2018-12-18 15:50] julien51 commented on #757
Interestingly enough when pointing my local dev setup to rinkeby, the lock actually loads. This is probably a react error.
Additionally when inspecting with the redux dev tools, I see the lock being loaded and state set accordingly, but the lock is never displayed.

[2018-12-18 16:34] nfurfaro commented on #748
@ChrisCates No worries. I just thought it would make sense to break down "ERC721" compatibility into some smaller elements to make for simpler PR's/reviews. This is one such element.

[2018-12-18 16:41] nfurfaro opened #758 "We must implement the ERC165 interface as part of achieving ERC721 compatibility."
**Is your feature request related to a problem? Please describe.**
We want unlock-protocols "keys" to be compliant rerc721 NFT's. This is one of the required steps. It allows our contract to be queried to determine if we're erc721 compliant. Obviously, there's no point in doing this in isolation, but it's one step that needs to be done.

**Describe the solution you'd like**
We need to inherit the

[2018-12-18 16:47] nfurfaro opened #759 "We must implement at least the basic ERC721 interface as part of achieving ERC721 compatibility."
**Is your feature request related to a problem? Please describe.**
We want unlock-protocols "keys" to be compliant rerc721 NFT's. This is one of the required steps.
From the spec linked below:

**"Every ERC-721 compliant contract must implement the ERC721 and ERC165 interfaces"**

The (basic) ERC721 interface specifies 9 functions and one extra interface, erc165.
We currently have 5 of these funct

[2018-12-18 18:58] nfurfaro commented on #148
Related to #748, #758, #759

[2018-12-18 19:10] nfurfaro opened #760 "Look into using Waffle for smart-contract testing."
Waffle appears to be an upgrade to the way in which we currently test our smart contreacts. We should explore it a bit to see if it makes sense to start using this tool. It makes use of ether.js, so this is related to #625
https://medium.com/ethworks/meet-waffle-8e630e5e9e91

**Additional context**
Waffle Repo: https://github.com/ethworks/waffle
Related:
Smart contract mocking tool:https://github.

[2018-12-18 19:51] nfurfaro commented on #514
Just did a little more reading on what can and cannot be done with this.
The core question we need to answer:
If the proxy admin is a multisig address, how does the multisig use `zos-cli` to upgrade Unlock, or to change admin? is it possible, or would the multisig have to call th eproxy admin functions directly?
If it's the latter, we need to test that this actually works. It would be better to us

[2018-12-18 20:00] nfurfaro commented on #514
This describes the exact scenario we want to explore:
https://blog.zeppelinos.org/exploring-upgradeability-governance-in-zeppelinos-with-a-gnosis-multisig/

TLDR; We can use the gnosis multisig wallet for governance of both the Proxy and the Unlock contract. We can  upgrade or change admin accounts by including the contract ABI and implementation address as per the article above.
cc @julien51

[2018-12-18 20:06] julien51 commented on #702
I think we can push this further. Is that required for v0?

[2018-12-18 20:07] julien51 commented on #702
Also this is probably part of ERC721. Cc @nfurfaro

[2018-12-18 20:08] julien51 commented on #685
Hello, would you be able to provide more details?

Closing for now, but please reopen if you have more data. Thanks

[2018-12-18 20:08] #685 closed

[2018-12-18 20:17] nfurfaro commented on #702
@julien51 @benwerd  Once we are fully erc721 compliant, this functionality will be supported by definition, so yes, it's part of the larger issue #148.

[2018-12-18 21:51] cellog commented on #725
I think we're in agreement, closing for now, re-open if I have missed a reason to keep this open!

[2018-12-18 21:51] #725 closed

[2018-12-18 22:00] smombartz commented on #671
@julien51 how are you currently generating the colors? probably just dont go above a certain lightness/saturation. might be worth using HSV colors rather than RGB. more on that here: http://printingcode.runemadsen.com/lecture-color/

[2018-12-18 22:08] smombartz opened #762 "Logged out of Wallet Error"
**Description**
I tried to create a lock but was logged out of meta mask. I got an error when submitting the lock. the error message was not conclusive. Also does not follow [correct error message design pattern](https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-App?node-id=0%3A2).

**To Reproduce**
1. Log out of wallet
2. Attempt to create lock

**Expected behavior**
A more clear message

[2018-12-18 22:11] cellog commented on #327
I think this is fixed by #749
The purpose of #749 is to check whether a user has locked metamask, and it automatically asks them whether they can please unlock it in a metamask popup. Perhaps we want to make unlocking it optional? If so, this issue makes sense. Otherwise, it appears to be a duplicate. @julien51 opinions?

[2018-12-18 22:15] smombartz opened #763 "Creator Dashboard Account Menu Labels Missing"
**Describe the bug**
The labels on the account menu on the creator dashboard are missing
<img width="730" alt="screen shot 2018-12-18 at 17 10 58" src="https://user-images.githubusercontent.com/1377389/50186233-31a3d700-02e8-11e9-8dc1-4aaf112d65e4.png">

**Expected behavior**
Like the menu on the landing page the menu icons should display a label on hover.
<img width="668" alt="screen shot 2018-12

[2018-12-18 22:18] smombartz commented on #762
might be related to #327 and #749

[2018-12-18 23:30] #671 closed

[2018-12-18 23:36] akeem opened #769 "Swap out config mock with a more robust solution in `withConfig` test"
In our *withConfig test we have a mock object in place that suffices but we can update this to make it a bit more robust to avoid unrelated adjustments to the test.

* missingProvidersWithConfig.test.js
* wrongNetwork.test.js

[2018-12-18 23:37] #710 closed

[2018-12-18 23:38] julien51 commented on #763
Soooo, given that we are not using them and they're probably not ready for v0, can we just remove them for now?

[2018-12-18 23:56] julien51 commented on #757
Not fixed, despite the downgrade. ANNOYING!

[2018-12-19 02:05] julien51 commented on #665
I think we will be able to to close this as soon as we have tested a new deploy/upgrade! cc @nfurfaro

[2018-12-19 14:57] smombartz opened #772 "Balance discrepancy between dashboard and metamask"
**Describe the bug**
There seems to be a discrepancy between the balance shown on the unlock dashboard balance and $ amount vs what metamask is showing.

**To Reproduce**
Check your metamask balance while on the dashboard

**Expected behavior**
Show exact metamask balance up to the second decimal (ETH 2.99) and show same $ amount conversion

**Screenshots**
<img width="1793" alt="unlock dashboard

[2018-12-19 15:59] cellog opened #773 "refactor `src/interface/Button.js` into separate files"
Currently, Button.js is 3 or 4 components, and is difficult to reason through with a single visual pass. I'd like to refactor it into separate files, and follow the same conventions in the rest of Unlock which is:

imports
component code
component styles
exports

[2018-12-19 16:59] cellog opened #775 "consider extracting __tests__ and __mocks__ from src/"
When doing a text search in src, there is a lot of noise. The same goes for out and .next auto-generated directories, which live in src/

I would love to consider pulling these out into a separate directory for this reason.

The trade-offs are that there isn't as direct a link between src and test, but as long as the directory structure is identical, this is mitigated.

[2018-12-19 17:49] benwerd commented on #208
Closing this as we've made the decision to use the wiki for now. We can come back to it later if it doesn't work out.

[2018-12-19 17:49] #208 closed

[2018-12-19 19:40] cellog opened #776 "pre-commit linting hook does not catch lint errors"
if code has a linting error, the pre-commit hook is not stopping commit

[2018-12-19 19:44] #763 closed

[2018-12-19 19:46] julien51 commented on #776
Probably not a p-1 but more of a p-3? (no impact on users...)
Also I am not sure it was ever set up to actually stop a commit?

[2018-12-19 19:46] benwerd opened #777 "Lock doesn't display on embed code from staging"
This is likely but not definitely related to #757. Because the lock doesn't load, the paywall iframe never appears.

No errors appear in the console.

[2018-12-19 19:48] cellog commented on #776
it would be great if it stopped a commit. It's wasted about 30 minutes of my time today so far with linting errors that made it to Travis :)

[2018-12-19 20:08] benwerd commented on #775
I agree with this (and find .next particularly annoying). In the short term, most editors will allow you to add exclusions to search, but we should talk about any implications to doing this - and then go ahead and do it.

[2018-12-19 20:10] benwerd commented on #772
Duplicated. The eth balance appears accurate; we're clearly using a different dollar conversion value.

[2018-12-19 20:58] benwerd commented on #772
In conversation, @smombartz and I agreed that we should limit rounding on the eth amount to prevent confusion (and arguably, in the case of rounding up, misrepresentation).

[2018-12-19 21:01] nfurfaro commented on #758
ERC165 allows our contract to be queried to determine whether it implements a given interface. It's part of the ERC721 spec.
One great benefit it brings is the ability to test our interfaces themselves, and protect them against unconsidered changes.
Eg: As it stands, our PublicLock.sol inherits the ILockPublic.sol interface. The compiler enforces that we implement each function speced in the inter

[2018-12-19 21:53] #757 closed

[2018-12-19 21:54] julien51 commented on #777
@benwerd Could you please check whether this works now?

[2018-12-19 21:57] julien51 opened #782 "Demo Page layout is strange"
**Describe the bug**
When going to the demo page, it is not taking the space available, which means that it is not responsive in a strange way.

See screenshot taken on (very) large screen!
<img width="2621" alt="screenshot 2018-12-19 at 16 55 08" src="https://user-images.githubusercontent.com/17735/50250528-0d5efd80-03af-11e9-9fc7-75840edfc3c9.png">

[2018-12-19 21:59] benwerd commented on #782
I'll take a look. I think I know what's happening here.

[2018-12-19 22:03] benwerd commented on #777
@julien51 It doesn't - but it looks like this is to do with the URL not being registered on staging. I'll go back and take another look at how this worked for the demo page.

[2018-12-19 22:04] julien51 opened #783 "Labels on icons are not aligned, nor using right color"
**Describe the bug**
The labels on the lock buttons are not aligned not in the right color.
See screenshot:
<img width="235" alt="screenshot 2018-12-19 at 17 03 39" src="https://user-images.githubusercontent.com/17735/50250909-3469ff00-03b0-11e9-9066-3f60923ca5b9.png">

[2018-12-19 22:52] #745 closed

[2018-12-20 02:59] cellog opened #792 "Flash of lock visible on unlocked page"
When viewing an unlocked page, there is a flash of the "purchase a lock" screen until the account and network have fully loaded. This happens for as little as a few milliseconds or as long as a quarter second.

A good solution would be to use `SuspendedError` to delay displaying the lock for 200ms, and then display a spinner until account is ready

[2018-12-20 03:10] julien51 opened #793 "Remove $ balance of account"
**Describe the bug**
We currently show the USD balance on each account. I believe this is not useful (and was not part of @smombartz 's original design). All wallets will actually show that information more accurately than us and it is probably one of the key features... while not very useful for us!

Let's remove it!

<img width="1293" alt="screenshot 2018-12-19 at 22 04 08" src="https://user-ima

[2018-12-20 03:13] julien51 opened #794 "Remove "Earnings" from Dashboard"
**Is your feature request related to a problem? Please describe.**
The dashboard shows an "Earnings" value, which should be the sum of all earnings accross all locks.
We currently do not extract that information and I am not sure it is that useful (but would do for a nice vanity metric!)

We should consider removing it for now (or implementing it) but it may not be trivial because it will involve

[2018-12-20 03:16] julien51 opened #795 "Remove "Eearning" on lock column title"
**Describe the bug**
Right now, for each lock, we show the balance (the sum of all keys purchased - whatever was previously withdrawn).
The initial design included the concept of earnings on top of that which is the sum of all keys sold since the beginning. For reason explained in #794 I believe we should remove that feature for now... and hence clarify the column by just showing `Balance`.

<img

[2018-12-20 03:22] julien51 opened #796 "Lock Balance does not update after withdrawal"
**Describe the bug**
Once funds have been withdrawn from a lock, the balance on that lock should be 0. Right now it stays the same until the user refreshes.

[2018-12-20 03:25] julien51 opened #797 "Show an error when trying to submit a form with missing/wrong data"
**Is your feature request related to a problem? Please describe.**
When creating a lock with missing or wrong data, we do not let the user submit... (nothing happens), however I believe it is a good design  principal to *always* have something happening on user explicit actions (like clicking on a button). We should probably show an error with "Please make sure you complete all from fields" for no

[2018-12-20 03:45] cellog commented on #793
I'll eat my own dog food on this one :)

[2018-12-20 03:47] julien51 commented on #793
🐶

[2018-12-20 03:58] #447 closed

[2018-12-20 03:59] #792 closed

[2018-12-20 04:08] cellog opened #799 "Menu for wiki pages are in random order"
Currently, the wiki's menu on the right side has a totally different order from the nice, well-ordered list on the front page of the wiki itself

[2018-12-20 07:45] vikaskyadav commented on #795
@julien51  I was trying something for this issue and I pulled the new code and it is now showing some weird error. I remember it was working fine 1-2 days ago.

This is the trace:

 at /home/vikasuperman/open-source-projects/unlock/unlock-app/node_modules/truffle/build/webpack:/packages/truffle-resolver/index.js:76:1
    at /home/vikasuperman/open-source-projects/unlock/unlock-app/node_modules/tru

[2018-12-20 11:31] cellog opened #801 "Several storybook stories are out of date relative to master"
**Describe the bug**
The following stories were affected by recently merged PRs but were not updated:

 - Creator Lock
    - Withdrawal submitted
    - Withdrawing
 - Dashboard
    - Dashboard with no account
 - Demo
 - Paywall
 - ConfirmingKeyLock
 - PendingKeyLock

 1. The Creator Lock stories fail because of the new account regex, we just need to use a 40-character string for the address
 2. Da

[2018-12-20 11:34] cellog commented on #327
So I think this can be re-purposed. Basically, what is needed now is a UI change that prompts the user to ask if they would like to unlock metamask, instead of just doing it. the fix recently merged for #447 fixes the issue, locked metamask is now detected, but the UI is a bit too aggressive. Agree, @julien51 ?

[2018-12-20 15:13] cellog opened #804 "replace /provider with a developer overlay dropdown to choose metamask on localhost"
**Is your feature request related to a problem? Please describe.**
It is often inconvenient to go to /provider, and then click back, especially after a reload is necessary

**Describe the solution you'd like**
A simple overlay dropdown that allows choosing Metamask, and shows which network is selected, which would work on any page, whether it is dashboard or demo or another future page

**Describe

[2018-12-20 15:48] julien51 commented on #795
` Could not find openzeppelin-eth/contracts/ownership/Ownable.sol ` makes me think that you might have missing dependencies?
Pull from master again and run `npm run install` from the root of the repo! Thanks!

[2018-12-20 15:48] julien51 commented on #514
Yes!

[2018-12-20 15:49] julien51 commented on #428
I think you are right but I read somewhere that Metamask's behavior will actually change on that front at some point and they will stop reloading the page. I think it'd be much cleaner to detect that too and be ready for when reloads do not work...

[2018-12-20 15:52] #793 closed

[2018-12-20 15:53] julien51 commented on #327
So I just did the test and things worked well? Metamask *does* open a popup but instead of first showing a message to enable Metamask it shows a message to unlock it, and *then* it asks to enable it.
I agree this is slightly aggressive, but I think we can still close or push much further in the backlog.

[2018-12-20 15:57] cellog commented on #428
OK, but I think we will find it impossible to test in the wild until
metamask changes this behavior. Perhaps wait until we have something real
to test against?

[2018-12-20 16:11] cellog opened #805 "rename SuspendedError to SuspendedRender"
**Is your feature request related to a problem? Please describe.**
The original conception of SuspendedError was to suspend rendering for 200ms and then display an error if necessary, but it is now also being used to suspend rendering before displaying a lock, so the name is at best confusing.

**Describe the solution you'd like**
rename all occurrences in the source code to SuspendedRender

[2018-12-20 16:49] smombartz commented on #783
this is also the case for the top level menu
<img width="229" alt="screen shot 2018-12-20 at 17 29 56" src="https://user-images.githubusercontent.com/1377389/50298493-904f8900-047f-11e9-9da8-b382672dbedb.png">

[2018-12-20 16:51] smombartz opened #806 "Branding on Mobile Dashboard Missing"
**Describe the bug**
The Unlock Logo is missing on the mobile version of the Dashboard.

**Expected behavior**
Should look like so: https://www.figma.com/proto/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-App?node-id=0%3A269&viewport=-929%2C1471%2C0.662482&scaling=min-zoom

**Screenshots**
<img width="354" alt="screen shot 2018-12-20 at 17 42 54" src="https://user-images.githubusercontent.com/1377389/50298555-

[2018-12-20 17:02] smombartz opened #807 "Mobile Menu Behaviour Push instead of Overlay"
**Describe the bug**
When the menu is opened on mobile view it lays over the content directly below instead of pushing it down.

**Expected behavior**
The expanded menu should push the existing content down and show both menu and content at the same time. See [mockup](https://www.figma.com/proto/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-App?node-id=0%3A369&viewport=-929%2C1471%2C0.662482&scaling=min-zoom).

[2018-12-20 17:24] vikaskyadav commented on #795
Hi, I did that., it worked but another issue came in with `pushd`

npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! unlock-app@0.1.0 set-link:darwin:freebsd:linux:sunos: `pushd src && (test -e artifacts && rm -f artifacts) && ln -s ../../smart-contracts/build artifacts`
npm ERR! spawn ENOENT

[2018-12-20 19:30] julien51 commented on #580
This would significantly increase our test coverage and avoid "broken" stories. cc @cellog

[2018-12-20 19:35] julien51 opened #808 "Auto-run npm install when applicable"
We are not checking in our `node_modules`. This means that when 2 branches diverge on the content of `package.json` we need to explicitly re-install dependencies via `npm install`.
Sometimes, when a developer updates from master, they do not know that one of the merged commits actually updates `package.json` and their local `node_modules` becomes outdated.
Similarly, switching between branches may

[2018-12-20 20:36] mcernusca commented on #808
What has worked for me in the past is to have the build script make a local package.json copy that lives outside of version control (.package.json.cmp). On build check if these two files match up otherwise prune install and update the local copy. Something like:

[code]

Although now that I think about this it might make sense to use package-lock.json file instead of package.json for this now that

[2018-12-20 23:35] cellog commented on #795
Ah, I wonder if pushd is a bash extension to sh? Do you have access to a bash shell? If not, try changing the pushd to cd, and see if that works.

[2018-12-20 23:47] #758 closed

[2018-12-20 23:47] todo[bot] opened #812 "consider using a _private version for each method that is being invoked by the\n..."
https://github.com/unlock-protocol/unlock/blob/434c37a7af652ac172b4689b5ad0fac4b217ef22/smart-contracts/build/contracts/PublicLock.json#L625-L630

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 434c37a7af652ac172b4689b5ad0fac4b217ef22 when #778 was merged. cc @unlock-protocol.

[2018-12-20 23:47] todo[bot] opened #813 "consider using a _private version for each method that is being invoked by the\n..."
https://github.com/unlock-protocol/unlock/blob/e1f2f68add4d0803852dcd0ab8b3fdf9b0cc1610/smart-contracts/build/contracts/PublicLock.json#L625-L630

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e1f2f68add4d0803852dcd0ab8b3fdf9b0cc1610. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2018-12-20 23:47] todo[bot] opened #814 "consider using a _private version for each method that is being invoked by the\n..."
https://github.com/unlock-protocol/unlock/blob/434c37a7af652ac172b4689b5ad0fac4b217ef22/smart-contracts/build/contracts/PublicLock.json#L9078-L9083

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 434c37a7af652ac172b4689b5ad0fac4b217ef22 when #778 was merged. cc @unlock-protocol.

[2018-12-20 23:47] todo[bot] opened #815 "consider using a _private version for each method that is being invoked by the\n..."
https://github.com/unlock-protocol/unlock/blob/e1f2f68add4d0803852dcd0ab8b3fdf9b0cc1610/smart-contracts/build/contracts/PublicLock.json#L9078-L9083

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e1f2f68add4d0803852dcd0ab8b3fdf9b0cc1610. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2018-12-20 23:48] #815 closed

[2018-12-20 23:48] #812 closed

[2018-12-20 23:48] #813 closed

[2018-12-20 23:48] #814 closed

[2018-12-21 01:37] #680 closed

[2018-12-21 01:40] julien51 commented on #327
Please re-open if needed ;)

[2018-12-21 01:40] #327 closed

[2018-12-21 01:41] julien51 commented on #331
I think this is now done ;) Thanks @benwerd !

[2018-12-21 01:41] #331 closed

[2018-12-21 01:42] julien51 commented on #529
@benwerd Can we close this?

[2018-12-21 01:43] julien51 commented on #531
So I think this will be much easier once we have kept track of transaction types!

[2018-12-21 01:46] julien51 commented on #665
@nfurfaro Let's try to upgrade that soon?

[2018-12-21 02:06] benwerd commented on #529
I think we can close this. Some other related issues have been reported elsewhere and will be reported there.

[2018-12-21 02:06] #529 closed

[2018-12-21 02:10] julien51 commented on #744
So, for now, in the interest of time, here is the approach I am taking:
* Deploying EC2 instances with Ubuntu
* Setting up a Geth node on them
* Syncing with their respective network
* Reverse-proxying the rpc endpoint thru nginx for authentication/encryption

Problems with that approach: the node itself may have multiple unlocked accounts at any time.

[2018-12-21 02:31] nfurfaro commented on #665
@julien yes! I may be able to get a window tomorrow, will let you know.

[2018-12-21 02:32] nfurfaro commented on #665
Of course, you can do it without me too.

[2018-12-21 07:16] vikaskyadav commented on #795
haha, it worked! :+1:  :smiley:

[2018-12-21 14:31] chiro-hiro commented on #334
@nfurfaro It's okay, underflow has just made me uncomfortable, I'm prefer to use `0`.

[2018-12-21 14:31] julien51 opened #818 "Dashboard UI is broken"
After merging [this PR](https://github.com/unlock-protocol/unlock/pull/817) the UI for the dashboard is broken. We need too revert and investigate.

Also, since the screenshot actually shows the right thing, we should find a way to ask submitters to make sure their screenshot was sent *after* they do their commits :/

<img width="1144" alt="screenshot 2018-12-21 at 09 28 48" src="https://user-imag

[2018-12-21 14:31] julien51 commented on #818
cc @vikaskyadav

[2018-12-21 15:31] cellog opened #821 "Possibilities to consider for testing for regression in visual appearance"
[Happo](https://happo.io)
[Chromatic QA](https://www.chromaticqa.com/)
[BackstopJS](https://github.com/garris/BackstopJS)
[Storyshot-puppeteer](https://github.com/storybooks/storybook/tree/master/addons/storyshots/storyshots-puppeteer)

[2018-12-21 18:51] todo[bot] opened #825 "match also based on Contract type. There could be conflicts in names"
https://github.com/unlock-protocol/unlock/blob/3bb70ce34d3f10c1e0767f6be24d0666bb57a343/unlock-app/src/services/web3Service.js#L165-L170

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 3bb70ce34d3f10c1e0767f6be24d0666bb57a343 when #824 was merged. cc @unlock-protocol.

[2018-12-21 18:51] todo[bot] opened #826 "match also based on Contract type. There could be conflicts in names"
https://github.com/unlock-protocol/unlock/blob/2b7255c0f57bc7439b22e6fdaecbb7c5f2c2238c/unlock-app/src/services/web3Service.js#L165-L170

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2b7255c0f57bc7439b22e6fdaecbb7c5f2c2238c. It&#x27;s been assigned to @julien51 because they committed the code.

[2018-12-21 18:53] #826 closed

[2018-12-21 18:55] #801 closed

[2018-12-21 19:42] cellog opened #828 "Error in console: Warning: Text content did not match. Server: "Creator Dashboard" Client: """
**To Reproduce**
go to http://localhost:3000/dashboard, open console

[2018-12-21 19:43] julien51 commented on #828
I have seen this one for a while and I always wondered what that was. I'll miss it when it's gone :( 🐞

[2018-12-21 19:44] cellog commented on #828
haha :) 💀 🐞

[2018-12-21 21:56] julien51 opened #831 "Key Data"
Each key has an optional data field. This is important because it lets the customer (owner of the key) communicate something to the creator (lock owner).
Use cases for this are for example: encrypted email addresses, encrypted names, images... etc

Our current implementation stores this on chain (the `data` field is actually `bytes` which is not limited. According to @nfurfaro 's research, a chall

[2018-12-21 22:21] cellog opened #832 "suggestion: change to PR template"
The template should probably explain that *any* modification to configuration or package.json should be in its own PR. This is because it is not intuitively obvious to those who have not been burned by difficulty reverting PRs that config changes should be separate, even ones that are tightly integrated with the PR.

[2018-12-21 22:46] julien51 commented on #832
Isn't that covered by the "1 PR, 1 PuRpose" rule?

[2018-12-21 22:46] #818 closed

[2018-12-21 22:49] julien51 commented on #799
Unfortunately, I am not sure we control that at all? This is GitHub's stuff? Right @benwerd ?

[2018-12-21 23:08] benwerd commented on #799
Actually you can add a custom sidebar, which will auto-minimize the default one. I've just started work on doing that.

[2018-12-21 23:10] #799 closed

[2018-12-21 23:13] benwerd commented on #832
Theoretically yes, but I agree with @cellog that it's probably not explictly obvious.

[2018-12-21 23:43] julien51 commented on #195
After meeting with @heewa this morning I start to have a better understanding of how our setup is not optimal. We probably have a decent approach but we need to improve further ;)

[2018-12-22 00:04] nfurfaro commented on #831
I now think this is considered the "standard " approach. It has the benefit of being storage provider agnostic . https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md

[2018-12-22 00:18] #428 closed

[2018-12-22 01:51] julien51 commented on #195
So, in a nutshell, the feedback was this:

1. we need to extract the stuff from `test.sh` and pull that as much as possible into the `npm` scripts (or else that we're running for each code component.
2. we can and should run more containers... however they should probably of the same "kind" with just a different `CMD`. This way, the same image can be used to run the application, to run the test su

[2018-12-22 01:53] julien51 commented on #831
But wait this would be lock-level metadata, right?

[2018-12-22 02:13] nfurfaro commented on #831
This should be key (NFT)-level metadata, that we're currently using the Key.data field for.

[2018-12-22 03:08] julien51 commented on #831
Ha! I see you, mean the `tokenURI` stuff?

[2018-12-22 03:16] julien51 commented on #831
However i guess we could use the `name` stuff (cc @akeem)

[2018-12-22 03:35] julien51 commented on #531
Done in https://github.com/unlock-protocol/unlock/pull/824

[2018-12-22 15:10] nfurfaro commented on #831
@julien51 Regarding the `tokenURI `: It is allowed to be mutable, and so could be updated if the storage location changes. Are your concerns more about ensuring the integrity of the data at the storage location?

[2018-12-22 15:11] nfurfaro commented on #831
"Metadata Choices (metadata extension)

We have required name and symbol functions in the metadata extension. Every token EIP and draft we reviewed (ERC-20, ERC-223, ERC-677, ERC-777, ERC-827) included these functions.

We remind implementation authors that the empty string is a valid response to name and symbol if you protest to the usage of this mechanism. We also remind everyone that any smart

[2018-12-22 16:51] chiro-hiro commented on #831
At previous time, we were try to launch a decentralized lottery chain. We've faced the same issue, we deceived to store merkle-root of metadata on main-net and store ticket's data on private-net. It could be stupid but it worked ;)

[2018-12-22 20:37] nfurfaro opened #838 "We need to register the interfaceID for ERC721."
`ERC165.sol` acts as a registry for interface ID's. This allows other contracts to query ours to determine whether it implements a given interface. Currently, only the interfaceID for erc165 is registered.

Once `PublicLock.sol` is modified to implement the complete basic ERC721 interface, we need to register the interfaceID for ERC721, which is `0x80ac58cd`.
 This would mean adding `_registerInte

[2018-12-22 20:38] nfurfaro commented on #838
Note that we would follow the same process for registering the interface ID for ERC20 when we implement that interface as well.

[2018-12-23 16:45] akeem commented on #831
TokenURI potentially being mutable does provide us some flexibility here, we can begin to expose this information via a consistent URI using `Locksmith`.

Generally I think if we can provide lock creators/implementors with the ability to "migrate" the hosting of key metadata elsewhere we will be in a good place. The answer to this should also answer our own question of how can we move this data to

[2018-12-23 17:53] cellog commented on #580
closed by #827

[2018-12-23 17:53] #580 closed

[2018-12-23 18:09] cellog commented on #832
I suggest adding this line to the end:

[code]

I experimented with this in the PR I just submitted, #841

[2018-12-23 18:23] cellog opened #842 "browser/integration testing possibilities"
This article goes over many possibilities:

https://medium.com/welldone-software/an-overview-of-javascript-testing-in-2018-f68950900bc3

[2018-12-23 23:59] #804 closed

[2018-12-24 14:48] julien51 commented on #831
The problem with the URI approach is that key owners cannot update their data unless we actually implement some kind of app on our end to do that (and store said data).

[2018-12-24 14:50] julien51 commented on #842
Closing as dupe of #195 ;) Let's try to limit the number of open issues...

[2018-12-24 14:50] #842 closed

[2018-12-24 14:50] julien51 commented on #832
Works for me. Please submit a PR with the new template.

[2018-12-24 15:33] cellog commented on #832
(reopening so I can find it when I do PR)

[2018-12-24 15:34] julien51 commented on #831
It would still be as expensive (actually even more!) and probably does not provide any benefit compared to IPFS.

[2018-12-24 15:39] nfurfaro commented on #831
Part of the difficulty here is that in the ERC721 metadata spec, the metadata is specific to the token, whereas in the Unlock sense, we're trying to use the key's data field to store owner-specific data. I think that we should consider removing any connection or reference to a specific owner At the Key level, and instead track ownership at the lock level.

[2018-12-24 15:43] akeem commented on #831
definitely spitballing here, this may solve some problems and introduce others.  We should be able to update the lock contract/factory contract, allowing key holders with the ability to update the tokenuri for their key(s).

This doesn't eliminate us or anyone else from having to host the data or create an application enforcing  consistency but it should allow the information to be updatable by th

[2018-12-24 17:17] nfurfaro commented on #831
It would be fairly routine to implement a `setData()` function on the smart contract end, by as @julien51 commented above, the question becomes where does the ui for this live? It doesn't belong in the creator dashboard, so another app/ui becomes necessary.

[2018-12-24 21:28] nfurfaro opened #846 "Lock contracts will need to implement `onERC721Received` in order to receive erc721 tokens (keys)."
From the reference [here](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md):
"A wallet/broker/auction application MUST implement the wallet interface if it will accept safe transfers."

`PublicLock.sol` could be considered a broker of sorts, as it will sell (and potentially buy-back) keys. In the case of buying-back (cancelling a subscription) this function becomes necessary for compli

[2018-12-25 15:58] julien51 commented on #831
Exactly.

This will live on the specific applications. the paywall probably has no use for the data field, but the unlock.email app flow does actually implement that (the email address is stored in the data field.)

And yes! At some point, probably in the context of v2 i want us to build a "keychain" application which lets someone list all their keys, see/set their data fields (when applicable) an

[2018-12-26 23:14] nfurfaro commented on #665
@julien51 not sure if I'll be able to sync in the next couple of days, but if you want to proceed with this update we could go ahead async. The procedure is fairly well documented in our wiki. I wouldn't mind merging a couple PR's first if possible.

[2018-12-26 23:17] julien51 commented on #665
Hey! Yes I want to review your PR and once they're merged actually deploy and upgrade to Rinkeby! Thanks

[2018-12-28 16:21] julien51 commented on #468
As part of this, we should also do some cleanup as tools such as `[depcheck](https://www.npmjs.com/package/depcheck)` show a lot of unused dependencies.

[2018-12-28 16:58] julien51 opened #852 "Fix eslint-plugin-react settings"
When running linting locally we get the following warning:

My understanding is that specifying a value will allow for tighter linting rules. We should do that!

[2018-12-28 21:20] julien51 commented on #458
We now have a better CI setup, so we can start focusing on this. The docker image can be used to deploy the smart contract and run the nextjs application.
Once we have a running end to end application in a container, we can start another container which runs puppeteer and the integration test suite.

[2018-12-28 22:15] julien51 commented on #195
Speeding up can be achieved in 2 ways:
* caching the build phase (this takes about 4minutes empirically). However, we need to ensure that we have a way to expire these caches when dependencies are updated.
* parallelizing. Right now we test each sub-directory/service sequentially. We could very well achieve that in parallel. We could go even further by allowing each service to define its own paral

[2018-12-28 22:16] julien51 commented on #714
See https://github.com/unlock-protocol/unlock/issues/458 for more details on the integration testing setup.

[2018-12-28 23:06] julien51 opened #855 "Deploy to netlify from Travis"
We currently deploy to netlify from github's master.
The "build" process happens on netlify's end, which means we're limited in what we can do there. For example we cannot compile the smart contracts `.sol` files in there (because there is no pre-installed) libraries to do that.
We are able to build and compile the whole project on travis and we should deploy from there, rather than from Github. T

[2018-12-29 00:13] nfurfaro commented on #855
I'm strongly in favor of doing all our smart-contract compilation in Travis as well, as long as we're able to use the newly compiled artifacts (which I think this would let us do?)

[2018-12-29 00:43] nfurfaro commented on #838
Depends on #148

[2018-12-29 00:45] nfurfaro commented on #846
#847 will complete this when approved and merged.

[2018-12-29 03:43] julien51 commented on #855
Yes! I think this is probably doable. I'll do some research but I am hopeful!

[2018-12-29 04:29] todo opened #857 ") : updates the price of new keys"
https://github.com/unlock-protocol/unlock/blob/e35273bdc7525ca81759ffe0a9c346b65b583b09/smart-contracts/README.md#L65-L70

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e35273bdc7525ca81759ffe0a9c346b65b583b09 when #856 was merged. cc @unlock-protocol.

[2018-12-29 04:29] todo opened #858 ") : updates the price of new keys"
https://github.com/unlock-protocol/unlock/blob/b82fa496e2b68ad0e9cf4ca6a7792ee211d1291e/smart-contracts/README.md#L65-L70

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b82fa496e2b68ad0e9cf4ca6a7792ee211d1291e. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2018-12-29 04:29] todo opened #859 ") : change the data field for a given key"
https://github.com/unlock-protocol/unlock/blob/e35273bdc7525ca81759ffe0a9c346b65b583b09/smart-contracts/README.md#L88-L93

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e35273bdc7525ca81759ffe0a9c346b65b583b09 when #856 was merged. cc @unlock-protocol.

[2018-12-29 04:29] todo opened #860 ") : change the data field for a given key"
https://github.com/unlock-protocol/unlock/blob/b82fa496e2b68ad0e9cf4ca6a7792ee211d1291e/smart-contracts/README.md#L88-L93

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b82fa496e2b68ad0e9cf4ca6a7792ee211d1291e. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2018-12-29 04:29] todo opened #861 ") which implement the Unlock network loyalty program. The Discount Tokens are gr..."
https://github.com/unlock-protocol/unlock/blob/e35273bdc7525ca81759ffe0a9c346b65b583b09/smart-contracts/README.md#L112-L116

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e35273bdc7525ca81759ffe0a9c346b65b583b09 when #856 was merged. cc @unlock-protocol.

[2018-12-29 04:29] todo opened #862 ") which implement the Unlock network loyalty program. The Discount Tokens are gr..."
https://github.com/unlock-protocol/unlock/blob/b82fa496e2b68ad0e9cf4ca6a7792ee211d1291e/smart-contracts/README.md#L112-L116

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b82fa496e2b68ad0e9cf4ca6a7792ee211d1291e. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2018-12-30 19:27] #857 closed, assigned to nobody

[2018-12-30 19:27] #858 closed, assigned to nfurfaro

[2018-12-30 19:27] #859 closed, assigned to nobody

[2018-12-30 19:27] #860 closed, assigned to nfurfaro

[2018-12-30 19:27] #861 closed, assigned to nobody

[2018-12-30 19:27] #862 closed, assigned to nfurfaro

[2018-12-31 01:43] #773 closed

[2018-12-31 01:50] cellog opened #866 "storybook@/addon-actions is on version 3 instead of 4"
@storybook/addon-actions is mistakenly stuck on version 3 instead of 4 in package.json of unlock-app

[2018-12-31 03:20] cellog opened #867 "storybook broken in master"
**Describe the bug**
Not sure why, but https://github.com/unlock-protocol/unlock/commit/a2c500ade5c2dda18052a323a38f3588c038bc7e broke storybook.

**To Reproduce**
Steps to reproduce the behavior:

`npm run storybook`

**Expected behavior**
<img width="1680" alt="screen shot 2018-12-30 at 10 17 51 pm" src="https://user-images.githubusercontent.com/98250/50554023-04104380-0c81-11e9-9f67-5c2daf4ade5

[2018-12-31 03:33] julien51 commented on #867
Dang. I can revert this but I am more worried that the tests passed. I thought we had snapshot-ting enabled for the stories?

[2018-12-31 04:52] cellog commented on #867
The tests pass, the error is in storybook's interaction with itself. So storyshot successfully makes the stories, it is a subtle configuration change in storybook.

Perhaps there is a use of config in the storybook.config.js that we didn't see?

Not sure what the procedure is on a revert, do you revert then resubmit with the thing fixed? Or just submit a new commit with the fix?  Because in this c

[2018-12-31 15:19] cellog opened #870 "Visual diffing for storybook changes"
**Is your feature request related to a problem? Please describe.**
Recently, we had a PR that broke storybook, and we didn't catch it. If we were doing visual diffing of storybook run screenshots, this would be caught. In addition, when changes are made to visual display of a storybook component, this would provide a visual diff as well as the snapshot diff.

**Describe the solution you'd like**
T

[2018-12-31 15:24] nfurfaro opened #871 "We should bump our `zos` version to v2.1.0-rc.0"
**Describe the bug**
While `truffle test` still works as expected, trying to use zos cli commands fails due to a compiler version mismatch.
[code]
The issue is described here: https://github.com/zeppelinos/zos/issues/540

[2018-12-31 15:33] cellog commented on #870
That makes sense. I think this tool is great, and we should consider it. For this issue, which is just verifying that storybook is actually working, maybe I am thinking too large.

Perhaps we can add 1 new unit test that runs our storybook in a sandbox, gets the html of the first page and creates a snapshot we can compare? This would verify it works

[2018-12-31 15:36] julien51 commented on #870
I think you're right. I am still not fully sure I understand how the snapshot could be compared if storybook did not run?

[2018-12-31 15:44] cellog commented on #870
Could we leverage the integration test infrastructure to run storybook, and grab the html from puppeteer?

[2018-12-31 20:20] #871 closed

[2019-01-01 22:41] greenkeeper[bot] opened #875 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The dependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.12.0` to `7.12.1`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Feslint-plugin-react-7.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-01-02 02:41] #866 closed

[2019-01-02 02:42] #832 closed

[2019-01-02 15:15] julien51 opened #876 "store error data in redux, using constants, and generate error messages from the data"
As @cellog  [noted](https://github.com/unlock-protocol/unlock/pull/837#discussion_r243746158), we should not have JSX inside the redux store.

A better approach would be to create an errors.js (similar to constants.js) with mappings of error names to jsx and then use the string values in the redux store as well as load the jsx in the error component.

[2019-01-02 15:40] julien51 opened #877 "Something is wrong with our telegram button"
When hovering in the top bar the telegram button does not behave like the other ones. I suspect is it placed too gar on the right as well.

![telegram](https://user-images.githubusercontent.com/17735/50599034-bc550c00-0e7a-11e9-9eb5-91b15d8b7d58.gif)

[2019-01-02 15:43] cellog opened #878 "react-no-ssr is unmaintained"
**Describe the bug**
react-no-ssr has not been updated in 3 years

We don't actually need it. The way it works is by using state and `componentDidMount`. Since cDM is not called on the server, components don't display there. We can roll our own 3-liner and use that instead, removing a depedency.

As React may change behavior in 17 with the release of Concurrent mode, I think this would be wise.

[2019-01-02 15:48] cellog opened #879 "Don't import devtools, use if present"
**Describe the bug**
redux devtools extension recommends that you don't import the package directly, but instead do this:

[code]

This will make both package.json lighter and our bundle smaller and faster if dev tools are not present.

[2019-01-02 16:03] cellog opened #880 "eslint 5.8->5.10 uncovers a slew of problems"
**Describe the bug**
While upgrading deps in package.json, I discovered that eslint 5.8 missed a whole bunch of problems that eslint 5.10 catches. This bug tracks that, so that a separate PR to upgrade eslint can be done

[2019-01-02 19:00] cellog opened #885 "rework snippet to be testable and versionable but still as easy as copy/paste into site"
As discussed with @benwerd the current snippet in `src/static/unlock.js` is difficult to test, and difficult to version because it is a static file.

Key goals are:

1. lock providers should be able to easily embed the snippet with no javascript knowledge
2. snippet should be easily split into smaller, testable portions
3. snippet should be easily released with versioning.

[2019-01-02 19:31] julien51 commented on #880
oh... I found when there are too many changes (noit sure if this is the case here) that it is often easier to submit a first PR which temporarily disables the failing rules and then submitting individual PR for each re-enabled rule (along with the fixes ;p)

[2019-01-02 22:05] julien51 commented on #880
I this related to that https://github.com/unlock-protocol/unlock/issues/875?

[2019-01-02 22:06] julien51 commented on #468
I think we can close this, right @cellog https://github.com/unlock-protocol/unlock/pull/884

[2019-01-02 22:08] julien51 commented on #665
We upgraded successfully today https://github.com/unlock-protocol/unlock/pull/889 so we can now close!

[2019-01-02 22:08] #665 closed

[2019-01-02 22:48] cellog commented on #468
Yes!

[2019-01-02 22:48] #468 closed

[2019-01-03 15:32] julien51 commented on #458
This has now been set up, we just need to implement actual tests in #714.

[2019-01-03 15:32] #458 closed

[2019-01-03 15:34] julien51 commented on #805
Closing! Thanks @vikaskyadav

[2019-01-03 15:34] #805 closed

[2019-01-03 15:35] julien51 commented on #867
Closing as this was fixed!

[2019-01-03 15:35] #867 closed

[2019-01-04 05:36] nfurfaro opened #896 "`truffle.js` needs to be updated in preparation of our mainnet deployment."
`truffle.js` exports configuration for truffle to use when connecting to a  given network. We currently don't have a "mainnet" configuration, but will need one in order to deploy to that network. If we're going to be using a remote AWS-based geth node connected to the mainnet for deployment, we'll likely need to do something similar to what we're currently doing for rinkeby with regards to `truffl

[2019-01-04 19:58] cellog opened #899 "root package.json postinstall needs to include new tests/ directory"
**Describe the bug**

In order for running integration tests locally to work properly, the `postinstall` task for package.json also needs to have `&& cd ../tests && npm ci` appended

[2019-01-04 20:43] #899 closed

[2019-01-04 23:15] cellog commented on #714
assigning the two code gnomes working on this

[2019-01-05 17:45] cellog opened #908 "Don't use pushd in package.json"
Many users (like in #693) have issues with pushd. We need to remove it in favor of cd

[2019-01-05 20:39] julien51 opened #909 "Encrypt env variables"
Env variables set up on travis are not used when submitting PR from external repos (forks).
We can try to solve this by adding the env variables to the `travis.yml` file.

[2019-01-05 21:39] julien51 commented on #909
Unfortunately, [encrypting env variables](https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml) won't solve the issue:

I'll just try another approach which is to skip the cache when running CI on an external (fork'ed) PR.

[2019-01-05 21:40] julien51 commented on #909
Here's an [example of PR](https://github.com/unlock-protocol/unlock/pull/694) that's failing because of this.

[2019-01-05 21:45] #885 closed

[2019-01-05 21:45] todo[bot] opened #912 "use insertAdjacentElement, requires changing the way messages are passed, but th..."
https://github.com/unlock-protocol/unlock/blob/c53e672b16a8a6d92e594e17a45400b7f883a21c/unlock-app/src/paywall-builder/iframe.js#L24-L29

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c53e672b16a8a6d92e594e17a45400b7f883a21c when #903 was merged. cc @unlock-protocol.

[2019-01-05 21:45] todo[bot] opened #913 "use insertAdjacentElement, requires changing the way messages are passed, but th..."
https://github.com/unlock-protocol/unlock/blob/44dd9a8f023a0d007b8ff6e5486c6fc2fdd16b20/unlock-app/src/paywall-builder/iframe.js#L24-L29

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 44dd9a8f023a0d007b8ff6e5486c6fc2fdd16b20. It&#x27;s been assigned to @cellog because they committed the code.

[2019-01-05 23:05] julien51 commented on #912
Dupe of #913

[2019-01-05 23:05] #912 closed

[2019-01-05 23:07] julien51 opened #914 "Modal closes on payment confirmation"
Using @smombartz 's demo page: http://projects.mombartz.com/unlock/ the modal closes right when the payment goes thru, with no user action. This is not the intended behavior.

The intended behavior (demo seems to work correctly now) is to show the payment as received, then waiting for confirmations and finally showing the "Go to content" link which closes the modal. The goal of this is to make sur

[2019-01-06 20:06] cellog opened #927 "console.error in SuspendedRender during test output"
**Describe the bug**

There is a console.error output by SuspendedRender during test runs

[2019-01-06 20:08] cellog commented on #363
@julien51 is this resolved? The only thing I still see not in .gitignore is artifacts

[2019-01-06 20:10] cellog commented on #794
fixed by #817

[2019-01-06 20:10] #794 closed

[2019-01-06 21:50] #879 closed

[2019-01-07 00:44] julien51 opened #937 "Factorize "shared" config"
We should take all the local configs which are duplicated (eslint and more) and bring them up to teh root of the project if possible. This would decrease the weight of our repo/images because we would not duplicate dependencies at each level.

[2019-01-07 02:38] #913 closed

[2019-01-07 02:41] cellog commented on #807
fixed by #934

[2019-01-07 11:06] julien51 commented on #855
This is done! Closing

[2019-01-07 11:06] #855 closed

[2019-01-07 11:08] julien51 commented on #363
Yes! Closing now

[2019-01-07 11:08] #363 closed

[2019-01-07 11:08] julien51 commented on #195
Closing as we now have caching and I am not sure we can make smart parallelization at this point...

[2019-01-07 11:08] #195 closed

[2019-01-07 17:45] NickCuso opened #940 "Support opt-out renewals (eip-1337)"
**Is your feature request related to a problem? Please describe.**
We are designing a system where people may purchase access rights for content, and those rights expire after a certain amount of time.  This mechanism effectively offers an opt-in subscription model.  For example, if the purchased time period was one month then in order to keep access 24-7 the user would need to manually re-purchas

[2019-01-07 18:05] hardlydifficult commented on #38
I could take this on for the smart-contracts only.  I would use solidity-coverage to report to coveralls.io.  Once in place, we can add rules to:
 - Block pull requests which do not have at least x% covered (and we can increase x periodically overtime)
 - Block pull requests which reduce coverage by x (where x could be 0).

And coveralls supports a badge for the README page.

Let me know if I shou

[2019-01-07 18:16] julien51 opened #941 "Skip Netlify on external PR (coming from forks)"
When running CI, we deploy a "draft" to Netlify which we can use to "test" a live version of the code submitted in the Pull Request.
Deploying requires accessing env variables which are not available for external pull requests (for good security reasons).

For now we need to disable deploying to Netlify on external branches and we'll need to find a way to still deploy these.

[2019-01-07 18:33] cellog opened #943 "use app-wide constants for z-index"
**Describe the bug**
CSS z-index values have a strong effect on the appearance of the app, and are currently scattered all over the source. They should be centralized into a file and used as constants so we can more easily manage them

[2019-01-07 18:33] #941 closed

[2019-01-07 19:13] hardlydifficult commented on #637
How much of a refund would be offered?  e.g. maybe the Lock owner defines a rate per unit of time, where `refundRate * expirationDuration <= keyPrice`.  And/or a fixed penalty (selected by the Lock owner) could be applied as you suggested above.  Note that if both a refundRate and a fixed penalty are defined cancel won't make sense for keys which are near their cancellation date (which seems to ma

[2019-01-07 19:49] hardlydifficult commented on #148
I have an alternative approach to consider.  I understand there has been a lot of background on this issue previously so forgive me if this has already been discussed.

I agree with the goal of 1 key per user.  I believe we can keep this and still adhere to the ERC721 standard.
 - The key is defined with a tokenId, which is a sequence ID assigned at purchase.
 - If the key is transferred to an acc

[2019-01-07 20:08] cellog commented on #870
OK, Here is the setup I think we should explore: https://medium.com/bleeding-edge/screenshot-testing-with-react-and-storybook-19ab7e49ec92

storybook-chrome-screenshot and reg-suit together will give us a way to create screenshots and see the differences with a pixel diff

[2019-01-08 15:53] benwerd opened #945 "Embedded paywall doesn't display if you don't have Metamask"
**Describe the bug**
Right now the embed code only displays the paywall if you have Metamask or another web3 browser extension. Which means you're actually penalized if you're blockchain-capable.

**Expected behavior**
While you need a wallet to purchase a key, locks should display for everyone.

[2019-01-08 17:08] nfurfaro opened #946 "Consider removing `smart-contracts\test\Unlock\Unlock.js.` to save time when running tests."
From a comment by @hardlydifficult :

"To save on test run time, you could consider removing smart-contracts\test\Unlock\Unlock.js. That file demonstrates direct access to the Unlock contract vs going through a proxy. If you are moving forward with the proxy solution - there should be no benefit in maintaining both tests. smart-contracts\test\Unlock\UnlockProxy.js includes all the same tests runni

[2019-01-08 17:38] nfurfaro commented on #831
@julien51 @akeem I’m just wondering where we stand with the lock metadata discussion (although it's not my current focus)?
It looks like @Akeem’s PR #920 added the ability to store lock metadata. Would it be safe to say that we're going to move foreward with implementing the optional "metadata extension" on top of the basic erc721 spec?

For reference:
[code]
This is the "ERC721 Metadata JSON Sche

[2019-01-08 19:43] nfurfaro commented on #760
Unless this solves a specific problem we're having, I'm going to close it as it will almost certainly cause more difficulties than it may? solve (as far as integrating with the rest of our stack, zos, etc).

[2019-01-08 19:43] #760 closed

[2019-01-08 20:53] #945 closed

[2019-01-08 22:31] #846 closed

[2019-01-08 22:59] julien51 commented on #946
Please triple check that indeed these tests are duped...

[2019-01-08 22:59] nfurfaro commented on #946
Absolutely.

[2019-01-08 23:37] julien51 commented on #138
@cellog Could you please look into the job started by @jedahan and see what is left to do here?

[2019-01-09 00:50] #946 closed

[2019-01-09 15:51] cellog opened #962 "Refactor lockMiddleware to separate web3Service listening from actions on it"
As evidenced by #888, it is difficult to respond to web3Service events outside of the lockMiddleware currently. There are 2 possible solutions to this, one is to combine middlewares (put new code inside lockMiddleware). The other is what I recommend, splitting out the listening from web3Service and the code that reacts to it.

This would be accomplished by having a middleware whose purpose is to l

[2019-01-09 16:43] cellog opened #963 "CreatorLock.stories.js has 2 invalid stories"
**Describe the bug**
The last 2 stories of CreatorLock.stories.js have invalid eth addresses, and so error out with blank red screens. This is because their lock addresses are invalid.

**To Reproduce**
`npm run storybook`
click on `CreatorLock`
click on `Withdrawal Submitted` or `Withdrawing`

**Expected behavior**
story

**Screenshots**
<img width="1671" alt="screen shot 2019-01-09 at 11 42 14 a

[2019-01-09 17:08] akeem commented on #831
@nfurfaro I think we still need some alignment with @julien51. Locksmith should be able to accommodate this, but I am not sure if we want to take this approach based on the valid points raised around the availability of v2 related applications allowing for updates

[2019-01-09 17:16] cellog commented on #963
invalid, was on a PR branch. Master is fine.

[2019-01-09 17:26] cellog opened #964 "postinstall.sh does not install locksmith deps"
**Describe the bug**
We need to add locksmith to the services that are run in postinstall.sh

[2019-01-09 17:41] #807 closed

[2019-01-09 18:54] cellog opened #966 "Adjust default network value to be the same as the default network for the NODE_ENV"
in the reducer that handles setting network, currently we do:

[code]

It should instead be set to the network that is currently in use, to remove a flash screen on startup in `npm run dev` and to make integration testing simpler

[2019-01-09 18:58] nfurfaro commented on #831
@akeem I'm just wondering... If we choose to use locksmith to store our key's matadata, what type of "pointer" would we have to the data that we could store in the key on-chain? Would it be possible to restrict it's size to 32 bytes/ 32 ASCII-character string?

[2019-01-09 20:20] akeem commented on #831
I'm not sure if the net effect of this would be materially different than utilizing something content addressable, but I think it should be able to hash the the address of the key's parent lock? and it's token id within 32 bytes (could definitely be incorrect about this)

[2019-01-09 21:07] julien51 commented on #148
@hardlydifficult I think this is a plan that would work... and I think looked at that but was worried this would not work for ERC721. If you think this is not at odds then we can proceed.

My concern is/was with keeping track of who previously owned a key to avoid them doing self referrals but I think not matter what we will have to keep track of that independently.

[2019-01-09 22:03] nfurfaro opened #969 "We should run our smart-contract tests once on rinkeby before deploying to mainnet."
This is recommended by truffle:

https://truffleframework.com/docs/truffle/testing/testing-your-contracts