[2019-01-09 22:21] akeem opened #970 "Further extraction of Logic Internals for Locksmith controller"
Currently the logic inside of Locksmith is starting to grow, we should start the extraction process to ensure that we have a decent separation of business logic from web framework.

This will also aid in testing

[2019-01-09 23:22] cellog commented on #876
(continuing the conversation from #968)

So we had a misunderstanding, and I did not carefully read the title of this issue. The issue, as I tried to describe it, is twofold

1) errors should not be thrown in reducers, but instead should be recorded as error state
2) jsx should not be stored in redux state, but instead should be generated from the redux state

What this issue is describing is a th

[2019-01-10 01:33] hardlydifficult commented on #148
Could you remind me about the referral requirements? I suspect we can implement them either way, but it may be a question of gas cost tradeoffs.

[2019-01-10 01:39] hardlydifficult commented on #148
And Re at odds with erc721, I believe it is not but the spec is not explicit enough. I propose we test with 0x as a proxy for confirming we adhear to standards well enough.

[2019-01-10 03:22] cellog opened #973 "Storybook stories should also show different viewports"
There is an addon for storybooks that allows quickly switching back and forth between different viewports to verify responsiveness. We should add this to all stories.

[2019-01-10 11:10] julien51 commented on #876
We are perfectly aligned on this and the reducers do not throw or record errors anymore as you note later. I think this is ok. I want us to focus on the 2nd issue which is the one blocking right now (always better to tackly one problem at a time!)

Since the problem with our current approach is that we have JSX inside the redux store and that objects in redux needs to be "simple", I suggest using

[2019-01-10 11:25] #964 closed, assigned to cellog

[2019-01-10 12:55] cellog commented on #876
I have to disagree, please trust me on this one? I spent over 8 hours on this, starting from the premise you are speaking about, but arriving here. Can we chat later?

[2019-01-10 12:57] cellog commented on #962
That's exactly what this issue proposes, I spoke to Akeem about that. I could do the refactoring part since it's redux stuff, if you'd like, @akeem @julien51, and then this PR could be updated to use that

[2019-01-10 16:01] nfurfaro commented on #969
Not at all.

[2019-01-10 19:51] cellog opened #976 "Multiple error conditions should be allowable in the redux store"
Currently, only a single error condition is storable in the frontend, but it is common (in form validation, for example) to have multiple error conditions.

[2019-01-10 19:52] cellog opened #977 "Multiple error conditions should be displayable at once in the Error component"
After it is possible to store multiple errors in the redux store, it should be possible to display them in the Error component on the frontend. @julien51 @smombartz it would be useful to have a sense of what this should look like before proceeding

[2019-01-10 20:48] smombartz commented on #977
how this?
![image](https://user-images.githubusercontent.com/1377389/50996155-2a3eaa80-14ef-11e9-9b41-0d7547274f47.png)

mock: https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-App?node-id=0%3A2

[2019-01-10 20:58] smombartz opened #980 "Paywall Subscription Status Flag"
**Solution**
Once a user has paid for content and the paywall disappears a flag informs them that they've paid for the content.

**Design**
![image](https://user-images.githubusercontent.com/1377389/50996386-bf41a380-14ef-11e9-8108-ec0f92ea17ab.png)

Mock: https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Paywall?node-id=0%3A837

[2019-01-10 21:04] smombartz opened #981 "Paywall Subscription Status Flag Expanded Metadata"
**Solution**
A user can expand the Paywall [Subscription Status Flag](https://github.com/unlock-protocol/unlock/issues/980) to show metadata (like duration, price, ...)

**Design**
![image](https://user-images.githubusercontent.com/1377389/50996947-5f4bfc80-14f1-11e9-842a-c855d6bf5bc6.png)

Mock: https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Paywall?node-id=5%3A141

[2019-01-10 22:40] cellog commented on #977
looks good, I just implemented it, screenshot in the PR

[2019-01-10 23:01] cellog commented on #876
I'd like to implement this as such:

errors are defined by action creators, constants are the redux action constants. So, for example, web3Service error is defined by WEB3_ERROR, and `web3Error` function. This function accepts the original error object from web3, and stores it in error.metadata.

Then, on the UI side, I'd like to use `mapStateToProps` to generate the actual JSX for us, by using an

[2019-01-11 00:47] cellog opened #983 "Paywall flag is mis-formatted"
As shown in https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Paywall?node-id=0%3A825

The paywall flag should be to the right. It is currently centered and below the paywall

[2019-01-11 13:31] julien51 commented on #876
I do not see the benefit of that approach in the context of the issue as it is now. Let's keep things simple.

[2019-01-11 13:33] julien51 commented on #876
See https://github.com/unlock-protocol/unlock/pull/985

[2019-01-11 14:22] #876 closed

[2019-01-11 15:54] #465 closed

[2019-01-11 17:02] #664 closed

[2019-01-11 18:17] wawhal commented on #465
It'd be great if you marked the issue as resolved on gitcoin @julien51

[2019-01-11 21:52] hatgit commented on #334
Hi @julien51, has the work submitted by @chiro-hiro been reviewed? (I see the issue was closed) If so, and accepted, you can log in to the Gitcoin dashboard and enable the payment to be released from within the dashboard, if not please comment here so any related revisions can be considered by @chiro-hiro if needed.

[2019-01-11 22:36] cellog opened #991 "JSX is still put into redux store, which is an anti-pattern"
**Describe the bug**
#985 does not fix the underlying problem of putting JSX into the redux store, it just adds a level on indirection.

Pre-985:
[code]

Post-995
[code]

which translates into:

[code]

We cannot store jsx in the redux store, it makes serializing the store impossible, and breaks time travel debugging.

The correct solution is to store only the metadata used to generate error jsx i

[2019-01-12 00:52] julien51 commented on #991
Huh I cannot reproduce? In master, so post 995, the variable `MISSING_PROVIDER` is coming from `errors.js`:
[code]

So this is not JSX? Could you tell me more?

[2019-01-12 00:52] julien51 commented on #991
[this is not affecting users in any way... so changed to p3]

[2019-01-12 18:19] cellog commented on #991
This was an end-of-day misreading of source code, closing as invalid

[2019-01-12 18:19] #991 closed

[2019-01-12 20:30] cellog opened #992 "Feature request: ability to set and reset many errors with one redux action"
**Feature request**
**Background**

This challenge is currently a blocker for another issue.

For error processing in the Creator Lock Form (#797) I have been working on a PR to implement this. In the process of doing this, I have encountered (or imagined in the case of #3) these possible scenarios:

***Scenario 1: User triggers multiple errors***
This happens when the user resets 2 form fields to

[2019-01-12 20:58] nfurfaro commented on #148
Regarding erc721
I don't believe we'll be at odds either, but I'm all for testing this with
0x. There should be nothing from preventing us from adding additional
functionality or restrictions on top of meeting the basic requirements of
the 721 spec.

On Wed, Jan 9, 2019, 6:39 PM Hardly Difficult, <notifications@github.com>
wrote:

--

Nick Furfaro

[2019-01-13 03:16] julien51 commented on #877
Unfortunately this is not currently solved. Re-opening.
The problem is still with the alignment of the icons as seen on the following screen capture:

<img width="1280" alt="screenshot 2019-01-12 at 22 15 25" src="https://user-images.githubusercontent.com/17735/51081176-c2878b80-16b7-11e9-98e8-5e2e670e6ee0.png">

[2019-01-13 17:18] #976 closed

[2019-01-14 00:44] julien51 commented on #992
Thanks for this detailed proposal.

Before weighing further I think I need to understand better.
For now, my understanding is that on `CreatorLockForm` we invoke validate every time a field is changed. My understanding is that you would want to add that error to the redux store immediately. Is that correct?

I'd want first to challenge that assumption. I think that this may appear to be very 'obno

[2019-01-14 00:46] cellog commented on #992
Hi,

Yes, that sounds good. This action would still be necessary at that point,
and also easy to generate, as we can store it in the component state, and
only propagate it on form submit.

Greg

On Sun, Jan 13, 2019 at 7:44 PM Julien Genestoux <notifications@github.com>
wrote:

--
https://twitter.com/gregcello
Unlock <https://unlock-protocol.com/>
The web's new business model

[2019-01-14 01:11] julien51 commented on #797
Just to clarify, the error message should happen on *submit*, not when the data is being entered... let's give a chance to the user to get it right before showing error messages!

[2019-01-14 01:18] #992 closed

[2019-01-14 14:43] todo[bot] opened #1003 "To speed things up both images are cached on AWS's docker registry (the latest v..."
https://github.com/unlock-protocol/unlock/blob/79212007321e97e24dcdefd9b4b755d147f7eba8/.travis.yml#L8-L13

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 79212007321e97e24dcdefd9b4b755d147f7eba8 when #956 was merged. cc @unlock-protocol.

[2019-01-14 14:43] todo[bot] opened #1004 "To speed things up both images are cached on AWS's docker registry (the latest v..."
https://github.com/unlock-protocol/unlock/blob/49beee5bf08f355bfaaf2cf213ff2315b9bdf450/.travis.yml#L8-L13

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 49beee5bf08f355bfaaf2cf213ff2315b9bdf450. It&#x27;s been assigned to @julien51 because they committed the code.

[2019-01-14 14:43] todo[bot] opened #1005 "To speed things up, both image building processes could be runnning in parallel...."
https://github.com/unlock-protocol/unlock/blob/79212007321e97e24dcdefd9b4b755d147f7eba8/.travis.yml#L9-L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 79212007321e97e24dcdefd9b4b755d147f7eba8 when #956 was merged. cc @unlock-protocol.

[2019-01-14 14:43] todo[bot] opened #1006 "To speed things up, both image building processes could be runnning in parallel...."
https://github.com/unlock-protocol/unlock/blob/49beee5bf08f355bfaaf2cf213ff2315b9bdf450/.travis.yml#L9-L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 49beee5bf08f355bfaaf2cf213ff2315b9bdf450. It&#x27;s been assigned to @julien51 because they committed the code.

[2019-01-14 14:43] todo[bot] opened #1007 "To speed things up, all of the test scripts could be run in parallel."
https://github.com/unlock-protocol/unlock/blob/79212007321e97e24dcdefd9b4b755d147f7eba8/.travis.yml#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 79212007321e97e24dcdefd9b4b755d147f7eba8 when #956 was merged. cc @unlock-protocol.

[2019-01-14 14:43] todo[bot] opened #1008 "To speed things up, all of the test scripts could be run in parallel."
https://github.com/unlock-protocol/unlock/blob/49beee5bf08f355bfaaf2cf213ff2315b9bdf450/.travis.yml#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 49beee5bf08f355bfaaf2cf213ff2315b9bdf450. It&#x27;s been assigned to @julien51 because they committed the code.

[2019-01-14 15:32] julien51 commented on #138
On this one, the solidity/smart contract part is implemented and tested. On the react app side, the `web3Service` supports `updateKeyPrice` which means we only need the UI to be implemented. Assigning to @cellog with highest priority.

[2019-01-14 15:35] julien51 commented on #391
It _looks_ like the UI part has been implemented and merged in https://github.com/unlock-protocol/unlock/issues/465

But something weird is going on because here is what it looks like on staging for a lock with 5 keys sold:
<img width="1613" alt="screenshot 2019-01-14 at 10 34 47" src="https://user-images.githubusercontent.com/17735/51122545-201af580-17e8-11e9-9d6a-37ad24f41c07.png">

[2019-01-14 15:47] akeem commented on #391
Investigating

[2019-01-14 15:48] cellog commented on #465
👏🏻👏🏻👏🏻

[2019-01-14 15:52] cellog opened #1010 "add updateKeyPrice to redux"
To implement #138, we need a redux action `updateKeyPrice` that can be used to change the key price of a lock.

[2019-01-14 15:54] cellog opened #1011 "listen for key price updates in lockMiddleware"
to implement #138, we need to listen for key price updates in lockMiddleware and send them to the contract. On error, we need to revert changes to local redux store

[2019-01-14 15:56] julien51 opened #1012 "Size of columns on list keys is not great"
When listing the keys we show their owner, their expiration date and the data field. Right now all fields have the same size which creates a lot of white space while truncating valuable information. We need to resize the columns accordingly.

See
<img width="825" alt="screenshot 2019-01-14 at 10 56 21" src="https://user-images.githubusercontent.com/17735/51123894-0cbd5980-17eb-11e9-8626-ddbaf44d26

[2019-01-14 15:59] julien51 commented on #391
Ok, after checking things it looks like there are several missing blocks.
The first one is basically that we get the keys from the `keys` store and filter them. Since we never actually fetch the list of keys this will not take us very far...

[2019-01-14 16:39] julien51 commented on #391
I will work on the web3Service function to list keys by page first, while @akeem works on the solidity function to return a "page" of owners.
We'll plug that into the redux store after this.

[2019-01-14 16:42] julien51 commented on #391
Scratch that, the web3Service function `getKeysForLockOnPage` already exist!
Looking at the redux store now then!

[2019-01-14 16:43] nfurfaro commented on #391
@julien51 @akeem I have that functionality  (return a page of owners )written already if it's helpful...

[2019-01-14 16:51] akeem commented on #391
@nfurfaro thanks for pointing this out, this is super helpful!

[2019-01-14 16:52] nfurfaro commented on #391
@akeem NP.

[2019-01-14 18:17] cellog opened #1016 ""Create Lock" button invisible on mobile in dashboard"
**Describe the bug**
When viewing the dashboard on mobile, the "Create Lock" button is invisible in the layout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard
4. See error

**Screenshots**
![screenshot_20190114-131512](https://user-images.githubusercontent.com/98250/51131780-a6423680-17fe-11e9-8dd5-5c89a2818357.png)

**Smartphone (please complete the following information):**

[2019-01-14 18:19] #1010 closed

[2019-01-14 18:23] julien51 commented on #1016
I think that was intentional :)
The use case of creating locks on the go is probably fairly advnlanced for now.

[2019-01-14 18:58] #1011 closed

[2019-01-15 03:21] julien51 commented on #1016
We also do not have a good looking form for mobile. Closing until we decide to actually implement this.

[2019-01-15 03:21] #1016 closed

[2019-01-15 14:17] julien51 commented on #391
This feature is now working and live. @akeem will finish refactoring the key listing function though to make it slightly more efficient!

[2019-01-15 14:17] #391 closed

[2019-01-15 14:18] julien51 commented on #430
I think this is probably one of the reason Next is hard to debug? When there is an error we redirect to `/`. Right @cellog ?

[2019-01-15 14:18] julien51 commented on #531
This has been merged!

[2019-01-15 14:18] #531 closed

[2019-01-15 14:20] julien51 commented on #565
This is probably part of a larger rewrite of `LockMiddleware` which should really be `web3Middleware`. When doing this we should move all the stuff that is not web3 related in that middleware to other middlewares.

[2019-01-15 14:21] julien51 commented on #594
A lot of work was done since this was opened and I have no idea if the problems are still happening. (Artifacts are not in git anymore even...)

So I will be closing for now, but please, feel free to re-open if you're still seeing errors with that.

[2019-01-15 14:21] #594 closed

[2019-01-15 14:22] julien51 commented on #630
The second part (about `.only`) is done via eslint.

The first part still needs to be done. cc @akeem with whom I had a discussion about that yesterday!

[2019-01-15 14:56] #977 closed

[2019-01-15 14:59] cellog commented on #430
correct. I think we should implement something more explicit in dev, like create-react-app does, and something more graceful in production that displsy no detail and emails us, or opens an issue. but I think this has security implications, so email is safer

[2019-01-15 17:03] julien51 commented on #637
I think all of these are good questions. Thanks @hardlydifficult !
I think the `refundRate` is fairly simple to compute `price * keyDuration/(expiration-now)`. I think the penalty is fair game.

For now, since we have no user feedback on that, let's work on a thing where the penalty is 10% of the total price (at purchase time). This does indeed mean that at some point, it is not worth cancelling a

[2019-01-15 17:05] julien51 opened #1025 "Partial withdraws"
Right now, when the lock owner withdraws, they withdraw all the funds on the lock.
Since we want to implement a mechanism to cancel a key, we need to allow the lock creator to only withdraw funds partially.

For this feature to exist we need to things:
1. Support on the smart contract. Assigning this to @nfurfaro .
2. Support on the creator dashboard. Assigning this to @smombartz for the design an

[2019-01-15 17:23] nfurfaro commented on #1025
@julien51 off the top of my head...there could be 2 withdraw functions, 1 with 0 args and 1 with one uint arg. Both would end up calling an internal function `_withdraw(uint amount)` similar to how `purchaseFor` and `purchaseForFrom` are implemented. The uint amount could be in ETH or a percentage (such as `withdraw(50)` to take half.)

[2019-01-15 18:24] nfurfaro commented on #1025
RE: TODOS in withdraw function

As for number 1, Not sure we want to let anyone call this even if it can only go to the owner...
As for number 2, this is easy to implement, but as only the owner can currently call the function is reentrancy a concern in this case?

[2019-01-15 19:01] benwerd opened #1034 "Let Locksmith use non-tracked configuration file"
Right now, you can edit configuration options in Locksmith by changing `config.js`. Unfortunately, because that file is tracked as part of the main project, that makes it very easy for database details to be accidentally committed into git as part of a local clone or, potentially, a branch commit in preparation for a PR.

I'd like to suggest that Locksmith checks for the existence of a new file, e

[2019-01-15 19:01] benwerd commented on #1034
Tagging @akeem to weigh in here.

[2019-01-15 19:33] julien51 commented on #740
@nfurfaro Where are we on that front?

[2019-01-15 19:34] julien51 commented on #754
I think we can eventually cache the API call inside locksmith?

[2019-01-15 19:34] nfurfaro commented on #740
@julien51 thx for pointing this out. this issue is fixed. closing.

[2019-01-15 19:34] #740 closed

[2019-01-15 19:41] julien51 commented on #762
I think a version of this is still happening.
We can detect pretty well when the user loads Unlock for the first time but they do not have Metamask unlocked. BUT if the user loads Unlock with metamask unlocked AND THEN logs out of Metamask we do not take the info into account while we should.

Assigning this to Greg once the v0 stuff is done!

[2019-01-15 19:44] akeem commented on #1034
@benwerd thanks for raising this, I'll come up with something that should help to ensure that database details aren't captured in version control and wont be a pain to develop with

[2019-01-15 19:45] benwerd commented on #1034
I discussed it briefly with @julien51 and I don't think it's necessary for v0. But wanted to raise it!

[2019-01-15 19:51] julien51 opened #1038 "Wrong Fatal Error"
We are not showing the right fatal error when the user is "logged out" of metamask.
Here's a screenshot which shows this.

<img width="1451" alt="screenshot 2019-01-15 at 14 41 59" src="https://user-images.githubusercontent.com/17735/51205900-ec69c980-18d4-11e9-9f0d-4cb93d2c8e7e.png">

There we should not show "network mismatch" but something about the wallet being locked.

[2019-01-15 19:55] julien51 commented on #783
Re-assignig to @cellog for now...

[2019-01-15 21:25] smombartz commented on #1025
want to make sure i understand fully. is this to partially withdraw funds or cancel a key (which essentially is a partial withdraw)?

[2019-01-15 21:46] julien51 commented on #1025
No, this is not about canceling keys. It's for the lock owner. Once people have purchased keys, their lock receives the funds. Right now the lock owner can withdraw the funds when they want, but we want to allow them to do that only partially.

For example, I have a lock whose keys are $10. If 2 people purchase keys, I receive $20. Right now I can only withdraw $20, but we want the ability to with

[2019-01-15 21:51] julien51 commented on #1025
@nfurfaro For the use case 1. I actually think this could be a nice feature to build for some organizations where we trigger withdraws automatically on behalf of creators (I see this as a way to secure the funds, because we never know 100% that a smart contract could not be abused, or as a bug which would allow malicious people to steal the funds)

[2019-01-15 22:41] nfurfaro commented on #1025
@julien51 so for now I'll just leave the TODOs in place.

[2019-01-15 23:44] julien51 commented on #796
This is not happening anymore! Closing!

[2019-01-15 23:44] #796 closed

[2019-01-15 23:46] julien51 commented on #870
See https://github.com/unlock-protocol/unlock/issues/821 for options of tools.

[2019-01-16 00:04] cellog opened #1044 "in unlock-app/ npm run dev needs to re-build smart contracts"
**Describe the bug**

Occasionally, the creation of locks breaks down. @akeem traced this to the smart contracts being out of date in the `smart-contracts/build` directory.

If we add a `cd ../smart-contracts && npm run build` to the beginning of the `dev` npm command, it will fix this issue in perpetuity.

**To Reproduce**
build the smart contracts
change a smart contract
run npm run dev in unloc

[2019-01-16 02:43] cellog opened #1052 "redux action types can collide"
**Describe the bug**
Currently, redux action constants are co-located with the actions. Although this provides a convenience, it is dangerous.

For instance, I just tried to define a constant named UPDATE_LOCK, which already exists.

There is nothing that would have caught this, except that upon dispatching the actions, it would trigger in 2 different reducers with unpredictable results

There are

[2019-01-16 14:17] julien51 commented on #1044
Well, it should actually already do that ;)`npm run dev` invokes `npm run setup-dev` which does `npm run deploy-lock` which itself has `cd smart-contracts && npm run deploy` and deploy will invoke `truffle deploy` which itself does compile the smart contracts every time...

[2019-01-16 14:52] nfurfaro commented on #1044
I'm not sure if this is relevant here, but will be online in a bit and able
to look more... https://ethereum.stackexchange.com/q/11919/34349

On Wed, Jan 16, 2019, 7:24 AM Gregory Beaver, <notifications@github.com>
wrote:

--

Nick Furfaro

[2019-01-16 16:00] smombartz commented on #1025
@julien51 thats was my hunch. thanks for clarifying. so in the UI we need them to enter the amount they want to withdraw + confirmation button (which then gets sent to the wallet). correct?

[2019-01-16 16:28] nfurfaro commented on #1044
As @julien51 mentioned above, `npm run dev` eventually invokes `truffle deploy`. `deploy` (alias for `migrate`) invokes `truffle compile` under the hood. `truffle compile` will only compile contracts that have changed since the last compile.
So, it's possible that we need to enforce the fresh compilation of all contracts before deploying...maybe breaking out the `truffle compile` step into a "pred

[2019-01-16 17:31] julien51 commented on #880
Assigning this to me because this is blocking on another PR ;)

[2019-01-16 18:39] nfurfaro commented on #748
@hardlydifficult I was thinking the tokenID could be as simple as a uint that gets incremented, starting with 1 and leaving 0 unused (so we can always check a tokens' existence by checking if its ID == 0)
Is this more or less what you're thinking here?

[2019-01-16 19:02] nfurfaro commented on #748
I think once we've defined here what the strategy is for assigning tokenID's we should get it implemented. Not sure that we want to merge changes before v0 launch or not, see my concerns here:
https://unlock-protocol.slack.com/archives/CB59A879U/p1547665104386300

[2019-01-16 19:40] hardlydifficult commented on #748
I'm going to take a stab at this.  Let me know if it would be better to wait for our ERC721 conversation to continue, otherwise we can review in more detail once there's a PR.

[2019-01-16 19:45] nfurfaro commented on #748
I think it's reasonable to go for it and discuss more on the PR review @hardlydifficult.

[2019-01-16 21:14] smombartz commented on #877
@julien51 thinks this issue is also causing the below bug where the header is cut off on opera (51.0.2830.40)

![image](https://user-images.githubusercontent.com/1377389/51278757-72574480-19a9-11e9-8c34-848861a16eb4.png)

[2019-01-16 22:01] cellog opened #1066 "Refactor CreatorLockForm to extract ethereum-specific bits into web3service"
Currently, `CreatorLockForm` converts locks to form-friendly format in its constructor, and then back out to unlock-app-friendly format in `saveLock()`. We need to extract this functionality out into the web3service in order to contain our ethereum-specific code in there. This will make it possible to swap out for other blockchains in the future if necessary while preserving the same UI.

Ref: #10

[2019-01-16 22:05] hardlydifficult opened #1067 "Configure ENV for cross-platform support (Windows support)"
**Describe the bug**
On Windows several of the npm commands I have tried fail.  Below are two examples caused by setting an ENV variable.  We could consider using https://www.npmjs.com/package/cross-env for cross platform support.  Note I do not have experience with this package, but it seems to fit our needs.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. On windows, cd unl

[2019-01-16 22:08] cellog opened #1068 "refactor CreatorLockForm tests to not need the convert prop to be false"
Currently, the `CreatorLockForm` component has a `convert` prop, which is used to tell the constructor not to convert `keyPrice` and `expirationDuration` to form-friendly values from lock values.

In the app, `keyPrice` is represented in wei, and in the form, it is represented in eth.
In the app, `expirationDuration` is represented in seconds, and in the form, it is represented in days.

The unit

[2019-01-16 22:31] cellog commented on #1067
I saw this issue in the react-redux repo. The fix is simple, we have to use the npm package `cross-env` and prefix the commands that set env variables with it.

I knew we would get bitten by this soon, didn't expect it pre-v0 :)

[2019-01-17 01:42] cellog opened #1075 "use a "lock" prop instead of individual properties in CreatorLockForm"
Currently, the properties are individually set using spread notation. This makes the component brittle. Changing to a single property which contains the info will fix this issue.

[2019-01-17 02:46] hardlydifficult opened #1078 "Solidity 0.5 support"
**Describe the solution you'd like**
We would like to upgrade to the latest version of Solidity.  This is not critical, but a nice to have improvement.

**Additional context**
Changing from Solidity 0.4 to 0.5 includes breaking changes.  Many .sol files cannot be written in such a way as to support both versions (some can, like ZOS's `Initializable`).

At the moment there is one blocker preventing

[2019-01-17 14:50] julien51 opened #1080 "Support full screen web browser"
When browsing in full screen, Firefox does not visibly open a popup with Metamask. The user has to click on the Metamask icon to actually approve the transaction (the Metamask icon will actually show a very small number overlay to indicate that something is expected but that's fairly hard to see!)

A solution to that issue is to actually show something like "Check your web3 provider" when a transa

[2019-01-17 14:55] cnasc commented on #1080
If this issue only occurs in fullscreen mode, we can detect that the browser's inner height is the same as the screen height and only display the message then

[2019-01-17 14:57] julien51 commented on #1080
@cnasc That's a good point. However I am thinking that even though this is only a big problem in full screen it may also be a nice to have on non full screen so users understand they need to look at that pop-up which just opened?

[2019-01-17 14:58] cnasc commented on #1080
That's definitely a fair point

[2019-01-17 15:09] julien51 opened #1081 "Optimistic unlocking"
Purchasing keys takes a long time. On main-net, depending on gas prices we should not expect the key purchase to happen for 15 to 45 seconds at least (with high gas prices) and then if we wait for 12 confirmations, we're talking about about 10 minutes at least for the transaction to be confirmed and the key to be actually purchased.

I anticipate that this will be one of the most important pieces

[2019-01-17 15:09] cnasc commented on #1038
I'm willing to take a stab at this if you have other things going on, @cellog

[2019-01-17 15:19] cellog commented on #1038
go for it :) I'll leave myself on here to watch your comments.

[2019-01-17 16:39] julien51 opened #1085 "Can we get rid of the green line"
I think the green line on our paywall application looks gross.

I suggest we get rid of it and change the color of the gradient on the overlay to have something which slowly blends like this:
<img width="1031" alt="image" src="https://user-images.githubusercontent.com/17735/51333782-78eac800-1a4c-11e9-995e-34f2431fb6cb.png">

cc @smombartz

[2019-01-17 17:35] nfurfaro commented on #1078
@hardlydifficult Can you elaborate on the reason we're blocked? I know we discussed this briefly on our first call, but I don't remember what it was.

[2019-01-17 18:16] hardlydifficult commented on #1078
We use https://github.com/OpenZeppelin/openzeppelin-eth/blob/master/contracts/ownership/Ownable.sol which is still coded for Solidity 0.4.  It looks like the repository may not be maintained any longer.  Almost everything in openzeppelin-eth is also in openzeppelin-solidity, however for the `Ownable` implementation they used a different initialization approach (https://github.com/OpenZeppelin/open

[2019-01-17 19:06] #877 closed

[2019-01-17 19:31] smombartz commented on #1085
updated fade and purchase button
![image](https://user-images.githubusercontent.com/1377389/51343175-c0308300-1a63-11e9-98ea-7f5e9658c519.png)

specs are here
https://www.figma.com/proto/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=0%3A825&viewport=1269%2C738%2C0.355284&scaling=min-zoom

[2019-01-17 19:39] #797 closed

[2019-01-17 19:57] julien51 commented on #1085
This is cool! Thanks @smombartz

[2019-01-17 20:07] smombartz opened #1090 "Purchase Button for Paywall Card"
**Description**
When a user is served the paywall a card appears that indicates price of the key. The card is clickable but to make it more apparent we've added a Purchase button. The user can still click anywhere on the card to start the payment process

**Screenshot**
![image](https://user-images.githubusercontent.com/1377389/51345544-4ef3ce80-1a69-11e9-9309-4213e4fe29f8.png)

**Specs**
https://

[2019-01-17 20:10] smombartz commented on #1080
we have this view for the purchase card
![image](https://user-images.githubusercontent.com/1377389/51345795-dfcaaa00-1a69-11e9-87ea-ff0c7bd50454.png)

you can see the purchase card flow here (note design needs to be updated to include new purchase button layout)
https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=6%3A0

[2019-01-17 20:25] smombartz opened #1093 "Paywall Embed missing Key Purchase Card"
## Description
Paywall Key Purchase Card does not show up when logged out of metmask

## To Reproduce
http://projects.mombartz.com/unlock/

## Screenshots
<img width="1314" alt="screen shot 2019-01-17 at 15 15 00" src="https://user-images.githubusercontent.com/1377389/51346315-51efbe80-1a6b-11e9-8260-9076cc6c782d.png">

## Expected behavior
Should show error/instructions on wallet/metamask logout

[2019-01-17 20:29] smombartz opened #1094 "Paywall Embed Scrolling"
## Description
A user can still scroll and view the entire content even though the page should be locked.

## To Reproduce
http://projects.mombartz.com/unlock/

## Expected Behavior
Page should be locked and user should not be able to scroll

[2019-01-17 21:09] julien51 commented on #1080
@smombartz I think we have not implemented this :( oups.

[2019-01-17 21:15] #138 closed

[2019-01-17 21:41] julien51 opened #1097 "Show that there are no lock yet?"
When a creator comes to the dashboard for the first time, we should show that no lock has been previously deployed. Right now it's a big and scary void ;)

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/17735/51350653-b95f3b80-1a76-11e9-8239-3071a0efd60f.png">

cc @smombartz for the design/wording of this?

[2019-01-17 21:43] todo[bot] opened #1098 "consider allowing anybody to trigger this as long as it goes to owner anyway?"
https://github.com/unlock-protocol/unlock/blob/6fd9a4b3dea7cbc8d49d50f26a34e046f62ada64/smart-contracts/contracts/PublicLock.sol#L250-L255

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6fd9a4b3dea7cbc8d49d50f26a34e046f62ada64 when #1043 was merged. cc @unlock-protocol.

[2019-01-17 21:43] todo[bot] opened #1099 "consider allowing anybody to trigger this as long as it goes to owner anyway?"
https://github.com/unlock-protocol/unlock/blob/6fe362200c950b1e4643f1988106c79e02560612/smart-contracts/contracts/PublicLock.sol#L250-L255

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6fe362200c950b1e4643f1988106c79e02560612. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2019-01-17 21:43] todo[bot] opened #1100 "check for re-entrency?"
https://github.com/unlock-protocol/unlock/blob/6fd9a4b3dea7cbc8d49d50f26a34e046f62ada64/smart-contracts/contracts/PublicLock.sol#L251-L256

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6fd9a4b3dea7cbc8d49d50f26a34e046f62ada64 when #1043 was merged. cc @unlock-protocol.

[2019-01-17 21:43] todo[bot] opened #1101 "check for re-entrency?"
https://github.com/unlock-protocol/unlock/blob/6fe362200c950b1e4643f1988106c79e02560612/smart-contracts/contracts/PublicLock.sol#L251-L256

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6fe362200c950b1e4643f1988106c79e02560612. It&#x27;s been assigned to @nfurfaro because they committed the code.

[2019-01-17 21:43] todo[bot] opened #1102 "check for re-entrency?"
https://github.com/unlock-protocol/unlock/blob/6fd9a4b3dea7cbc8d49d50f26a34e046f62ada64/smart-contracts/contracts/PublicLock.sol#L264-L269

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6fd9a4b3dea7cbc8d49d50f26a34e046f62ada64 when #1043 was merged. cc @unlock-protocol.

[2019-01-17 21:44] #1102 closed

[2019-01-17 21:44] #1100 closed

[2019-01-17 21:45] #1101 closed

[2019-01-17 21:45] #1098 closed

[2019-01-17 21:45] #1099 closed

[2019-01-17 21:54] nfurfaro commented on #896
I'll get started on this @julien51.

[2019-01-17 22:12] hardlydifficult opened #1103 "Switch to error codes"
**Is your feature request related to a problem? Please describe.**
Not a problem AFAIK, but a best-practice.  Particularly as localization is implemented.

**Describe the solution you'd like**
I propose we follow the pattern 0x uses.
 - Every require throws an error code
 - Every error code appears in a .sol file for reference
 - Javascript maps error codes to an enum

Once we have this we should

[2019-01-17 22:18] julien51 commented on #1044
I think the way forward is to create a `nuke` function at the root of the repo which will remove all of the transient files (including dependencies) and terminate all related processes (ganache). This should clear any problem that is hard to debug like this one.

[2019-01-17 22:23] julien51 commented on #808
Thanks for this @mcernusca ! I also just read this https://voxpelli.com/2016/07/better-handle-npm-modules/ by @voxpelli and I think we can take some of his ideas into account ;)

[2019-01-17 22:24] julien51 commented on #776
@cellog Any way to quickly reproduce this one?

[2019-01-17 22:26] #738 closed, assigned to nobody

[2019-01-17 22:34] hardlydifficult opened #1104 "solhint is not running in Travis CI correctly (Solidity linter)"
**Describe the bug**
`solhint` is executed with each build.  But somehow errors are not appearing!  I just checked, this is the current state on the master branch:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://travis-ci.com/hardlydifficult/unlock/builds/97759769#L1172 and see that `solhint` was called
2. Compare output (which is none in Travis) to running locally `unlo

[2019-01-17 22:35] hardlydifficult commented on #38
Sounds good.  Note that `solidity-coverage` is very slow and will increase our Travis build times.

[2019-01-17 22:49] #966 closed

[2019-01-17 23:36] nfurfaro opened #1106 "We should add a helper for testing transactions which should fail."
**Is your feature request related to a problem? Please describe.**
Something that was brought up recently by @hardlydifficult was the use of tests such as this example below. The observation he made was:

"This test will not fail if it did not revert, as expected. It will only fail if it reverts for the wrong reason."
### The test:
[code]

**Describe the solution you'd like**
The suggestion was to

[2019-01-17 23:40] hardlydifficult commented on #1106
I really like open-zeppelin's approach: https://github.com/OpenZeppelin/openzeppelin-eth/blob/master/test/helpers/expectThrow.js

Good find, are you okay using this one?

[2019-01-17 23:49] nfurfaro commented on #1106
Sure, we'll give it it try and see how it works for us. There's some talk on [this](https://ethereum.stackexchange.com/questions/9103/how-can-you-handle-an-expected-throw-in-a-contract-test-using-truffle-and-ethere) thread about it not working in Geth, but a truffle dev says it should
"Truffle dev here - this should work w/ geth & parity as long as you're using the latest version of truffle-contra

[2019-01-17 23:56] hardlydifficult opened #1110 "Possible overflow bug in PublicLock"
**Describe the bug**
`expirationDuration` is set in the constructor to any value.  If it's set to a very large value, we will cause overflows to occur and have unexpected results.

e.g. https://github.com/unlock-protocol/unlock/blob/master/smart-contracts/contracts/PublicLock.sol#L569

Additionally, if `expirationDuration` is large we could overflow on transfer as well.

e.g. https://github.com/un

[2019-01-18 00:01] nfurfaro commented on #1110
SafMath was on my mind today actually...

On Thu, Jan 17, 2019, 4:56 PM Hardly Difficult, <notifications@github.com>
wrote:

--

Nick Furfaro

[2019-01-18 00:05] benwerd opened #1111 "Homepage link to dashboard needs to prompt for ToC acceptance"
The homepage button that leads to the dashboard needs to first prompt users to accept the terms and conditions and privacy policy.

Clicking on "I Agree" here:

<img width="619" alt="screen shot 2019-01-17 at 4 03 58 pm" src="https://user-images.githubusercontent.com/624104/51356974-8ebeb400-1a71-11e9-8fc8-b2c3b22fea92.png">

Should reveal the dashboard button in its place:

<img width="383" alt="

[2019-01-18 00:34] julien51 commented on #1080
Also as much as this works for key purchases this does not work for all of the other types of transactions (I just was trying to see if withdrawing was working on locks but nothing happened when clicking on the button which caught me by surprise :/)

[2019-01-18 00:35] julien51 commented on #1104
This is pretty serious.

[2019-01-18 00:43] julien51 commented on #1104
When running things locally I also do not get anything. Could this be a different version?
[code]

[2019-01-18 00:45] julien51 commented on #1104
Wait, I know what is going on, we're running `$ solhint contracts/**/*.sol` from `/unlock/smart-contracts` so it is just running against the contracts inside `contracts/interfaces/` which are good :/.

2 steps:
1. Fixing the contracts
2. Updating the solhint script.

Do you think you or @nfurfaro can work on the first part?

[2019-01-18 00:46] julien51 commented on #1104
Even weirder: `$ solhint "contracts/**/*.sol"` does show the issues when `solhint contracts/**/*.sol` does not :/

[2019-01-18 00:54] hardlydifficult commented on #1104
1) I already fixed the lint issues: https://github.com/unlock-protocol/unlock/pull/1105
2) The docs seem to say we are doing it correctly... but maybe we can try this to cover all files:
`solhint contracts/*.sol contracts/**/*.sol` (https://protofire.github.io/solhint/)

[2019-01-18 00:55] julien51 commented on #1110
Using `SafeMath` is probably indeed a good idea. We should nonetheless have a 'decent' maximum expiration of say 100 years?

[2019-01-18 00:59] julien51 commented on #1104
1. Cool! We're all set then ;)
2. I think the doc show the glob wrapped in `"` which we are not doing. Adding a PR to test for that which should hopefully fail and then pass once #1015 is merged!
Thanks

[2019-01-18 01:16] hardlydifficult commented on #1110
How about adding support for forever?

You'd set duration to 0 and the key expiration is 0.  We currently use the expiration as a proxy for isKeyValid but that can change to use the new tokenId instead.

[2019-01-18 01:17] julien51 commented on #1104
Thanks for the quick turnaround on this @hardlydifficult !

[2019-01-18 01:17] #1104 closed

[2019-01-18 01:32] hardlydifficult opened #1113 "Test gas costs"
**Is your feature request related to a problem? Please describe.**
We should test the gas cost of every transaction (only the sends really matter, but it may be interesting to track calls as well - I'm not sure if there is any implications for an expensive call other than eventually it may become too expensive).

**Describe the solution you'd like**
Add a test for every send transaction and `asser

[2019-01-18 02:06] hardlydifficult commented on #1067
I'll pick this up tomorrow.

[2019-01-18 03:04] julien51 opened #1115 "Key price update is not showing to users"
When the user changes the price of a keys, an indication should be shown that the changes are happening (ie transaction as been sent...) but may take some time (confirmation... etc).
Right now the interface does not show that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the creator dashboard
2. Click on the pencil icon on one of the locks
3. Change the value of the price of keys on

[2019-01-18 03:58] smombartz commented on #1080
@julien51 what are the other transaction types/actions we would need this for? lock creation, lock edit, lock withdrawal, key purchase?

[2019-01-18 14:38] julien51 opened #1116 "Versionning the Lock Smart Contract"
Earlier in the week we added the ability for the lock owner to list the keys sold on their lock.
The initial approach was to retrieve each owner one by one and then pull the corresponding key one by one. This was fairly low performance but "worked".

@akeem implemented a function on the publicLock to make that faster via pagination https://github.com/unlock-protocol/unlock/pull/1018 (in the form o

[2019-01-18 14:40] smombartz commented on #783
specs can be found here: https://www.figma.com/file/fTMYnZ5z0kT4lcSCDymkHT/Unlock-Landing-Page?node-id=0%3A861

[2019-01-18 14:42] julien51 opened #1117 "Show that there is no key on a lock?"
When a lock is created, there are no key at first... I believe we should show a message indicating that, rather than leave the space empty (which introduces a doubt?).

<img width="1753" alt="image" src="https://user-images.githubusercontent.com/17735/51393261-4650d600-1b05-11e9-8ab0-3a804eded02c.png">

cc @smombartz

[2019-01-18 14:45] julien51 opened #1118 "Key price update form shows an error in number of keys"
When changing the price of keys, the form shows the number of keys field as disabled (which is expected!) but also shows it as erroneous (red) when the number of keys on the lock is unlimited.

<img width="909" alt="image" src="https://user-images.githubusercontent.com/17735/51393534-ea3a8180-1b05-11e9-9424-06c7e151a2ef.png">

It should show the `∞` sign in the field rather than 0 and mark it as v

[2019-01-18 14:49] akeem commented on #1116
I think the following would provide us with the most robust solution, but I guess we do need to ensure that we have a consistent reference to the deployed locks.

Can we burn the current locks deployed on rinkeby? If not I think we can conditionalize the front end to fall back to the iterative approach of listing keyholders

[2019-01-18 14:51] julien51 commented on #1116
@akeem We cannot burn existing contracts at this point (but we should add that too!).

And yes I think we can conditionalize to fall back, using version numbers for example.

[2019-01-18 14:54] julien51 commented on #1116
The other part of versioning is probably that we should keep the "old" ABIs around...

[2019-01-18 15:47] nfurfaro commented on #1116
This is something that appeared on my radar yesterday as well in another form. Some of the changes by @hardlydifficult which bring us closer to erc721-readiness have added new storage fields to our PublicLock contract. I'm pretty sure zos will refuse to upgrade on rinkeby until we move them to the end of the storage field declarations (basically we're only allowed to append new storage). Which is

[2019-01-18 16:00] nfurfaro commented on #1116
Also to consider here is the cost of "migrating" every lock each time we upgrade, which is linked to how we're using the upgrade process.
- If we only upgrade rarely when absolutely necessary, the cost to migrate may not be too bad.
- If we're treating upgrades more like a conventional dev process "moving fast, breaking things, continuous delivery" etc..., migrating could become very expensive.

O

[2019-01-18 16:04] julien51 commented on #1116
That is scary and there is one thing that I do not fully understand about the memory structure.
The deployed Lock should not be in the memory space of the Unlock smart contract right? They are indepedend smart contracts which have been deployed by Unlock but not like variables *inside* Unlock.sol?

I guess the one thing that is *inside* the Unlock smart contract code is actually the ABI for the Pu

[2019-01-18 16:10] julien51 commented on #1116
Regarding migrating (let's reserve the term upgrading for Unlock only to avoid confusion), this is a feature we can do *after* versioning. This seems fairly straigtforward:
1. Deploy a brand new PublicLock (with a new version), assign all of the keys for the old one to the new one.
2. Ask the owner to update the snippet of code.

We just discussed this with @akeem and this is where using ENS would

[2019-01-18 17:24] julien51 opened #1122 "Use stricter link-parent-bin"
We use `link-parent-bin` to copy the binaries from the root into the subfolders as shown on https://github.com/unlock-protocol/unlock/pull/1114

And right now it does it in a dumb way which means we have a couple danging `node_modules` (in wiki in particular...) but I have [commented](https://github.com/nicojs/node-link-parent-bin/issues/7#issuecomment-454042779) on an issue with that project to a

[2019-01-18 17:36] #783 closed

[2019-01-18 17:39] cnasc commented on #1117
This is simple enough to handle, just returning early from `render` in KeyList. Any opinions on how the message should be worded?

[2019-01-18 17:44] hardlydifficult commented on #1110
I'm going to start on this task.

If we want to add support for forever as well, we should probably open a new issue to track that feature.  It'll be a bit intrusive, but I think may be a good feature to have.

[2019-01-18 19:19] smombartz commented on #1117
![image](https://user-images.githubusercontent.com/1377389/51408228-03eebf80-1b2c-11e9-9513-b6068eec8123.png)

specs are here: https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-Dashboard?node-id=0%3A2

[2019-01-18 19:20] cnasc commented on #1117
Looks great, do you think we should hide the table header since there are no fields relating to it?

[2019-01-18 19:42] #1067 closed

[2019-01-18 20:16] #1117 closed

[2019-01-18 22:48] hardlydifficult commented on #38
solidity-coverage fails to execute the unit tests (https://travis-ci.com/hardlydifficult/unlock/builds/97865178#L1995) with the following errors:

 - Revert reason is not known (https://github.com/sc-forks/solidity-coverage/issues/305)
   - Proposed fix: when we add a `shouldFail` helper method (https://github.com/unlock-protocol/unlock/issues/1106), we can skip the message check when testing cove

[2019-01-18 22:53] hardlydifficult commented on #1078
Once this PR is accepted we can pick this task up again: https://github.com/OpenZeppelin/openzeppelin-eth/pull/43

[2019-01-19 21:02] cellog commented on #776
I found this happens 100% of the time by:

1) introduce a linting error
2) git commit -m "something"

[2019-01-19 21:08] cellog commented on #1094
browser? os? thanks

[2019-01-19 21:16] cellog commented on #1094
looking at the source, it looks like staging is running a really old version of the paywall. It's still loading unlock.js instead of paywall.min.js. This is not a bug in master, but in deployment perhaps?

I can't reproduce the bug using the demo page from master in any browser on Mac OS X, but can reproduce the problem in any browser, for the reason that staging is at least 2 weeks out of date on

[2019-01-19 21:17] cellog commented on #1094
alternately: Sascha, can you go to the dashboard on staging, and click on the Show embed code and re-copy the snippet into your local site? It's possible that you just haven't updated it since the changes were made?

[2019-01-19 21:19] cellog commented on #1094
Confirmed. Spotted in the source for project.mombartz.com/unlock/

[code]

This should be:

[code]

[2019-01-20 04:17] cellog opened #1134 "refactoring ShowUnlessUserHasAnyKeys to simplify and allow other use cases"
`ShowUnlessUserHasKeyToAnyValidLock` is currently doing too much. It has at least 3 possible components in it:

1. displays something if the user hasn't purchased a lock (a `ShowWhenLocked` component)
2. displays something if the user has purchased a lock (a `ShowWhenUnlocked` component - currently not possible without some weird code duplication)
3. something that communicates with the iframe usi

[2019-01-20 16:09] cellog commented on #1025
what's the priority on this one?

[2019-01-20 16:15] cellog commented on #852
fixed by https://github.com/unlock-protocol/unlock/commit/93e9f2ec0ee97c22c284d559439206f0c3ba79a6

[2019-01-20 16:15] #852 closed

[2019-01-20 18:19] smombartz commented on #1094
ooops. totally did not update it. [working now](http://projects.mombartz.com/unlock/) :)

[2019-01-20 19:19] #943 closed

[2019-01-20 19:38] cellog commented on #1094
closing as fixed

[2019-01-20 19:38] #1094 closed

[2019-01-20 19:47] cellog commented on #1093
In order to quickly iterate on this bug, I need to somehow set up a local server that will load the paywall, because with the demo on staging, it won't load at all. I'll see if I can whip up the built-in apple webserver and serve some static html

[2019-01-20 21:12] cellog commented on #1093
ok I've got local repro working, now I can solve this sucker

[2019-01-20 22:04] julien51 commented on #1115
This is now working as resolved by https://github.com/unlock-protocol/unlock/pull/1125

[2019-01-20 22:04] #1115 closed

[2019-01-20 22:06] julien51 commented on #1093
oh, I think you can try [serve](https://www.npmjs.com/package/serve)?

[2019-01-20 23:36] julien51 commented on #1110
Thanks @hardlydifficult ! I am actually not in favor or "forever" things even though I know in practice someone could set a 1000 year old expiration and we'd have the same effect in practice.
Thanks for doing the work on the overflow!

[2019-01-20 23:53] julien51 commented on #1080
All of them. Anything can be trigger on full screen and the user would not know that something is waiting for them in a new window/popup.

Please provide a design with a full page overlay? Thanks!

[2019-01-20 23:55] julien51 commented on #393
Closing because I am not sure there is anything we can actually do about that ourselves.

[2019-01-20 23:55] #393 closed

[2019-01-20 23:55] cellog commented on #1080
FYI, I run ff full-screen, and the window changes to a full-screen popup for metamask when I click to buy a key in my tests. Is this perhaps a per-user popup setting?

[2019-01-21 17:05] smombartz commented on #1080
updated purchase flow is here
https://www.figma.com/proto/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=0%3A825&viewport=675%2C24%2C0.240769&scaling=min-zoom

specs are here: https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=0%3A825

maybe we should discuss precise wording messaging for the different states.

[2019-01-22 13:15] cnasc opened #1145 "Consider adding a jsconfig.json file to the root of unlock-app"
**Describe the solution you'd like**
Adding a `jsconfig.json` to the root of `unlock-app` can improve some tooling, as seen here: https://code.visualstudio.com/docs/languages/jsconfig

This would benefit users of VSCode, and (selfishly) the Tide plugin for Emacs that I use.

[2019-01-22 14:25] #1118 closed

[2019-01-22 14:32] julien51 opened #1148 "Disabling lockmsith message signing?"
Locksmith requires to sign a message in order to save the name of a lock.
Since we do not currently have locksmith enabled, we should probably disable this for now on staging/production?

[2019-01-22 14:47] julien51 opened #1149 "Closing the overlay when pruchasing a key fails"
Steps to reproduce the behavior:
1. On a demo page
2. Purchase a key
3. Once the purchase went thru, click on "go to content"

**Expected behavior**
The overlay should go away, but it does not.

**Desktop (please complete the following information):**
 - OS: OX X (latest)
 - Browser Firefox
 - Version Latest

[2019-01-22 14:57] julien51 opened #1150 "Purchasing keys is failing"
**Describe the bug**
This is maybe the root cause of this one https://github.com/unlock-protocol/unlock/issues/1149 but it looks like purchasing  keys is failing.
I just deployed a lock at 0x202EE6b98CEF909876339B07560D605CA6C426C4 and we were then trying to purchase keys for it.
The Unlock UI does not show that they are failing... (which is something we should certainly do!) but when checking the

[2019-01-22 15:45] cnasc commented on #1038
<img width="1399" alt="screen shot 2019-01-22 at 10 43 49 am" src="https://user-images.githubusercontent.com/9300702/51546652-a3fd5f00-1e32-11e9-969e-66a3be0c5a1d.png">

I think we may be able to close this issue now, the work to fix #966 seems to have handled it.

[2019-01-22 15:56] julien51 commented on #1150
It appears that this lock was deployed with a max number of keys of 0, and that is not considered as an unlimited number of keys.
We need to update the unlock-app to consider 0 as 0, and -1 as unlimited.
Assigning this to myself.

[2019-01-22 17:09] #1012 closed

[2019-01-22 17:48] cnasc opened #1154 "Paywall does not launch on Brave"
**Describe the bug**
Paywall does not render when using Brave browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Brave browser with Metamask installed and logged in.
2. Go to a page that has a lock that you do not have a key for.
3. Note that no paywall appears.

**Expected behavior**
A paywall will appear that prevents me from scrolling/using the page and provides the opportunity

[2019-01-22 18:34] julien51 commented on #1149
This is probably a consequence of https://github.com/unlock-protocol/unlock/issues/1150

[2019-01-22 18:34] #1149 closed

[2019-01-22 18:45] julien51 opened #1156 "Missing duration on locks"
When showing the lock on the paywall we currently do not show the duration of the purchased keys.
@smombartz Could you provide a quick desighn update?

<img width="270" alt="image" src="https://user-images.githubusercontent.com/17735/51557799-e8e1bf80-1e4b-11e9-914c-17f5dc630768.png">

[2019-01-22 18:54] julien51 opened #1157 "Users with no web3 should see an error message on the paywall"
When a user loads a paywall-ed application, they should see an error message indicating that they need to use a web3 enabled web browser to view the content.
They currently see... nothing!

[2019-01-22 18:59] julien51 commented on #1157
Closing as dupe of #1093

[2019-01-22 18:59] #1157 closed

[2019-01-22 19:04] nfurfaro commented on #1154
@cnasc I think this is working for me. Will update, but currently at 7 confirmations.
![image](https://user-images.githubusercontent.com/17053076/51558921-deb8c480-1e3d-11e9-87de-a41aa45b9b3c.png)

[2019-01-22 19:12] nfurfaro commented on #1154
So, this works for me on Rinkeby on a lock I created. I don't see a paywall on Sascha's page...

[2019-01-22 19:24] cellog opened #1158 "Paywall does not show locks in coinbase wallet for Android"
**Describe the bug**

In coinbase wallet, the lock does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://projects.smombartz.com/unlock
4. See error

**Screenshots**

![screenshot_20190122-141958](https://user-images.githubusercontent.com/98250/51559846-0b2a0c00-1e51-11e9-925c-d291775a7fd3.png)

**Desktop (please complete the following information):**
 - OS: Android

[2019-01-22 19:38] smombartz commented on #1156
hows this?
![image](https://user-images.githubusercontent.com/1377389/51560674-3877b980-1e53-11e9-9a0f-fe4e55f8ed49.png)

specs: https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=0%3A825

[2019-01-22 19:48] #1150 closed

[2019-01-22 19:52] julien51 commented on #1156
@cnasc Do you want to work on this one? [we currently do not have the green part either BTW... please add both at once ;)]

[2019-01-22 19:52] julien51 commented on #1156
Also note that the `Monthly` thing at the top ois the name of the lock... which we currently do not have available (it will be coming from locksmith)

[2019-01-22 19:57] cnasc commented on #1156
Working on it. Adding the green part now.

[2019-01-22 19:59] julien51 commented on #1154
Moving to p2 as this is maybe not as critical now that Brave is not special anymore? (no web3 provider in in by default)

[2019-01-22 20:05] julien51 opened #1160 "Key listing is not working"
**Describe the bug**
As identified last week pagination is not working anymore for previously deployed locks (deployed before the smart contract was updated to add a pagination method).
We have now upgraded the locks which means pagination works for the new ones... but the old ones are left out.
@akeem implemented a catch mechanism which would fallback to the "old" way of listing keys, but this do

[2019-01-22 20:07] julien51 opened #1161 "Sort locks consistently"
I start to have deployed several locks on rinkeby. Since we do not have names for them anymore I am starting to have trouble knowing which one is which, especially since their order is different every time I reload the page.

I think we should load them by chronology (using the block numbers of the transactions).

[2019-01-22 20:13] akeem commented on #1158
Adding docs for reference: https://drive.google.com/file/d/1UU9_36keso1DbKKEck4DdO19Ap1FF0ov/view

[2019-01-22 20:21] cnasc commented on #1156
Getting the green purchase part is a bit difficult without lots of changes, so I'm going to split this up into adding the duration and then getting the styling in sync with Figma

[2019-01-22 20:46] cellog commented on #1038
thanks!

[2019-01-22 20:46] #1038 closed

[2019-01-22 20:57] cellog commented on #1134
is this design OK?

[2019-01-22 20:57] cellog commented on #1134
needed for #980 which is a p-2, changing to p-2 for that reason

[2019-01-22 21:06] nfurfaro commented on #969
I'm looking into this now. When we run `truffle test` now, truffle will run our migration scripts  ( on network 'test') and then use snapshotting to ensure our tests do **Not** share state with each other.
`2_deploy_unlock.js` on network 'test' will deploy Unlock directly, with no proxy.
We can also pass `truffle test` an alternate network, such as `truffle test --network rinkeby`.
As per the truf

[2019-01-22 21:07] cnasc commented on #1156
@smombartz will the other forms of the lock (pending, confirming, confirmed) also have changes to the design? It looks like to implement this there will be some big changes to the current lock pieces and I want to make sure I'm not going to step on anything.

[2019-01-22 21:21] nfurfaro commented on #969
There is one issue that may be trickier to deal with...
When we run `truffle test`, the Unlock contract is deployed by the truffle deployer:
`if (network === 'test') {
      return deployer.deploy(Unlock, unlockOwner)
    }`
We can then access the contract in our tests:
[code]
But, in some of our tests we use zos instead (which I think we should be doing consistently via a zos helper PR. I will cr

[2019-01-22 21:58] akeem commented on #1160
Have got a somewhat better understand of what is occurring here, will have code soon but want to be sure the tests reflect what is indeed happening

[2019-01-22 22:44] smombartz commented on #1156
@cnasc i updated the locks based on that new design. you can see them [here](https://www.figma.com/file/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=0%3A1978). the flow is prototyped [here](https://www.figma.com/proto/LkWSSnCGlKEITBB5T5NYXW/Unlock-Paywall?node-id=0%3A817&viewport=679%2C819%2C0.46261&scaling=min-zoom). probably good to check in with julien.

@julien51 have you seen the above?

[2019-01-22 23:54] julien51 commented on #1160
Great! Thanks @akeem !

[2019-01-23 01:59] julien51 commented on #969
Thanks Nick for your work on this.
I am not sure I like the idea of tweaking the deployer with a switch statement.
The more I think about it, the more I think it is not required to run the unit tests on the deployed lock as is.

I think we should have another acceptance test suite which would be independent from our unit tests (and would not try to deploy the contract) but would test the "core" fu

[2019-01-23 02:14] julien51 commented on #1156
@smombartz I just did, pretty much cool with the new design... except for the "border" which I do not like but my tastes are not the point here ;)

[2019-01-23 03:11] cellog commented on #762
this is probably going to be fixed by the implementation for #1093

[2019-01-23 04:54] nfurfaro commented on #969
Thanks for the feedback, Julien. This reinforces my feeling about not needing to run the existing test suite against the deployed contract.
On your points:
• tweaking the deployer - I'm not ok with tweaking the deployer, but am totally ok with adding network-based conditionality to the migrations scripts. Truffle docs have good examples of this: https://truffleframework.com/docs/truffle/getting-st

[2019-01-23 15:22] akeem commented on #1160
https://github.com/unlock-protocol/unlock/pull/1172

[2019-01-23 15:59] akeem commented on #1148
Closing this as the associated branch has been merged

[2019-01-23 16:05] #1148 closed

[2019-01-23 16:46] julien51 opened #1175 "Find lock address before deployment"
We currently assign a new (temporary) address to locks while we wait for them to have been deployed.
It turns out that we can know the address which will be used for the lock before the transaction has actually been mined.
This will remove the need for the temporary address.

[2019-01-23 17:11] julien51 commented on #969
Ok, let's open an issue for an acceptance suite and I am closing this one ;)

[2019-01-23 17:11] #969 closed

[2019-01-23 17:14] julien51 opened #1176 "Smart contract acceptance suite"
It would be good to have a smart contract acceptance test suite. It should not run during our CI process but we should be able to point it to the mainnet deployment and ensure that the smart contract does what we expect it to do.
The first step is to actually write some scenarios.

[2019-01-23 17:15] julien51 commented on #969
Done https://github.com/unlock-protocol/unlock/issues/1176

[2019-01-23 17:16] nfurfaro commented on #1176
Sounds good. For reference, more context on this here: #969

[2019-01-23 17:16] julien51 commented on #1080
@smombartz I insist because I think this is important that we have an "app-wide" mechanism for that.

[2019-01-23 17:18] julien51 commented on #1090
I think @cnasc Is already working on that in https://github.com/unlock-protocol/unlock/pull/1178, so re-assign to him ;)

[2019-01-23 17:20] julien51 commented on #1093
Any update on that one @cellog ?

[2019-01-23 17:21] cellog commented on #1093
yes, last PR will be the next thing I code, should be before lunch

[2019-01-23 17:21] julien51 commented on #880
Ohh, we upgraded to 5.10 ;)
Closing now!

[2019-01-23 17:21] #880 closed

[2019-01-23 17:23] julien51 commented on #565
This is a duplicate of https://github.com/unlock-protocol/unlock/issues/962

[2019-01-23 17:23] #565 closed

[2019-01-23 17:46] nfurfaro commented on #1110
So, I think the quick short-term fix is to cap the maximum value here to 100 years (3153600000 Seconds) as @julien suggested. This can be done before deploying tomorrow. As for safeMath, I think we should use it to protect against the transfer scenario, but as we don't currently have transfer implemented on the frontend it seems lower priority / a separate PR?

The simplest place to enforce a max

[2019-01-23 17:56] cellog commented on #1093
update: the code works, the styling is not there yet, so I'm going to push to after lunch.

[2019-01-23 19:13] #1090 closed

[2019-01-23 19:13] #1156 closed

[2019-01-23 19:17] hardlydifficult commented on #1110
I think I would prefer putting the require statement inside PublicLock.  This is because:
 - Longer term I believe we should remove parameters from Unlock.sol and accept arbitrary data instead.  This will free us up to define Lock types which require a completely different set of configuration information.
 - We may also want to add the ability for a Lock owner to change the expirationDuration, an

[2019-01-23 19:22] #1111 closed

[2019-01-23 19:51] nfurfaro commented on #1110
@hardlydifficult RE: your points in above comment...
1.) This would be a good discussion to have at some point to pin down how we'll actually implement this (creating different types of locks). In this context, it makes sense to move the check to PublicLock.
2.) I suppose changing the expirationDuration would be ok as long as a lock owner could only extend (and not shorten) the expirationDuration.

[2019-01-23 20:19] julien51 commented on #981
Pushing this to v0+.

[2019-01-23 20:20] #896 closed

[2019-01-23 20:21] julien51 commented on #875
Dear @greenkeeper[bot] , please re-open if this is still applicable.

[2019-01-23 20:21] #875 closed

[2019-01-23 20:23] cellog opened #1185 "Lock should round display value to the day"
**Describe the bug**

Locks are currently limited to being saved by the day in our dashboard, but there is nothing in the protocol preventing them from being other lengths. Our Lock UI should round to the nearest day if necessary

<img width="1670" alt="screen shot 2019-01-23 at 3 19 40 pm" src="https://user-images.githubusercontent.com/98250/51634653-cbcbf000-1f22-11e9-9533-7ce804588ced.png">

[2019-01-23 20:26] julien51 opened #1188 "Expired keys do not show as expired!"
When showing keys which have expired, we should mark them as such rather than show a nagative number:
<img width="2038" alt="image" src="https://user-images.githubusercontent.com/17735/51634844-409f2a00-1f23-11e9-9103-8083e8afcdfd.png">

[2019-01-23 20:55] nfurfaro commented on #1110
Closing, as #1182 and #1187 have been merged.

[2019-01-23 20:55] #1110 closed

[2019-01-23 21:13] julien51 opened #1191 "Sold out locks should not allow keys to be sold anymore"
When a lock is sold out, we should show it as such on the paywall so that customers cannot try to actually purchase keys from it...

@smombartz we probably need a design for that?

[2019-01-23 21:31] akeem commented on #1160
@julien51 do you believe that we can close this at this time?

[2019-01-23 21:37] #1093 closed

[2019-01-23 21:41] #1188 closed

[2019-01-23 21:42] #1085 closed

[2019-01-23 21:49] cellog opened #1193 "Terms of Service is slightly too wide on mobile"
**Describe the bug**
The Terms of Service box pushes content (including the menu) off-screen to the right on mobile. I'll attach a screenshot momentarily

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging
4. See error

**Screenshots**

![screenshot_20190123-164305](https://user-images.githubusercontent.com/98250/51639135-2b7bc880-1f2e-11e9-8bbb-50ea6d99ccc8.png)

**Desktop (please

[2019-01-23 22:00] nfurfaro opened #1195 "After purchasing a key on Julien's Lock, I'm unable to view content."
**Describe the bug**
After purchasing a key on Julien's Lock, I'm unable to view content. The "Go to Content" button doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.ouvre-boite.com/members/'
2. Click on 'purchase key'
3. Wait for 12 confirmations
4. Attempt to view content

**Expected behavior**
I should be able to view content with a valid key.

**Screenshot

[2019-01-23 22:03] benwerd opened #1196 "Order of dashboard button and terms should be reversed"
The dashboard button should click through to the terms of service, which in turn should click through to the dashboard. Presently, the button order is reversed.

Also see #1193.

[2019-01-23 22:15] julien51 commented on #1195
The lock is there: https://rinkeby.etherscan.io/address/0x202ee6b98cef909876339b07560d605ca6c426c4

[2019-01-23 22:18] julien51 commented on #1195
Good news! This lock is a lock with a max number of keys of 0... so yeah, purcchasing keys is never going to work and closing the modal should not be expected to work.
This is 2. above.

We still need to do 1. and also https://github.com/unlock-protocol/unlock/issues/1191

[2019-01-23 22:22] julien51 commented on #1195
@nfurfaro I just updated the lock I am using on my blog. Could you try again and let me know if this works better?

[2019-01-23 22:22] julien51 commented on #1195
And please close if it does!

[2019-01-23 22:24] julien51 opened #1198 "Detect failed key purchases"
As detected on https://github.com/unlock-protocol/unlock/issues/1195 we found that we are not telling the user when a transaction fails... while we should.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a lock with 0 maxKeys
2. Show the demo paywall
3. Purchase a key
4. See that no error is shown

**Expected behavior**
An error should be shown undicating to the user that what they tr

[2019-01-23 22:47] #1196 closed

[2019-01-23 23:23] cellog commented on #1185
Just the story. But if someone were to use a different UI to create a lock with a non-day expiration it would show when we view the lock

[2019-01-24 03:36] julien51 commented on #1160
Yes please!

[2019-01-24 03:37] julien51 commented on #1195
I cannot reproduce. @nfurfaro are you able to close this?

[2019-01-24 03:38] julien51 commented on #1185
Ho, ok! Thanks!

[2019-01-24 03:49] cellog commented on #1158
don't know where to start, reached out to coinbase for help, will have to wait for a reply.

[2019-01-24 04:07] #1075 closed

[2019-01-24 04:08] #762 closed

[2019-01-24 13:46] cnasc commented on #1191
We do have a disabled form of the lock, although it doesn't explicitly say that there are no keys left to be sold. Would it be sufficient to use that, but with a message along the bottom saying "Sold Out" or similar?

[2019-01-24 14:09] #1185 closed

[2019-01-24 14:26] #1052 closed

[2019-01-24 14:31] cellog opened #1203 "many files/variables need to be camel-Cased"
**Describe the bug**
many files like currencyconvert.js and staticdemo.js need to be camel-cased to fit the style guide

[2019-01-24 15:01] julien51 opened #1205 "Splitting up the creator dashboard and the paywall app"
Both the creator dashboard an the paywall are currently inside a single app... I believe we should strongly consider splitting them in 2 different apps.

The main rationale for that is that the creator dashboard does a lot more things and loads a lot more data than the paywall... which makes the paywall app particularly bloated and slow while it needs to be especially speedy and efficient.

I am s

[2019-01-24 15:03] cnasc commented on #1205
This is definitely a smart idea

[2019-01-24 15:08] cellog opened #1206 "scroll is not disabled in coinbase wallet"
**Describe the bug**
It *is* properly disabled in chrome, opera, and the slack browser

[2019-01-24 15:12] #1068 closed

[2019-01-24 15:18] akeem opened #1207 "Notification on deployment failures"
Currently, we deploy without notification. In the case of a failure to deploy we should raise a small flag to ensure that there is awareness.

A netlify issue on 23/01/2019 brought this to light.

[2019-01-24 16:08] nfurfaro commented on #1195
@julien51 Same issue for me with your updated lock, until I disabled Adblock...then it worked.

[2019-01-24 16:15] #1191 closed

[2019-01-24 17:48] nfurfaro commented on #1195
Closing, as I just tried again (with adblock enabled) and had no issues.

[2019-01-24 17:48] #1195 closed

[2019-01-24 18:11] cellog opened #1215 "Look at contributor docs (Greg)"
@cellog needs to look at contributor docs

[2019-01-24 20:32] akeem commented on #1044
I believe #1120 addresses this, shall we close this?

[2019-01-24 22:28] greenkeeper[bot] opened #1223 "An in-range update of openzeppelin-eth is breaking the build 🚨"
## The dependency [openzeppelin-eth](https://github.com/OpenZeppelin/openzeppelin-eth) was updated from `2.0.2` to `2.1.2`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Fopenzeppelin-eth-2.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ope

[2019-01-24 22:37] akeem commented on #1044
Closing as resolved

[2019-01-24 22:37] #1044 closed

[2019-01-24 23:01] nfurfaro commented on #1223
More on this here: https://github.com/OpenZeppelin/openzeppelin-solidity/releases
Looks like this update must be made in tandem with updating truffle to v5.0.0

[2019-01-24 23:04] nfurfaro commented on #1078
@hardlydifficult This can probably proceed now with the release of oz-eth v2.1.2. See #1223

[2019-01-24 23:38] smombartz commented on #1191
mocked it up on the quick. we need to think a bit more about paywall messaging and customizability (or minimizing it)

![image](https://user-images.githubusercontent.com/1377389/51715547-2cccf400-2007-11e9-9289-2999d4ccb419.png)

[2019-01-25 00:43] julien51 opened #1225 "Use a different (faster!) provider to retrieve data from the chain"
We currently use the same provider to get data from the chain and send transactions.
We could use a different provider when loading data from the chain (which does not require an unlocked user!) and when sending transactions.

This should make loading data from the chain significantly faster!

[2019-01-25 02:56] smombartz opened #1227 "Locks with Unlimited Keys shows as Sold Out"
## Description
When creating a lock with unlimited keys the paywall show the lock as sold out without having sold a single key

## Reproduce
http://projects.mombartz.com/unlock

## Expected behavior
Should show lock as purchasable and never be sold out

## Screenshots
**Dashboard**
![image](https://user-images.githubusercontent.com/1377389/51722200-9c9ca800-2022-11e9-8c67-33f5c0afaa4d.png)

**Payw

[2019-01-25 03:26] smombartz opened #1228 "Mobile Paywall allows for Scrolling"
## Description
On mobile (iOS chrome) the paywall allows for unpurchased content to be scrolled

## Reproduce
visit following site on mobile (iOS chrome) http://projects.mombartz.com/unlock or https://www.ouvre-boite.com/members

## Expected behavior
should not allow content to be scrolled

## Device
**Smartphone**
 - Device: iphone x
 - OS: iOS 12.1.2
 - Browser: chrome

[2019-01-25 14:40] cnasc commented on #1191
Maybe we should open a new issue for updating the sold out style?

[2019-01-25 18:44] hardlydifficult commented on #1078
\o/
On it.

[2019-01-25 18:46] cnasc commented on #1227
I believe this is no longer an issue as of #1226

[2019-01-25 20:05] nfurfaro commented on #1116
@julien51 could you elaborate on your thoughts here?
I'm thinking that we should keep the "old" versions of our contracts in the codebase for reference, and of course, we can always compile them to get the ABI/bytecode. I would like a way to prevent modifying these old versions...maybe adding them to `.gitignore` as soon as we release a new version?

[2019-01-25 21:02] julien51 commented on #1228
@cellog This is probably for you!

[2019-01-25 21:03] julien51 commented on #1227
Confirmed! Closing as soon as this is deployed!

[2019-01-25 22:05] julien51 opened #1234 "Automated deploys to production are not working"
We set up automatic deploys from tags, but it appears that these are not working as expected: https://travis-ci.com/unlock-protocol/unlock/builds/98666561

[2019-01-25 22:46] akeem opened #1235 "Paywall rendering a bit weird on non-responsive pages (iOS)"
Paywall rendering appears amiss on iPhone for non-responsive pages.

**To Reproduce**
Visit http://projects.mombartz.com/unlock/ on recent iphone with recent version of iOS

**Expected behavior**
Paywall sizing an details sized somewhat relative to content on the hosting page

**Screenshots**
![image from ios](https://user-images.githubusercontent.com/44215/51776723-5ef25a80-20c8-11e9-8548-10ad1b4

[2019-01-25 22:47] akeem commented on #1235
@benwerd would you mind updating this to ensure that all of the details are correct?

[2019-01-25 23:31] patrykadas opened #1236 "Web 3.0 provider lag lets me see the content"
At the initial load of the website, I can the article, until it disappears after my wallet balance is fully loaded.

Preview:
https://drive.google.com/file/d/1mkxrt52Qj8rLDYIGE8QqyWMaxe0lRYla/view?usp=sharing

I'd expect the loading spinner that says 'Checking your access right' and only after the Web 3.0 provider is fully loaded seeing the content or the payload with the buy-in option.

I can hel

[2019-01-25 23:33] julien51 commented on #1236
@patrykadas Thanks! You are right. We are working on something both faster and a bit smarter.

[2019-01-26 03:05] julien51 opened #1239 "Finish the move to requiredNetworkId from requiredNetwork"
We now use `requiredNetworkId` in the configuration default value and assign the `requiredNetwork` based on it. We should replace all uses of `requiredNetwork` with `requiredNetworkId` to be consistent accross the app.

[2019-01-26 03:06] #1227 closed

[2019-01-26 03:09] julien51 commented on #1193
This is fixed!
<img width="400" alt="image" src="https://user-images.githubusercontent.com/17735/51781930-e7cfbd00-20ed-11e9-8488-d184891e5ce2.png">

[2019-01-26 03:09] #1193 closed

[2019-01-26 03:11] julien51 commented on #1228
Do we need an iOS device in the office to test this with?

[2019-01-26 03:33] cellog commented on #1228
I have my iPad, Chris has an iPhone too, should be covered but can't hurt to have a couple

[2019-01-26 07:14] bmann opened #1241 "Ouvre-Boite blog doesn't recognize TrustWallet on iOS, doesn't scroll"
**Describe the bug**
Opening Ouvre-Boite in TrustWallet (copy / paste URL from Twitter, paste into URL bar in TrustWallet) displays "Need Account", and doesn't let me scroll to see if I need to click on something and do something else.

**Expected behavior**
I assume some sort of sign in with my wallet.

**Screenshots**

will add from my phone later

**Smartphone (please complete the following inf

[2019-01-26 15:15] #1161 closed

[2019-01-26 21:30] MagRelo opened #1242 "watch for account change to prevent 'invalid from address' error"
**Describe the bug**
Switching web3 accounts after the lock has loaded causes an error in web3

**To Reproduce**
1. Visit https://www.ouvre-boite.com/members/ with an account that doesn't have a key
2. Switch accounts in MetaMask
3. Click Purchase
4. See error in console: `MetaMask - RPC Error: Error: WalletMiddleware - Invalid "from" address.`

**Expected behavior**
Watch for changes and update t

[2019-01-27 00:47] cellog commented on #1242
thanks for the report, this is very helpful!

[2019-01-27 03:16] #1066 closed

[2019-01-27 03:18] julien51 commented on #1242
Very cool indeed! Thanks @MagRelo

[2019-01-27 05:14] bmann commented on #1241
![GitHawk Upload by bmann](https://i.imgur.com/UY0aJUN.jpg)

Here’s the screenshot.

I’m a big fan of TrustWallet — it is used widely.

[2019-01-27 19:33] julien51 commented on #1225
cc @cellog because I think this is relevant to your current work on the wallet front ;)

[2019-01-27 19:39] julien51 commented on #1241
cc @cellog @akeem Does it look like the same issue that we're facing with Coinbase's Wallet app?

[2019-01-27 19:39] julien51 commented on #1241
Also I was able to install on Android and seeing the same issue.

[2019-01-27 19:46] julien51 commented on #1223
You mean *after* or at the same time?

[2019-01-27 21:17] #825 closed

[2019-01-28 00:35] julien51 commented on #1225
One of the key elements is that all transactions sent from `walletService` are then handled by `web3Service` since all data has to be able to be rebuilt from the smart contract/chain. A consequence of this is that `walletService` is very minimalist in its implementation.

[2019-01-28 13:46] cnasc opened #1249 "Price and balance overflow their containers on dashboard"
**Describe the bug**
Price and balance on the dashboard are wider than their columns.

**To Reproduce**
Steps to reproduce the behavior:
1. From a fresh clone of master
2. Go to the dashboard with some locks on it (screenshot from storybook)
3. See the too-wide data

**Expected behavior**
Price and balance will be formatted to not be so large

**Screenshots**

<img width="1007" alt="screen shot 20

[2019-01-28 14:35] cnasc commented on #1235
This may be a Safari issue in general, I notice that the wallet missing message renders too low on desktop Safari

<img width="1448" alt="screen shot 2019-01-28 at 9 34 51 am" src="https://user-images.githubusercontent.com/9300702/51842971-13b29480-22e0-11e9-91aa-7a10c331d4c6.png">

[2019-01-28 14:51] #1097 closed

[2019-01-28 14:59] smombartz commented on #1025
here a quick solution that uses parts of the lock creation pattern

![image](https://user-images.githubusercontent.com/1377389/51844448-4b6f0b80-22e3-11e9-8abe-7133c25e61fb.png)

[2019-01-28 15:47] akeem commented on #1241
Referencing #1158 as they are related

[2019-01-28 16:24] cnasc commented on #1235
OK, if we set a Safari-specific attribute in a meta tag in the iframe head[1], it fixes the paywall sizing. The downside is that if we set that on the iframe, it messes with the parent non-responsive page...

![img_8c070a1923ab-1](https://user-images.githubusercontent.com/9300702/51850126-1d8fc400-22ef-11e9-9a16-c06cc2b0fe85.jpeg)

[1] https://bitsofco.de/ios-safari-and-shrink-to-fit/

[2019-01-28 16:32] akeem commented on #1154
This appears to be related to a chromium security setting, https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document . With this noted, i'll see how this can be resolved

[2019-01-28 16:47] nfurfaro commented on #1223
Need to check with @hardlydifficult on that... there was one piece of the upgrade puzzle that needed to be done simultaneously and I think this was it.

[2019-01-28 16:56] cnasc commented on #1235
@julien51 and I confirmed that this occurs on both iOS and Android. The root cause is that the site itself is not responsive, and there isn't a clean way to make the iframe be responsive when the site is not. I think this is a `wontfix`; the solution to having a responsive paywall is to have a responsive site.

[2019-01-28 16:56] #1235 closed

[2019-01-28 17:01] nfurfaro commented on #1176
@julien51

Did you have a specific format in mind for scenarios? I would probably start writing a bunch of skeleton tests with no implementation details such as `it("should do something...", () => {}
unless there is a different approach I should consider using here.

[2019-01-28 18:04] hardlydifficult commented on #1223
At the same time.

I was working on the upgrade to sol 0.5 on Friday, it's more intrusive than I was expecting (namely I did not expect the upgrade to also break many tests).  I'll try splitting it into a couple PRs if I can.

[2019-01-28 20:04] cnasc commented on #1228
Been poking around with the dev tools trying a few different iOS scroll-killers I've seen online. The only one I've gotten to work is setting `position: fixed;` on the `body`, but I'm not sure if that's a palatable solution.

[2019-01-28 20:11] cellog commented on #1228
Ooh, position:fixed will screw with content, you can see it with our demo. Perhaps the solution is to either integrate the paywall into the site, or to go to a separate page with complete control over content?

[2019-01-28 20:15] cnasc commented on #1228
To be fair, I'm not 100% certain that it's not Safari being weird about overriding the `touchmove` event from the console. This may be something that works delivered in another fashion, since there are posts from this past year recommending doing it that way.

[2019-01-28 20:50] cnasc commented on #1228
@julien51 and I talked this through and came up with an alternative to stopping scrolling entirely. We can grow the height of the paywall the further the user scrolls down the page, until eventually the page body is obscured entirely. I tested, and we are able to work with the `window` `scroll` event.

[2019-01-28 21:10] julien51 commented on #1225
The `walletService` has now been deployed. The next step is to "watch" transactions from inside the web3Service instead of when we trigger the transactions.

[2019-01-28 21:58] julien51 commented on #1225
The next step is to add a `walletMiddleware` which will be able to invoke the `walletService` methods as well as listens from the event it may trigger.

The bulk of this middleware will be about triggering new transactions and listening to `transaction.new` events triggered when a transaction has been sent.

[2019-01-29 03:06] akeem commented on #1154
https://github.com/ethereum/web3.js/pull/2203 should resolve this issue, there will be an increase in scope as we will need to accommodate for additional changes introduced to web3

[2019-01-29 13:01] #1239 closed

[2019-01-29 13:58] cellog commented on #1241
The scrolling being disabled is by design, as it hides the underlying content. The wallet not working is not by design, but we are making real progress on this front, stay tuned!

[2019-01-29 17:02] #1106 closed

[2019-01-29 18:25] hardlydifficult commented on #1078
I'm blocked on ZOS `TestHelper`.

The plan for this issue is to upgrade Truffle but continue using Solidity 0.4.25.  Once that's complete we can then create a PR to upgrade Solidity to 0.5.3.  The Truffle upgrade appears to cause the ZOS `TestHelper` to fail with `Cannot read property 'bind' of undefined at allPromisesOrError (node_modules/zos/lib/utils/async.js:36:11)`.

This may be related to th

[2019-01-29 18:50] NickCuso opened #1277 "`SH` for Windows dev support"
**Describe the bug**

Running `npm i` on Windows fails attempting to execute `./scripts/postinstall.sh`.

It seems on Windows, we must prefix the command with `SH`.  However when I tried this, it caused the Travis build to fail.  Maybe we need to use run-script-os to add SH while on Windows only.

**To Reproduce**
Steps to reproduce the behavior:
1. On Windows, run `npm i` in the root directory

*

[2019-01-29 19:45] benwerd opened #1278 "Z-index on paywall should be updated on payment"
**Describe the bug**

You can't click on any links once a lock has been paid for, because the iframe is still on top of the content.

**To Reproduce**

* Visit a paywalled page; eg https://werd.io/2019/testing-the-unlock-paywall--protocolcom
* Buy a lock
* Clear the paywall
* Try and click on the link

**Expected behavior**

The iframe z-index should be updated to sit below the content, so links c

[2019-01-29 20:26] cellog opened #1281 "When changing user account, the web3Service needs to reset its listeners"
**Describe the bug**

When changing user account, we reset state, but the web3Service keeps listening for new events. Because it can take a long time for newer transactions to come in, it's possible for stale state to appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the dashboard with metamask
2. Choose an account that has no locks/keys
3. Choose another account that has lots of

[2019-01-29 22:20] cellog commented on #1215
closing, as we now have a system to track this kind of thing in asana

[2019-01-29 22:20] #1215 closed

[2019-01-29 22:28] cellog opened #1285 "warning in running tests"
**Describe the bug**

#1239 introduced a warning into the test output, because a propType needs to be migrated to use `requiredNetworkId`

**To Reproduce**
run the tests

[2019-01-29 23:10] julien51 opened #1287 "Send transaction in new tab"
We have several issues with some web3 wallets/dapp browsers which all come down to the fact that we are trying to access the web3 provider from *inside* an iframe.

The work around which was suggested was to use a new tab to actually perform the web3 transaction.
Basically, from inside the iframe, if we detect that no web3 provider is available, clicking on the lock should actually open a new tab/

[2019-01-29 23:12] julien51 commented on #1287
This does require https://github.com/unlock-protocol/unlock/pull/1283 to be merged and https://github.com/unlock-protocol/unlock/issues/1225 to be fixed (working on both!)

[2019-01-29 23:13] julien51 commented on #962
Closing as done.

[2019-01-29 23:13] #962 closed

[2019-01-30 03:58] gyrevik commented on #431
I just installed ubuntu on my Windows 10 laptop. I'm going to try to find some time to see if that allows me to build this app on my laptop without issues. If it does it may solve a lot of issues for me. I think I've had problems building a lot of code bases because I'm on Windows 10 and there are sometimes issues with building JavaScript apps developed on non-windows machines. React focused JavaS

[2019-01-30 04:01] cellog commented on #431
Hi, we just merged some windows-friendly fixes try rebasing and it should be possible to build on windows

[2019-01-30 14:45] cellog commented on #1287
I'll work up a short document to describe the workflow before I begin work, and get the thing ironed out that way

[2019-01-30 14:59] #1285 closed

[2019-01-30 15:44] cnasc commented on #1249
Similar issue with prices on locks

<img width="320" alt="screen shot 2019-01-30 at 10 43 38 am" src="https://user-images.githubusercontent.com/9300702/51993002-05997b00-247c-11e9-900b-800648c10766.png">

[2019-01-30 15:49] jedahan commented on #138
this was closed in favor of @ryan-shea see #1086

[2019-01-30 16:53] akeem commented on #776
@cellog do you believe that #1295 helps to resolve this issue?

[2019-01-30 16:56] akeem opened #1296 "Update code base to address lint warnings"
#1292 Introduces a number of linting rules that move the code in a direction we would like, this issue captures the fact that we need to address the warning  and move the configuration from warn to error

[2019-01-30 16:58] julien51 opened #1297 "Propagate updates only if they are more recent"
We load locks directly from the latest version of the smart contract but we also load historical transactions (in chronological order). This means that when the state of a lock has changed, we actually "replay" all of its history and show all of the changes before actually coming back to the "final" and current state.

We should only update objects when the changes are coming from states which are

[2019-01-30 17:01] cnasc commented on #1203
Not starting on this yet, but an idea to detect places where this is necessary may be to extract features from the codebase (filenames, identifiers in a file...) and then detect if they are already camel-cased. If not, we can use something like [wordninja](https://github.com/keredson/wordninja) to split them and then transform to camelcase.

Not to overengineer it, but it seems like it could make

[2019-01-30 21:02] akeem commented on #1154
At the moment, this is consider blocked until we can upgrade unlock-app to 1.0.0.beta41

[2019-01-30 21:03] cellog commented on #776
yes

[2019-01-30 21:03] akeem commented on #1234
@julien51 I believe that you completed and released this functionality last week, can this be closed?

[2019-01-30 21:54] hardlydifficult commented on #1175
This creates a race condition to consider.  Addresses are based on the account `nonce`.  When a contract is deployed by another contract, the `nonce` is from the original contract (Unlock for us) and not the user's `nonce`.

When someone creates a new Lock, we can determine the address of the next Lock.  However if someone else is creating a Lock around the same time - the first to be mined will h

[2019-01-30 22:29] akeem opened #1301 "Look into adding a logger for deep debugging scenarios"
We've run into a few tricky to debug situations, giving us the need to add additional logging to the application.

We'll probably need to add a logger to give this work some structure while allowing us to gain insight into these scenarios

[2019-01-30 22:47] greenkeeper[bot] opened #1303 "An in-range update of truffle-hdwallet-provider is breaking the build 🚨"
## The dependency [truffle-hdwallet-provider](https://github.com/trufflesuite/truffle-hdwallet-provider) was updated from `1.0.2` to `1.0.3`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Ftruffle-hdwallet-provider-1.0.3).

This version is **covered** by your **current version range** and after updating it in your project

[2019-01-31 00:28] greenkeeper[bot] opened #1308 "An in-range update of zos-lib is breaking the build 🚨"
## The dependency [zos-lib](https://github.com/zeppelinos/zos) was updated from `2.1.0` to `2.1.1`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Fzos-lib-2.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

zos-lib is a direct dependency of th

[2019-01-31 00:49] hardlydifficult commented on #38
Getting close to enabling `solidity-coverage`.  For now, here's the report on our current status:
[code]

[2019-01-31 03:32] cellog opened #1312 "Pass the main window account to the paywall iframe"
When loading the iframe for the paywall, we need to securely communicate the account to the iframe, either using `postMessage` or passing it as a hash in the URL itself.

This is a required step to implementing #1287

[2019-01-31 03:35] cellog opened #1313 "If opening a new window, pass the locked URL to the paywall"
If the paywall needs to be opened in a new window because the provider is not available in an iframe, then we need to pass the original URL to the paywall, so that it can redirect back to that URL when the transaction is finished. This can be done by adding an optional parameter to the route for the paywall which will be the URLencoded url to redirect to after finishing. We will need to validate t

[2019-01-31 03:38] cellog opened #1314 "Redirect to the content after closing the paywall if it was in a new window"
If the paywall is in a new window, the final button after purchasing a key needs to redirect back to the original URL. This issue is dependent on #1313 being implemented.

This is a step on the path to implementing #1287

[2019-01-31 03:44] cellog opened #1315 "Detect whether the paywall needs to open in a new window instead of stay in the iframe"
The code that creates the iframe for the paywall (in `src/paywall-builder` needs to determine whether to pass the original url to the iframe, or some other method of communicating to the iframe that it must open in a new window, whether through `postMessage` or passing the account as a hash, which the iframe can then compare to its own account and use to determine whether the paywall will work as

[2019-01-31 03:44] cellog commented on #1287
The 4 issues above are the steps needed to implement this, plus the new read-only provider in #1225

[2019-01-31 14:13] julien51 commented on #1225
We now have 2 disctinct services: WalletService which is for anything that requires a user signature (transaction sending... etc) and Web3Service wich is technically a read only provider and does not require to go thru a wallet. The next (and final) step is to actually set the right configuration variables to use that!

[2019-01-31 15:35] akeem commented on #776
closing as resolved

[2019-01-31 15:35] #776 closed

[2019-01-31 15:51] julien51 commented on #1225
This can be closed after https://github.com/unlock-protocol/unlock/pull/1316 and https://github.com/unlock-protocol/unlock/pull/1317 have been merged!

[2019-01-31 15:59] #1303 closed

[2019-01-31 22:01] #1312 closed

[2019-01-31 22:44] julien51 opened #1331 "Link our most recent blog post!"
We should link (this)[https://medium.com/unlock-protocol/announcing-unlock-version-zero-a8a1ac8ea4ec] on https://unlock-protocol.com/about/!

[2019-02-01 14:01] cnasc opened #1338 "Iframe z-index change breaks developer overlay and blocks subscription status flag"
**Describe the bug**
#1279 fixed the issue with the iframe getting in the way of links on the page, but unfortunately caused the developer overlay to not respond to hover. Similarly, to implement #980 we'll need the flag element to respond to hover as well.

Per previous discussion, a possible solution is to resize and reposition the iframe so that it goes to the right-margin of the page and stays

[2019-02-01 15:06] cellog commented on #1338
oh that's a slick idea to incorporate the developer overlay into the flag for development :). Another solution is to not change the z-index on development, which may be more complex to implement, I'm pretty sure the `paywall.min.js` script can't know this.

If we go with the shrinking-iframe solution, then I think the best path is to combine the overlay and the flag as you suggest.

[2019-02-01 15:15] #1228 closed

[2019-02-01 16:31] cnasc commented on #1134
I believe we can close this now that #1319 has landed

[2019-02-01 16:32] cellog commented on #1134
Yes! well done @cnasc

[2019-02-01 16:32] #1134 closed

[2019-02-01 16:44] cellog commented on #1315
this is complete

[2019-02-01 16:44] #1315 closed

[2019-02-01 16:51] #1225 closed

[2019-02-01 18:10] hardlydifficult opened #1348 "Lock Deletion"
**Is your feature request related to a problem? Please describe.**
Goal (in priority order):
 - Enable a migration path, allowing Lock owners to upgrade and benefit from new features
 - Protect users from losing money on invalid Locks
   - Impacts purchase and maybe transfer (protecting users on the secondary market)
 - Be good ETH citizens and minimize bloat if we can

**Describe the solution you

[2019-02-01 18:13] hardlydifficult opened #1349 "Wrap contracts with a Javascript library"
**Is your feature request related to a problem? Please describe.**
This proposal may make it easier to implement breaking changes as we add functionality to our contracts.

**Describe the solution you'd like**
Wrap the smart contracts with a Javascript (or even better, Typescript) library.

The goal is to abstract away as many details as possible so the front-end and contract tests are not so coup

[2019-02-01 18:17] cellog commented on #1349
how different would this look from what we have now? Intriguing idea!

[2019-02-01 18:20] #748 closed

[2019-02-01 19:08] hardlydifficult commented on #1349
I'm not very familiar with how you are doing things today.  Poking around it looks like you are basically doing this already.  It would be similar to the web3Service.js and walletService.js.  The differences I had in mind:

 - Contract unit tests go through the same files (I guess this is the only real difference)
 - Deal with versioning, e.g. maybe a v0 contract throws an error, v1 calls with (x,

[2019-02-01 19:37] #980 closed

[2019-02-01 19:38] hardlydifficult commented on #1349
To clarify Fail fast, the contract tests would still need to confirm contract error codes of course.  The addition of solidity-coverage (test coverage) will help to ensure we don't overlook that concern.

[2019-02-01 19:40] cellog commented on #1349
I see, so this would be a bigger change on the smart-contracts side, but would create a unified abstraction layer for the contracts in both apps?

[2019-02-01 19:41] hardlydifficult commented on #1349
Yes, a "unified abstraction layer" is a great summary.  When I first filed this I did not realize how the front-end was already implemented.

[2019-02-01 19:43] cellog commented on #1349
well I for one think it's a great idea, it would help remove a lot of complexity from the frontend and be much easier to reason through. It is a big change, so perhaps we could implement it in pieces? Not sure how that would work out. Basically we would implement one smart contract function at a time

[2019-02-01 19:49] hardlydifficult commented on #1349
Yea, that sounds good.  I can take a stab at one method and migrate one Truffle test to use it, then we can debate the approach in PR.

[2019-02-01 19:50] cellog commented on #1349
I think before you get started, @julien51 should also weigh in

[2019-02-01 20:11] julien51 commented on #1348
I think this is fine... but does it actually prevent people from calling purchase directly on the lock? (I guess we can use a modifier to ensure that the purchase function is coming from Unlock?).

This would actually probably completely change how `purchaseFor` and co work on the locks, right? There is no need for them to callback to `Unlock` anymore?

[2019-02-01 20:12] julien51 commented on #1348
I also wonder about the implications in terms of messaging because it means that in practice, people purchasing a key are actually sending the Eth (or other) to an Unlock owned smart contract? Could this mean that we become a middleman?

[I know that in practice the fact that the lock calls back to Unlock is probably very similar...]

[2019-02-01 20:39] hardlydifficult commented on #1348
Yes, this prevents people from calling purchase directly on the Lock.  No functionality is lost though as they can make the call via a function in Unlock.

In terms of being a middleman, I believe this changes nothing.  Yes the money goes to Unlock and then the Lock, however it is impossible for Unlock to be stuck holding any ETH in the process.  This process simply allows us to guarantee that 1)

[2019-02-01 21:11] nfurfaro commented on #1349
I'm interested in this approach and think a Proof of concept PR makes sense as well pending Julien's thoughts.

[2019-02-01 21:12] julien51 commented on #1080
@smombartz Status on this one please?

[2019-02-01 21:31] julien51 commented on #1198
There are several types of failed key purchases:
1. The user does not have enough Eth to purchase the key
2. The user does no have enough Eth to cover the purchase + gas fees
3. The Lock blocked the purchase (the lock was either sold out or the recipient was `0x0`)

I believe these are triggered differently by the EVM as explained on https://ethereum.stackexchange.com/questions/6002/transaction-st

[2019-02-01 21:56] benwerd commented on #806
Oops, I let this languish. @cnasc lmk if you've started on this, but I'm going to assume you haven't and will grab it.

[2019-02-01 22:06] #1308 closed

[2019-02-02 01:10] #1313 closed

[2019-02-02 02:30] cellog opened #1362 "web3Middleware should not try to retrieve when no the redux store does not have an account"
**Describe the bug**
When loading the paywall with no account, it fails with an exception in `web3Middleware`

The lines in question are:

[code]

When pausing on the `getKeyByLockForOwner` when logged in, the lock has an address. When pausing while logged out, the lock has no address, and does not exist in state, so `lock` is undefined. In addition, a casual look shows that we are assuming that t

[2019-02-02 02:40] julien51 commented on #1362
The distinction between the the `walletService` and the `web3Service` is really between read and write.
The `walletService` requires the use of a wallet to sign transactions, while `web3Service` does not because it only reads content from the chain.

The bug you're seeing is real, but I do not think it is a problem inside `web3Service`. In practice, to retrieve the a key from the lock, we do not n

[2019-02-02 02:42] cellog commented on #1362
yes, I constantly confuse the two words, thanks for that fix to the title :)

[2019-02-02 03:37] #1362 closed

[2019-02-02 14:18] cellog opened #1368 "walletMiddleware swallows all actions if no user account exists"
**Describe the bug**
when logged out, the `walletMiddleware` never gets its initialization action to trigger the release of any stored actions. It is waiting for one of `[SET_NETWORK, SET_ACCOUNT, SET_PROVIDER]`

Perhaps the `web3Middleware` can spit out a `SET_NETWORK` action? Or maybe the `walletMiddleware` should just not hold on to actions?

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-02-02 14:20] cellog opened #1369 "networkDetectMiddleware is dead code, remove it?"
The `networkDetectMiddleware` is not used, except in its test. Is it dead code?

[2019-02-02 15:18] julien51 commented on #1369
Not sure where it's coming from but indeed if it is not used anywhere we should trash it ;) Also this is probably p3!

[2019-02-02 15:19] julien51 commented on #1368
I think we can actually remove this behavior altogether. I'll work on that next week!

[2019-02-02 15:33] julien51 commented on #1348
So I thought a lot about this and I think we should not do that. We cannot be a middlemen. Since the Unlock contract is upgradable (by us!) it means that in theory yes we could decide to change the rules and intercept payments and/or take a fee.

This all boils down to the fact that the `purchaseFor` methods are payable while the "callbacks" from the lock to Unlock are not.

I firmly believe that

[2019-02-02 15:34] julien51 commented on #1349
Let me wrap my head around this ;)

[2019-02-02 15:39] cellog commented on #1349
One thought: we could use a driver pattern, where the main library provides the functions we would call, and we can create drivers that actually implement the calls to the smart contract. This would also allow us to easily migrate from web3 to ethers.js or whatever else comes along, and it would also make it easy to upgrade the contract and even to support multiple contract versions simultaneously

[2019-02-02 15:54] akeem commented on #1349
Definitely jazzed by the idea, as it present a viable ways for people to interact and extend with what we have built this far.

I do think we should be considerably thoughtful about how and what we expose as it will affect adoption. If we choose correctly, the implementation details shouldn't matter all that much and developers should be able to build whatever they desire on top

[2019-02-02 20:46] hardlydifficult commented on #1348
1) agree.  We should probably track that as a separate issue/feature.

We need to keep in mind the cancelAndRefund feature here as well. If the Lock owner simply re-creates Keys on the new Lock without first invalidating them on the old lock (or first deprecating the old lock which could also block cancel attempts) then a user could try to cancel both the new and the old and potentially profit.

A

[2019-02-03 02:26] cellog opened #1373 "postMessageMiddleware doesn't call postMessage on parent"
**Describe the bug**
The `postMessageMiddleware` incorrectly tries to post messages to an iframe, but is designed to be run inside an iframe to communicate with the parent window.

[2019-02-03 03:03] #1369 closed

[2019-02-03 03:03] #1373 closed

[2019-02-03 04:33] cellog commented on #1314
this is implemented

[2019-02-03 04:34] cellog commented on #1236
this is implemented, thanks for the report

[2019-02-03 04:34] #1236 closed

[2019-02-04 14:03] cnasc opened #1382 "Improved paywall development workflow"
Currently, working on the paywall has a lot of friction because the related files are only built once, they don't automatically rebuild when you make changes. As a result, we have to constantly start and stop the dev server to build those changes.

**Describe the solution you'd like**
This might be part of #1205, but it would be nice if the paywall scripts automatically updated in response to chan

[2019-02-04 14:21] cnasc opened #1383 "Add a loading spinner when user chooses to purchase access"
**Is your feature request related to a problem? Please describe.**
There is a bit of delay between when a user clicks on the purchase button and when the lock shows that it has started confirming. It's not a huge delay, but long enough that they may wonder if their click had any effect. Adding a spinner or similar progress indicator here would smooth out the UX a bit.

**Describe the solution you'

[2019-02-04 14:24] julien51 commented on #1383
I think this is due to how we currently send transactions.
Basically, on one side we push the transaction through `walletService` and on the other site, `web3Sevice` pulls the transaction from the chain. Unfortunately though there is a non negligible time during which `web3Sevice` currently does not know what the transaction is about which means that the UI cannot show what is going on.

I think I

[2019-02-04 17:16] nfurfaro commented on #1116
To summarize where we're at with this:

1.) The lock contract now has version numbers implemented, but none of the new versions have been deployed yet as this requires an upgrade of `Unlock.sol` via zos.
2.) `Unlock.sol` has been modified to set the lock version number on creation, but hasn't been upgraded.

It probably makes sense to continue to modify the new version of `PublicLock.sol` (V1) up

[2019-02-04 17:38] smombartz commented on #1080
here an overlay mockup. as much as @julien51, liked this i'm not a fan of overlays – but i haven't come up with a more convincing solution. happy to throw ideas around if anyone else is :)

## Screenshot
![image](https://user-images.githubusercontent.com/1377389/52225934-a2438a80-2879-11e9-93e0-e0af469fe197.png)

## Specs
https://www.figma.com/proto/LkWSSnCGlKEITBB5T5NYXW/Paywall?node-id=179%3A0&v

[2019-02-04 19:39] cellog commented on #1301
Where were you imagining the logging would happen? I saw Julien did a server logger. Were you imagining something like using the log npm package to log stuff in my places?

[2019-02-04 19:42] #806 closed

[2019-02-04 19:50] akeem commented on #1301
Yes, something along these lines. We can move away from relying on console.log, use the logger and modulate the level of output based on the current log level

[2019-02-04 20:37] nfurfaro commented on #1348
Just weighing in on these three points.
1.) I like the idea of a `grantKeys` function, but also would like to avoid the need to migrate keys if possible. I think the idea of allowing locks to accept keys from a prior version (or indeed, from another lock entirely to allow for "packages deals - buy a key to my site and gain access to these others as well...) and think we should seriously consider t

[2019-02-04 23:55] julien51 commented on #1382
Should this be part of a larger discussion about splitting the paywall app and the creator dashboard from `unlokk-app`?

[2019-02-05 00:08] julien51 commented on #1349
I agree with the need to "ship" a low level library to wrap calls to the lock.
This low level library should certainly support versioning and be able to query a lock using its corresponding version.

I am not sure though that we should go as far as actually use that to test our smart contract. I know/understand this is painful with truffle but I want to make sure we have "unit" tests which are as

[2019-02-05 00:10] julien51 commented on #430
I think this is solved! Closing!

[2019-02-05 00:10] #430 closed

[2019-02-05 00:40] julien51 opened #1394 "Lag after transaction has been submitted and transaction has been "detected""
As part of the web3Service split, we have introduced a clear distinction between the act of "sending" and transaction (thru `walletService`) and reading a transaction (thru `web3Service`).
We also *only* use data from `web3Service` to actually build objects such as the locks or the keys, in order to make sure each object can always be constructed after a browser refresh for example, since no data

[2019-02-05 00:44] julien51 commented on #1394
This will be useful to fix https://github.com/unlock-protocol/unlock/issues/1198

[2019-02-05 01:23] akeem opened #1396 "Update plaform app & locksmith to utilize erc712 signature"
As part of ensuring that people utilize the signature process and feel good about confirming signing the information to be stored off chain.  The code needs to be shifted from `eth.sign` and `eth.person.sign` to a recent iteration fo type data signatures via EIP 712.

https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md#definition-of-typed-structured-data-%F0%9D%95%8A

[2019-02-05 03:18] akeem opened #1397 "Create ability to provide user with all transactions against locks (successful or otherwise)"
We want to be able to show to the user any transactions they’ve performed on a lock. This issue covers the investigation and should be close with the opening of an issue covering the implementation.

There are a few avenues to leverage including the use of Locksmith for offchain storage

[2019-02-05 14:09] julien51 opened #1398 "Enable integration tests"
Our integration test script is not running at this point.
The first step will be to enable it and ensure that it checks that the home page actually displays the word "Unlock".

[2019-02-05 14:12] julien51 commented on #1398
To set this up, we need to compile the smart contract inside the `unlock` container  and deploy them into the `ganache` container.

[2019-02-05 14:15] julien51 opened #1399 "Write integration tests for each v0 user story"
The integration tests should cover our user stories for each release. Since we have released v0, we should start by writing integration tests which reflect these:

For creators:

For consumers:

[2019-02-05 16:06] cnasc opened #1403 "Handle very huge prices"
**Is your feature request related to a problem? Please describe.**
In #1401 we cleaned up the storybook so that there wouldn't be any unreasonably huge prices making things look ugly. Of course, the fact that huge prices could make it look ugly is a problem, for example if we internationalize and show fiat prices in VND (1USD will get you about 25000VND, so you can see how we might end up with ver

[2019-02-05 16:11] cnasc opened #1404 "Refactor paywall story to mock container for unlocked flag"
**Describe the bug**
#1402 relies heavily on the iframe to handle the positioning and hiding of the `UnlockFlag` component. Since the storybook does not use the iframe for the paywall, we'll need to massage that story so that it will display in a manner consistent with the actual app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to storybook
2. Click on `Paywall > the paywall overlay,

[2019-02-05 16:22] julien51 opened #1405 "Sending transaction hashes to Locksmith"
When a user creates a transaction we should send its hash to locksmith right away so that we have a way to keep track of it until (and if!) it has been successfully mined and added to the chain.

We should use the `storageMiddleware` for this.

[2019-02-05 16:25] julien51 opened #1406 "Retrieving user transaction hashes from locksmith"
We currently retrieve a user's past transaction from the chain itself.
This present a few challenges:
* the transaction has to have been mined (pending transactions are not returned)
* the transaction has to have triggered an event (the web3 api only allows for this to work by filtering on index-ed events

We will use locksmith as an extra layer to store user's transaction.
We need a mechanism to

[2019-02-05 16:37] akeem commented on #1406
Please expect the following endpoint to be present `/{address}/transactions`

[2019-02-05 16:39] akeem commented on #1405
Please expect the following endpoint point to be present [post] `/transaction`

At the moment the expectation is that the body of the request will include valid json with a property of `transaction_id` . If you would like to use something else as the identifier please state below

[2019-02-05 17:53] cellog opened #1407 "decide what infrastructure to use for the paywall app"
The split of the creator side of Unlock (unlock-app) from the consumer side (paywall) provides a chance to re-evaluate the basic structure of the app.

Currently, unlock-app uses next.js. We should consider these possible frameworks for the paywall app:

1. continue with next.js
2. create-react-app
3. other alternatives outside the typical fold, like gatsbyjs

The first question is whether the pay

[2019-02-05 17:54] julien51 commented on #1406
So... what is `address` here? is that the `sender` or the `recipient`? Also can I expect an object of the same format as https://github.com/unlock-protocol/unlock/issues/1405?

[code]

[2019-02-05 18:42] julien51 commented on #1406
I am thinking of doing `GET /transactions` and then have a bunch of query params to filter on?

For example `GET /transactions?sender=0x123`. We could also do stuff like pagination using this for example (probably MUCH later).

[2019-02-05 19:06] cellog opened #1410 "Extract a minimal web3Service for paywall actions"
For the paywall app, we need a minimal read-only web3Service that can do these actions:

- retrieve the latest on-chain data about a lock based on its address (price, expiration, max number of keys, current number of keys)
- retrieve any keys on a lock that match the current account (if any)

@cnasc anything I'm forgetting?

[2019-02-05 19:07] cnasc commented on #1410
I think that should cover it for the read-only part

[2019-02-05 19:22] akeem commented on #1406
I can add support for this as an alias but would like to keep the address centric route

[2019-02-05 19:45] cellog opened #1412 "combine FATAL_MISSING_PROVIDER and FATAL_NO_USER_ACCOUNT"
They are basically the same thing. Let's combine these two fatal errors.

[2019-02-05 19:46] cellog opened #1413 "refactor Overlay to display the lock even if there is no account until the user clicks on the lock"
Currently, if the user opens the paywall with no account, there is an error message "you need a wallet." A better UX is to display the lock no matter what, until the user clicks on it, and then display an error.

[2019-02-05 20:54] cnasc commented on #1407
Gatsby is definitely interesting, and it does convey some advantages in terms of page weight and speed since it's static.

[2019-02-05 20:55] cellog commented on #1407
It's worth noting that create-react-app ultimately would also be static (yarn build) on deployment, just dynamic while developing.

[2019-02-05 20:59] cnasc commented on #1407
Oh cool, I didn't know it could do that. create-react-app might be the way to go then for ease of development.

[2019-02-05 23:16] nfurfaro commented on #1116
Closing as this is done.

[2019-02-05 23:16] #1116 closed

[2019-02-06 01:21] #1405 closed

[2019-02-06 02:59] cellog commented on #1314
not fully implemented yet!

[2019-02-06 03:56] hardlydifficult commented on #38
Quick update: solidity-coverage was running, but now builds fail with `Invalid number of arguments to Solidity function`.  I'm not sure what changed to cause this yet... going to diff the last working build vs master and go from there.

[2019-02-06 04:48] hardlydifficult commented on #1349
The driver pattern is what I used with a previous project, and we found it beneficial.  The "Library" was responsible for executing the contract methods and supported multiple blockchains (i.e. web3 and another web3-like option).  To achieve this we simply moved all web3 related logic into this abstraction layer.  This library would help us with migrating to ethers.js or even simply upgrading web3

[2019-02-06 05:50] hardlydifficult opened #1424 "eslint smart contract tests"
**Is your feature request related to a problem? Please describe.**
A best practice.

**Describe the solution you'd like**
We should be running `eslint` on the Javascript under `smart-contracts`.

**Describe alternatives you've considered**
n/a

**Additional context**
Running with current settings produces 31 errors today.  We may want to consider configuration used for unlock-app.

[2019-02-06 05:53] hardlydifficult commented on #1424
We should add this to both `npm run dev` and `npm run ci`

[2019-02-06 13:52] #1406 closed

[2019-02-06 14:03] julien51 commented on #1424
Great idea!

[2019-02-06 14:05] julien51 opened #1426 "Make sure that storeTransaction for StorageService is idempotent"
Based on our current architecture it is possible that the same transaction may be sent to storage multiple times.
Locksmith should handle that gracefuly and just ignore subsequent `storeTransaction` when it already has a transaction for the same hash.

[2019-02-06 14:54] akeem commented on #1426
@julien51 this should already return a 400, are you experiencing different behavior here?

[2019-02-06 18:45] julien51 opened #1437 "Lock sort is wrong when creating a new lock"
When a new lock is created, the dashboard displays it at the bottom of the list, instead of the top of the list...

[2019-02-06 19:37] cnasc commented on #1437
Well, this is interesting. No `blockNumber` on transactions...

<img width="631" alt="image" src="https://user-images.githubusercontent.com/9300702/52368370-3baaa200-2a1c-11e9-95ae-433cf3e72695.png">

...until you refresh the page.
<img width="663" alt="image" src="https://user-images.githubusercontent.com/9300702/52368516-9d6b0c00-2a1c-11e9-966d-58410001d0da.png">

[2019-02-06 20:19] nfurfaro opened #1438 "Write Scenarios as part of smart-contract acceptance suite"
**Is your feature request related to a problem? Please describe.**
This is a sub-task (1/3) of #1176. It has the single goal of clearly defining what scenarios we want to test in the new suite. This suite will be testing the deployed Unlock contract on mainnet in a black-box manner, making no assumptions about how it was deployed, with or without a proxy, etc...

**Describe the solution you'd like

[2019-02-06 20:30] nfurfaro opened #1440 "Write tests based on acceptance-suite scenarios"
**Is your feature request related to a problem? Please describe.**
We need to implement the test suite scenarios detailed in #1438.
This is a sub-task (3/3) of #1176.

**Describe the solution you'd like**
Write tests for each scenario.

[2019-02-06 20:32] nfurfaro opened #1441 "Create the structure for our smart-contract acceptance test suite"
**Is your feature request related to a problem? Please describe.**
We need to outline the test suite detailed in #1438.
This is a sub-task (2/3) of #1176.

**Describe the solution you'd like**
We should create an outline/structure for the new acceptance test suite, including files/directories needed.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2019-02-06 20:34] cnasc opened #1442 "Determine how to store paywall metadata on content"
Ideas for solutions:
- Using data attributes on script tag
- Using new meta tags

[2019-02-06 20:36] cnasc opened #1443 "Add metadata to dashboard creator form"

[2019-02-06 20:39] cnasc opened #1444 "Create transaction log page UI"
Requirements for this feature mostly live in the [Figma](https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-Dashboard?node-id=0%3A67)

Per discussion with @smombartz, the plan right now is to show only the first 3 columns until a good design for showing disparate kinds of data in the table can be devised. So this issue is really a v1 of the transaction log, and it will be enhanced over tim

[2019-02-06 20:41] cellog opened #1445 "Extract a minimal walletService for paywall actions"
For the paywall app, we need a minimal read-only walletService that can do these actions:

* sign key purchase transactions
* @julien51 anything else?

[2019-02-06 20:45] cellog opened #1446 "decide how to manage UI state"
Options:

- redux
- local state and lift to common parents
- mobx
-other?

[2019-02-06 20:50] cellog opened #1447 "Choose a system for managing CSS"
Options

- styled components
- CSS modules
- raw CSS *shudder*

[2019-02-06 20:59] cnasc opened #1449 "Decide whether and how to use TypeScript"
We need to determine if we are going to use TypeScript when we spin off the paywall app, and how we will use it if we do.

[2019-02-06 21:12] nfurfaro opened #1450 "Enable a migration path for Lock owners"
**Is your feature request related to a problem? Please describe.**
This is a sub-task (1/3) of "Lock Deletion" #1348
If Lock owners want to upgrade and benefit from new features in a new version of the Lock contract, there needs to be a mechanism to "migrate" existing valid keys to the new lock.

**Describe the solution you'd like**
Either implement a `grantKeys` function as per https://github.com

[2019-02-06 21:52] nfurfaro opened #1452 "Protect users from losing money on invalid Locks"
**Is your feature request related to a problem? Please describe.**
This is a sub-task (2/3) of "Lock Deletion" #1348
When a Lock is destroyed (selfdestructed), and then someone attempts to purchase a key, the ETH will be burned and the user gets nothing.

**Describe the solution you'd like**
I think the 2-step solution for issue #1468 could be useful here too. Basically using a bool `isAlive` as a

[2019-02-06 23:11] smombartz opened #1458 "Loading Animation for Paywall Interstitial"
use the following icon for the paywall loading interstitial

https://www.dropbox.com/s/vegpknr6zc6k5y9/loading-ellipses-circle.svg?dl=0

[2019-02-06 23:23] akeem opened #1459 "Ensure that Locksmith stores Ethereum addresses as their normalized version"
As part of verifying the service for production readiness, we noticed that we may have a few scenarios where addresses are stored non-normalized.

We should ensure that these are normalized prior to write.

[2019-02-07 14:13] julien51 commented on #1198
This is mostly blocked by https://github.com/unlock-protocol/unlock/issues/1394 at this point.

[2019-02-07 14:19] cnasc commented on #981
As of #1402 we're in position to finish this up. I'll take a look at it once the wallet check overlay is done.

[2019-02-07 14:21] akeem commented on #1154
This is still pending an upgrade to a recent version of web3. It should be picked up after the work I currently have in play

[2019-02-07 15:03] cnasc commented on #1437
@julien51 I believe this is fixed as of #1456. Can you confirm?

[2019-02-07 15:13] cnasc commented on #1080
@smombartz how will this look on mobile?

[2019-02-07 15:58] cnasc commented on #1407
Not to muddy the water even further, but here's some food for thought: https://medium.com/@bluepnume/introducing-paypals-open-source-cross-domain-javascript-suite-95f991b2731d

Paypal actually does something fairly similar to what we do with the paywall. Their [zoid library](https://github.com/krakenjs/zoid) may make our job easier, although it may also be too much rework from what we already have

[2019-02-07 16:27] julien51 commented on #1198
1. and 2. are non issues, we prevent the user from doing such a transaction in the UI and the wallet will block the user doing so.

3. Is the only one to address. The changes in #1394 allow us to keep track of all transactions thru Locksmith (not just the successful one which we can get through web3Service).

These failing transactions should already be identified by the `web3Service`, but we shou

[2019-02-07 16:45] nfurfaro opened #1468 "Remove deprecated Locks from the blockchain"
**Is your feature request related to a problem? Please describe.**
This is a sub-task (3/3) of "Lock Deletion" #1348.
The idea is to be good ETH citizens and minimize blockchain bloat if we can.

**Describe the solution you'd like**
There seems to be agreement on a 2-step solution:
1.) mark the lock as "deprecated" (set `isAlive` to false) and prevent any key purchase
2.) once all keys have expire

[2019-02-07 17:11] nfurfaro commented on #1450
@hardlydifficult regarding your idea from #1348,

Did you have an idea in mind for how this might work? I'd just like to consider how this alternative might be implemented before proceeding one way or the other.
Am I correct in thinking this would only work if we "manually" disabled the old lock's payable functions, but don't kill it?

[2019-02-07 20:30] hardlydifficult commented on #1450
I was thinking we could have the Lock owner specify the address of a previous Lock for the same content.  Then when a user calls `getHasValidKey` or similar, the contract checks it's own storage and if no Key is found it then forwards the call to the previous Lock.

Yes, a best practice would probably include turning isAlive to false to stop purchases on the old Lock version - however it shouldn't

[2019-02-07 20:33] akeem opened #1470 "Start to restructure Locksmith as its use cases have grown"
**Is your feature request related to a problem? Please describe.**

Locksmith now supports Locks & Transactions, and the code has grown. We will need to update the structure of the application so that development and debugging remains straight forward.

**Describe the solution you'd like**
Restructure the files of the application for a clean separation.

[2019-02-07 20:48] nfurfaro commented on #1450
Ok, thx for weighing in. It seems that this approach is not compatible with `selfdestruct`ing the old contracts to minimize bloat on the blockchain. As that's one of the stated goals here, I'll have to go with the "migration" of keys option.

[2019-02-07 22:30] cellog opened #1476 "Creating an infinite lock has a brief time when infinity is a REALLY large number"
**Describe the bug**
In between purchasing a lock and the pending state, infinity displays as a very large integer instead of as the infinity symbol

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging dashboard
2. Click on Create Lock
3. Click Submit
4. See error

**Screenshots**
<img width="1677" alt="screen shot 2019-02-07 at 5 25 48 pm" src="https://user-images.githubusercontent

[2019-02-07 22:53] cellog opened #1477 "The paywall flag immediately minimizes instead of delaying"
**Describe the bug**
The paywall flag immediately minimizes, rather than sitting open for the delay from constants.js

[2019-02-07 23:00] smombartz opened #1478 "QA Dashboard Lock"
A couple of QA items for the dashboard locks. let's chat about them briefly

- [x] add Key to header column labels for Duration Quantity, Price
![image](https://user-images.githubusercontent.com/1377389/52448352-a255bb80-2b01-11e9-9bd8-651dec3189bc.png)

- [x] Shorten Button Text (Withdraw, Edit, Embed)
![image](https://user-images.githubusercontent.com/1377389/52448348-9c5fda80-2b01-11e9-935b-6d9

[2019-02-08 16:30] akeem opened #1482 "Update bootstrapping config from LOCKSMITH_HOST to LOCKSMITH_URI"
There was a bit confusion around what should be utilized here to reference/access the service.

1. For the hosted version, ensure that the build configuration has been updated
2. Update the config to reference LOCKSMITH_URI

[2019-02-08 16:57] #1242 closed

[2019-02-08 17:01] #1080 closed

[2019-02-08 17:14] cellog commented on #1206
this was fixed by @cnasc

[2019-02-08 17:14] #1206 closed

[2019-02-08 17:15] cellog commented on #1413
fixed

[2019-02-08 17:15] #1413 closed

[2019-02-08 17:31] akeem opened #1484 "Staging deploy currently unable to load dashboard"
The following data is currently available from the redux store:
`
{  errors:  [ 0: "NON_DEPLOYED_CONTRACT"] . }
`

<img width="1792" alt="screen shot 2019-02-08 at 12 26 57 pm" src="https://user-images.githubusercontent.com/44215/52494822-fbbef880-2b9c-11e9-83ee-5b399147268d.png">

[2019-02-08 19:42] akeem commented on #1484
Marking as resolved via the following commit:  4c497b2

[2019-02-08 19:42] #1484 closed

[2019-02-08 19:58] cnasc commented on #1407
I think we're approaching a point where we have to make a decision about this and the related issues, #1447 and #1449, or we'll risk not getting it done for the next release

[2019-02-08 20:00] cellog commented on #1407
I'd like to set up a dual build of next and create-react-app. We can code as usual running next.js and when we are ready, compare the performance and dev experience of the two options and see if it makes a difference

[2019-02-08 20:01] cellog commented on #1407
For our first go, I'd like to copy en masse existing code over, so no refactors of anything, just plop it down and make it work as-is. We won't need to make final decisions about what to move towards until the split has happened and travis is set up to build, and netlify is adjusted for the change.

Once that stabilizes, then we can start to strip away unneeded things, and see what we have left, a

[2019-02-08 20:02] cnasc commented on #1407
Works for me. So the first step on this would splitting it out into its own repo and getting it to build properly as is.

[2019-02-08 20:06] cnasc commented on #1407
New empty repo created [here](https://github.com/unlock-protocol/paywall-app)

[2019-02-08 20:09] cellog commented on #1407
oh, we are going to do it in the `paywall` directory inside the monorepo. You can leave the repo for now, perhaps we'll use it in the future

[2019-02-08 20:11] cnasc commented on #1407
Oh, I see. OK cool

[2019-02-09 01:28] cellog commented on #1241
@bmann the fix is pending PR review and a deploy from staging to production, stay tuned

[2019-02-09 02:51] cellog opened #1491 "Decide what urls paywall will run on"
This is a fourfold decision, as we need to decide how the paywall will run in these environments:

1. dev
2. test
3. staging
4. production

In dev, we can probably run the paywall on port 3001 so on `localhost:3001` and update the links accordingly using `configuration` in the dashboard (this is for the demo)

In test, we need to think about integration tests, and how that will look

In staging, w

[2019-02-09 18:23] cellog opened #1492 "if husky is not installed, pre-push hooks are skipped"
If a user does not have husky installed (never did npm ci or npm i), then pre-push hooks are simply skipped. We should have one that checks for presence of husky, and fails if it isn't there.

[2019-02-09 21:03] julien51 commented on #1492
I am not sure there is anything we can do about it... And no matter what Travis will run and fail if the files are not linted.

[2019-02-09 21:05] julien51 commented on #1491
We sure need a custom subdomain for the paywall in production... And I don't think using staging.paywall.unlock-production.com  is a problem?

[2019-02-10 02:22] cellog commented on #1314
fixed!

[2019-02-10 02:22] #1314 closed

[2019-02-10 02:23] cellog commented on #1158
fixed!

[2019-02-10 02:23] #1158 closed

[2019-02-10 02:24] cellog commented on #1241
fix is live in staging, but unfortunately you can't test it yet since TrustWallet only supports mainnet. When we push, we'll definitely ping this bug.

[2019-02-10 02:25] cellog commented on #1368
this is fixed by @julien51

[2019-02-10 02:25] #1368 closed

[2019-02-10 02:26] cellog commented on #1338
fixed by the one and only @cnasc

[2019-02-10 02:26] #1338 closed

[2019-02-10 04:50] cellog commented on #1447
“How is Linaria different from Emotion and Styled Components” by Satyajit Sahoo https://link.medium.com/PhItZ01wbU

[2019-02-10 19:11] cellog commented on #1447
Some more considerations:

1. Since the paywall is a client-side app, any caching we can take advantage of is good for return visits by users to any paywall that uses unlock. Thus, a tool that generates a static CSS file will allow us to cache that CSS browser-side
2. styled-components generate all CSS at run-time every time. For a server-rendered framework like next, this works fine, but adds a d

[2019-02-10 19:12] cellog commented on #1447
note that initially, I will enable styled-components to ease the split

[2019-02-11 13:47] cellog commented on #1407
The plot thickens! Next 8.0 is out, and has a serverless mode that we could use in the paywall. Advantage over cra is you can have multiple entry points, something cra wants but does not have yet. With the flexibility of webpack configuration overrides, next is a clear winner here. Thoughts? Oh and I think we can fix the problem of not got reloading when paywall.min.js is changed by adding it to t

[2019-02-11 14:01] cnasc commented on #1447
That all sounds reasonable to me.

That's definitely interesting. Do you have a link?

[2019-02-11 14:09] cnasc commented on #1407
Very yes imo.

[2019-02-11 14:11] cnasc commented on #1444
I'm going to get started on this based on the Figma here: https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-Dashboard?node-id=0%3A67

[2019-02-11 14:13] cellog commented on #1447
I found it in the linaria docs, one of the .md files that describes how it works, sorry on my phone about to drive to Maine :)

[2019-02-11 14:34] cnasc commented on #1447
No worries, I'll check it out. Get there safe!

[2019-02-11 20:12] #637 closed

[2019-02-11 20:42] nfurfaro commented on #1450
In thinking about migration I've thought of an issue we need to resolve.
Let's say a lock owner wants to migrate 10 existing keys (tokenID's 1-10) to her new lock. They should not have their tokenID's changed (as per erc721 spec) so they would remain as numbers 1-10 on the new lock. however, if a brand new user tries to purchase a key _before the migration is completed, he may buy `tokenID` # 1, s

[2019-02-11 21:11] cellog opened #1501 "Split up the dumb components from their redux connections in paywall"
In preparation for an easy transition to using a different state management system for the paywall, we will need to split up the redux connecting from the dumb components that use the state.

This is relatively trivial, we just have to make sure that when we export the internal component, that it has any non-redux stuff (like `withConfig`) on the component, and that the default export remains the

[2019-02-11 22:29] greenkeeper[bot] opened #1504 "An in-range update of react-testing-library is breaking the build 🚨"
## The dependency [react-testing-library](https://github.com/kentcdodds/react-testing-library) was updated from `5.6.0` to `5.6.1`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Freact-testing-library-5.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2019-02-12 14:08] cnasc opened #1509 "Lock Creation fails immediately with runtime error: revert"
**Describe the bug**
On master, creating a lock on the dashboard immediately fails with runtime error revert. No error message is displayed when this occurs, things just break.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Create a new lock
3. Note that lock never goes through confirmations
4. Note that attempting to create a second lock does not add anything to the list

[2019-02-12 14:19] akeem commented on #1459
closed via #1475

[2019-02-12 14:19] #1459 closed

[2019-02-12 15:11] akeem commented on #1396
Closed by the merging of #1498

[2019-02-12 15:11] #1396 closed

[2019-02-12 15:19] cnasc commented on #1444
Just wanted to show some progress on this. I have a `transactionLog` page, and it does keep track of transactions for the most part. It looks like some transactions are ephemeral; for example, key price updates don't stay after a refresh (the lock shows the correct price, but the update doesn't go into a transaction anymore). So we'll need to figure out how we're going to handle the data.

<img wi

[2019-02-12 17:40] nfurfaro commented on #1450
Here's a breakdown of what I think needs to happen in order to enable a migration path for lock owners so they can take advantage of new features added to the lock contract.
- walk the `owners` array on old lock and retrieve all owner addresses.
 - use `keyByOwner` to check each existing key's `expirationTimestamp to see if it is valid. If valid (not expired), get the key details ((`tokenId`, `exp

[2019-02-12 17:49] benwerd opened #1513 "Restore my beloved humans.txt"
It's a good signal that we care about our humans.

[2019-02-12 18:02] hardlydifficult commented on #1450
I think we can simplify.  For example, does it matter that the tokenId may change or be duplicated?  The Lock address is changing so the tokenId losses meaning as well.  From a ERC721 perspective, this is a brand new token we are creating on the new Lock.

[2019-02-12 18:10] nfurfaro commented on #1450
I would really like to simplify this. as to your points:
I don't think it matters so much that the tokenID changes, as it is technically a new token contract and therefore a brand new token.
I think it's very important that we never have duplicate tokenID's though. As per the erc721 spec:

https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md#rationale

I think we're ok with changing the to

[2019-02-12 18:26] hardlydifficult commented on #1450
The pair (address+tokenId) must be globally unique, so it should not be a problem to use the same tokenId in the new contract that appeared in an old one.

[2019-02-12 18:30] nfurfaro commented on #1450
Agreed. I should clarify: My concern is that if we "migrate" old tokens to a new contract and _keep_ their existing tokenID's, then we need to ensure we don't assign any of those ID's to another token.
If we disregard the existing ID's and just start our sequence fresh from number 1 on the new contract we can disregard this issue.

[2019-02-12 18:35] hardlydifficult commented on #1450
Oh I misunderstood.  Yes, however I think we keep it simple and have a method to `grantKey` which takes an address, expirationDate, and data and simulates a purchase without any cost.  Then we can look to add a `grantKeys` which accepts arrays of the same.  These methods could be used for other use-cases as well (e.g. a giveaway).

I think this would be easier to implement and maintain.  However w

[2019-02-12 18:46] nfurfaro commented on #1450
Ok thank you for looking at this. I'll take your advice here and implement the singular version of `grantKey` first.

[2019-02-12 18:58] julien51 commented on #1450
Hey. I understand the lesson is an important feature, but not sure we need to dive too deep in that right now?

[2019-02-12 19:10] nfurfaro commented on #1450
@julien51 Implementing "Lock deletion" without enabling migration is certainly a simpler task...It may just be that I misinterpreted the urgency of this portion of the larger issue (#1348). My thinking was that if we allow the disabling of a lock, we must _already_ have a mechanism in place to deal with any remaining keys. If you're ok with adding the migration piece later then I can jump straight

[2019-02-12 21:53] cellog commented on #1450
From a security perspective I would be wary of any functionality that allows gifting a key without requiring payment. We want to make sure that cannot be abused

[2019-02-12 22:14] akeem commented on #1509
@cnasc this should now be resolved in master, please let me know if it doesn't appear to be resolved

[2019-02-12 23:30] cnasc commented on #1509
Confirmed resolved!

[2019-02-12 23:30] #1509 closed

[2019-02-13 00:11] cellog commented on #1445
implemented

[2019-02-13 00:11] #1445 closed

[2019-02-13 00:11] cellog commented on #1407
decided on next 8

[2019-02-13 00:11] #1407 closed

[2019-02-13 00:28] cellog commented on #1446
Based on extensive reading, I would like to use native React state management tools as much as possible. This means using hooks to manage side effects, and also local state. We can use context for passing down things like the web3 connection, and use those directly in a `useWallet` hook (or something along those lines). This will allow us to split up the gigantuan services, we won't need middlewar

[2019-02-13 00:31] #1513 closed

[2019-02-13 13:14] cnasc commented on #1446
I agree with that 100%

[2019-02-14 15:31] cnasc opened #1527 "Consider using Yarn for package management?"
# Why Yarn?
There may be some things that Yarn would make more convenient for us.

- Package caching
  - Yarn caches everything it downloads. In the event a reinstall is needed, this means it will happen noticeably faster than it does with NPM.
  - This also means that we can rebuild offline (Greg won't burn through his data allocation by downloading Chrome while on the train)

- Monorepo support

[2019-02-14 17:35] cellog commented on #1527
if you have the space to do the heavy lifting on this, the only question would be which sprint and milestone to put this in. Let's wait for @julien51 to weigh in when he returns. We had another issue (#738) which fizzled, so it's nice to see this brought up again. I definitely prefer yarn, but only if we can enforce the version in package.json somehow to avoid those inconsistencies you spoke of.

[2019-02-14 19:06] greenkeeper[bot] opened #1530 "An in-range update of zos is breaking the build 🚨"
## The dependency [zos](https://github.com/zeppelinos/zos) was updated from `2.1.2` to `2.2.0`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Fzos-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

zos is a direct dependency of this project,

[2019-02-14 19:06] greenkeeper[bot] opened #1531 "An in-range update of zos-lib is breaking the build 🚨"
## The dependency [zos-lib](https://github.com/zeppelinos/zos) was updated from `2.1.2` to `2.2.0`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Fzos-lib-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

zos-lib is a direct dependency of th

[2019-02-14 19:31] cnasc commented on #1527
It looks like we can add a specific Yarn version to the `engines` property in [package.json](https://docs.npmjs.com/files/package.json#engines). This should warn if the wrong version of Yarn is used.

[2019-02-14 19:51] julien51 commented on #1527
My initial willingness to explore yarn was about speed but it looks like `npm ci` is actually faster and solves the issue of having `npm install` install different versions for everyone. I believe `npm ci` solves the caching and determinism issues you highlighted above.

The monorepo stuff is very interesting and may be the final straw

As for the nuke script, I think we'll still need it at least

[2019-02-14 21:19] cellog commented on #1501
this is no longer relevant

[2019-02-14 21:19] #1501 closed

[2019-02-14 21:23] cellog opened #1533 "Move paywall from redux to React hooks"
To manage state, we need to create React hooks that can then be used in the components. These hooks need to manage:

- [ ] communication with the iframe through postMessage
- [ ] setting up web3
- [ ] configuration
- [ ] localStorage
- [ ] user account retrieval and balance retrieval
- [ ] key retrieval and purchase
- [ ] transaction monitoring
- [ ] lock retrieval

[2019-02-15 15:09] cnasc opened #1542 "eth_accounts chattiness"
<img width="682" alt="image" src="https://user-images.githubusercontent.com/9300702/52864927-58746300-3109-11e9-901f-692dd16b994e.png">

This `eth_accounts` call happens quite a lot. Maybe it can be backed off to only happen when strictly necessary (in the interests of being frugal with the network)? Or possibly suppressed/limited in logging. When we had the instant revert issue a few days ago, it

[2019-02-15 17:14] cnasc opened #1546 "Refactor CreatorLockForm and lock creation code"
Following on #1543, there are a few places where the creation of a lock with unlimited keys can be improved.

- [ ] refactor `CreatorLockForm`
  - The way the form behaves when clicking the unlimited button is confusing. It should be a clearly defined toggle, and not something that mutates the input field and then disappears.
  - Having an explicit toggle for unlimited keys should allow us to simp

[2019-02-15 19:08] akeem commented on #1426
Closing as this was addressed with the release of #1544

[2019-02-15 19:08] #1426 closed

[2019-02-15 19:20] #1476 closed

[2019-02-15 21:25] akeem commented on #1470
Closing with the release of #1554

[2019-02-15 21:25] #1470 closed

[2019-02-15 21:49] hardlydifficult commented on #1175
I believe we could address this once EIP-1014 is merged using CREATE2. https://eips.ethereum.org/EIPS/eip-1014

[2019-02-15 21:55] akeem commented on #1175
^ is super cool. We should shift to this when it become available. @julien51 since we shipped the first pass of this. How you feel about us adjusting this issues to update when available with a weekly check?

[2019-02-15 22:18] akeem commented on #604
Adding for future reference: https://medium.com/metamask/metametrics-an-introduction-to-metamasks-new-analytics-system-e9749e74a275

[2019-02-15 23:04] #1468 closed

[2019-02-17 03:49] cellog opened #1558 "Use the PromiEvent callbacks for new transactions?"
As described in the docs for `web3.eth.sendTransaction` (https://web3js.readthedocs.io/en/1.0/web3-eth.html#sendtransaction) There are several events emitted which we could use for the transaction status that would eliminate transaction polling:

- "transactionHash" returns String: Is fired right after the transaction is sent and a transaction hash is available.
- "receipt" returns Object: Is fire

[2019-02-18 14:17] cnasc commented on #1444
Some additional thoughts on this:
- I can use `getPastLockTransactions` from `web3Service` to get most or all of the data we need.
- It pulls a lot of stuff, which means we'll probably want to cache it
  - That means that in [`_getPastTransactionsForContract`](https://github.com/unlock-protocol/unlock/blob/master/unlock-app/src/services/web3Service.js#L197) we should probably allow a `blockNumber`

[2019-02-18 14:27] cellog commented on #1444
That's sounds good, I think also getting all past transactions per user would be good but perhaps impractical?

[2019-02-18 14:28] cellog commented on #1444
I mean all transactions of the current logged in user

[2019-02-18 14:34] cnasc commented on #1444
Good point, I think we can look at this as an example:
https://github.com/unlock-protocol/unlock/blob/a12d77448763b4a0c249488f8529472b5061606e/unlock-app/src/services/web3Service.js#L209-L222

I _think_ it should be sufficient to do that, but get all events instead of just `NewLock`. I'll have to play around with it.

[2019-02-18 15:02] cnasc commented on #1446
Gonna close this since we've made a decision and this will clean up the issue log

[2019-02-18 15:02] #1446 closed

[2019-02-18 15:28] cnasc commented on #1443
Using [this Figma](https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-Dashboard?node-id=0%3A1457) as the basis for now. Here's a question: where do these options get stored? On- or off-chain?

[2019-02-18 15:30] cellog commented on #1443
They will be put into the snippet, and so will not be stored at all :) (unless you count the snippet as a kind of static storage). For now, don't worry about hooking up the UI to anything until we decide whether to use a new meta tag or attributes on the existing one or whatnot

[2019-02-18 15:33] #1482 closed

[2019-02-18 16:19] cnasc commented on #1443
The case I was considering was something like: if I have a lock and I've embedded the snippet on a page, and sometime later I want to use the same lock on a new page with the same leakiness/trust settings it would be convenient if the form retained the settings I last used. Not critical, but definitely a nice-to-have UX thing.

<img width="1233" alt="image" src="https://user-images.githubuserconte

[2019-02-18 16:30] cellog commented on #1443
Might I suggest you borrow the `useLocalStorage` hook from the paywall and use that?

[2019-02-18 16:33] cnasc commented on #1443
Not a bad idea! We might have to establish a convention for handling things that will exist in both the paywall and the dashboard to avoid duplication...

[2019-02-18 16:34] cellog commented on #1443
Copy paste and add a 1 line TODO to extract a shared library when it seems necessary. I wouldn't worry about duplication yet, the split is pretty new and we have 100% duplication of the display components and redux stuff atm

[2019-02-18 17:09] akeem opened #1566 "Update Lock creator form to allow for the editing of Lock Names"
As part of the initiative to increase usability of the service
We would like people to have the ability to update their Lock names
so that Lock better reflect their current use case in the wild.

[2019-02-18 17:14] #1394 closed

[2019-02-18 17:18] julien51 commented on #1287
closing per @cellog

[2019-02-18 17:18] #1287 closed

[2019-02-18 17:21] julien51 commented on #173
@benwerd What do we do with this issue?

[2019-02-18 17:28] cnasc commented on #1444
Just to keep tracking my thoughts in the open here:

| Contract | Event |
----------|--------
| Unlock | Lock creation |
| PublicLock | Key purchase |
| PublicLock | Withdrawal |
| PublicLock | Key price update |

All the data is available, and it should just be a matter of making a call to get `allevents` for each of the two contracts. Then, data in hand, they can be interleaved. Allowing us to q

[2019-02-18 17:35] cellog commented on #1444
nice table! this sounds good to me

[2019-02-18 18:12] cellog opened #1569 "Create a component that passes web3Service down through context"
similar to the `Web3` component, this `Web3Service` component will pass the service down through context

[2019-02-18 18:14] cellog opened #1570 "Create a new WalletService Component to pass down walletService through context"
Similar to the `Wallet` component, create a `WalletService` component to create and pass down the `walletService` through context

[2019-02-18 18:17] cellog opened #1571 "Create a new useAccountFromService hook to pull the user account from the walletService"
We need a hook, useAccountFromService hook that interacts with the walletService to extract the user account, and any changes over time

[2019-02-18 18:19] cellog opened #1572 "new useLockFromService hook to pull lock information from the web3Service"
create a hook that pulls lock information using web3Service

[2019-02-18 18:20] cellog opened #1573 "new useKeyFromService hook to read keys from the web3Service"
create a new hook, `useKeyFromService` that reads keys from the `web3Service`

[2019-02-18 18:21] cellog opened #1574 "new useKeyPurchaseTransactionFromService hook that uses the walletService to purchase a key"
new `useKeyPurchaseTransactionFromService` hook that uses the `walletService` to purchase a key and then the `web3Service` to listen for transaction updates.

[2019-02-18 18:46] julien51 commented on #586
@benwerd any progress on that one?

[2019-02-18 20:13] akeem opened #1579 "Add meaningful names to front end components"
As part of the process of writing integration test for the front end, we noticed the need for identifiers to aid in the testing process.

With the functional use case of being the basis for future accessibility work, we will be moving forward with this.

This issue will be updated as the scope becomes a bit clearer.

[2019-02-18 20:26] akeem commented on #586
@julien51  I believe that it was addressed here: https://github.com/unlock-protocol/unlock/pull/1523

[2019-02-18 21:01] cellog opened #1581 "add new useWeb3Service hook to paywall"
To use the web3Service, we need to retrieve it from context by creating a hook to do this

[2019-02-18 21:02] cellog opened #1582 "add new useWalletService hook in paywall"
to use the `walletService` we need a new `useWalletService` hook in the paywall

[2019-02-18 22:00] cellog opened #1586 "useAccounts hook should use web3 to pull in account balance"
**Describe the bug**
Currently the `useAccount` hook in the paywall uses the `wallet` to pull in account balance, but if we don't have a wallet, we should be using the read-only provider to do this.

`useAccount` should use `useWeb3` to pull in this provider and pass it to `getBalance` instead of the wallet.

[2019-02-19 15:00] cnasc opened #1593 "Change 3xx status code in error page"
**Describe the bug**
Right now we use a 301 status code (permanent redirect), which is not quite correct. 302 has been superseded by 303 and 307, and I think 307 (temporary redirect) is what we're actually looking for here.

[2019-02-19 15:14] akeem opened #1594 "Update Locksmith deployment to be generic"
Currently, Locksmith's deployment initiator is Travis and leverages a good bit configuration on their end in order to function.

This issue covers pushing this back a level in order to ensure that another initiator can be utilized when the time presents itself

[2019-02-19 15:22] akeem commented on #970
Closing as this was addressed via https://github.com/unlock-protocol/unlock/pull/1554

[2019-02-19 15:22] #970 closed

[2019-02-19 17:39] benwerd commented on #173
@ydennisy Hi! I'm closing this issue for now. We have an increasing amount of documentation [on the wiki](https://github.com/unlock-protocol/unlock/wiki), which we will continue to add to. The initial code is now also ready for download and deploy.

With respect to other uses cases, check out [the roadmap](https://github.com/unlock-protocol/unlock/wiki/Roadmap) - this lays out where we're going, a

[2019-02-19 17:39] #173 closed

[2019-02-19 19:16] #1103 closed

[2019-02-19 19:43] benwerd commented on #586
Pages are to follow today.

[2019-02-19 22:43] hardlydifficult commented on #38
solidity-coverage now included.

Next step: publish reports to `coveralls.io` (?)
@julien51 we'll need the repo_token from coveralls, then I can update the travis build to publish the report.

Once we have that in place we can configure the rules and make this a required check for PRs.

[2019-02-20 04:08] greenkeeper[bot] opened #1612 "An in-range update of react-redux is breaking the build 🚨"
## The dependency [react-redux](https://github.com/reduxjs/react-redux) was updated from `6.0.0` to `6.0.1`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Freact-redux-6.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-redux is a direct

[2019-02-20 19:52] cnasc opened #1617 "Tons of failing PropTypes on the Dashboard"
**Describe the bug**
When visiting the dashboard, the console gets a ton of red ink from failed prop types. They all seem to be things that are strings instead of the expected type.

**Expected behavior**
Prop types should not fail

[2019-02-20 19:53] cellog commented on #1617
this is because the dashboard is displaying before we have an account. We should display a loading spinner to avoid this.

[2019-02-20 20:17] #1424 closed

[2019-02-20 22:18] hardlydifficult commented on #831
Summarizing my understanding of this issue, the options, and a proposed path forward.  Let me know what you think - I've missed a lot of the background discussion on this one.

User stories - the key owner would like to share information with the lock owner, such as:
 - Encrypted email address, name, or even json for a full user profile.
 - Image. This could represent a user avatar.
 - URI to some

[2019-02-20 22:39] hardlydifficult commented on #831
Another user story, which changes the requirements a bit:
 - Use one Lock to support per-content purchases... where each individual piece of content is priced the same.  We do this by including data with the key purchase such as an ID of the content of interest.

To support this use case we need to:
 - Save data on transfer (it's cleared today)
 - Ensure the user cannot change data post-purchase (

[2019-02-21 19:03] hardlydifficult commented on #1531
See also #1530 - we should update ZOS and ZOS-lib together

[2019-02-21 19:04] hardlydifficult commented on #1530
This is a non-trivial upgrade.  ZOS changed with 2.2 and now requires we modify some init code - specifically ZWeb and artifacts changed (maybe more).

[2019-02-21 19:33] cnasc commented on #1617
As decided in our meeting earlier, this is the venue where we'll talk about PropTypes in general.

- What do PropTypes actually do for us?
  - They don't seem to catch issues before they go live
- Are there ways we can use them more effectively?
  - For example, finding out if a change in one place has broken a PropType contract elsewhere
  - Is it possible to trace PropTypes statically, e.g. as p

[2019-02-21 20:27] nfurfaro commented on #831
@

[2019-02-21 20:30] nfurfaro commented on #831
I think this is a good summary of the issue to date. On the whole, I support this approach, though I'd like to hear from @julien51 on it as well.

I agree that IPFS seems to be somewhat inefficient for small data sets. Where its focus is on file storage, we may want to consider a true decentralised database (like Bluezelle) instead, which is more optimised for storing arbitrary data rather than fi

[2019-02-21 20:32] androolloyd commented on #940
Interesting concept, I'd be curious if it could be made to work inside the current abilities of the specification.

It feel's as though it would just be an implementation, where the type of subscription comes into play, an opt in vs opt out mechanic.

[2019-02-21 22:46] akeem opened #1636 "Loosen items evaluated by GIT pre push hook"
At the moment the current pre push hook appears to be linting deleted files in addition to non-javascript files (json files).

Ideally we would only pass valid javascript files to eslint for evaluation

[2019-02-21 23:15] benwerd commented on #1617
I'm very pro-propTypes. In a dynamically typed language it's incredibly easy for the wrong value to find its way to a function parameter, creating weird bugs that can be hard to track down. My biggest complaint is actually that they throw console warnings instead of a stronger error, which speaks to your comment about them not catching issues before they're live.

I'd be in favor of using TypeScri

[2019-02-22 00:09] cnasc commented on #1636
Whoops! I guess those would show up in the git history. Shouldn't be too difficult to add a suffix filter to that hook

[2019-02-22 02:54] cellog commented on #1617
There is one change that could make a difference. Basically, we can convert warnings to errors in the tests

[code]

Stick that in jest.setup.js and we will see all warnings become test failures, particular in the snapshot tests

This is the key part - if we see a prop-type failure, we should make a story that replicates it when we fix the warning. Then we have a regression for that.

From what I

[2019-02-22 03:15] #1410 closed

[2019-02-22 03:15] cellog commented on #1382
because the paywall does not start up ganache, restarting it takes about 30 seconds. This should be sufficient even in the worst case.

[2019-02-22 03:15] #1382 closed

[2019-02-22 03:19] cellog opened #1649 "set up paywall.unlock-protocol.com and staging.paywall.unlock-protocol.com"
The 2 urls `paywall.unlock-protocol.com` and `paywall.staging.unlock-protocol.com` (or `staging.paywall.unlock-protocol.com`?) need to be set up and enabled. On build, we should deploy master builds to the staging URL for the paywall/ directory.

In addition, special paywall URLs for the staging builds will need to be set up, and their address somehow injected into the environment so we can use it

[2019-02-22 03:24] cellog opened #1650 "Create new configuration settings for paywall URL"
in config.js, on both unlock-app and the paywall, we should have a new config setting which defines the paywall URL for each environment.

In dev and test: `http://localhost:3001`
In staging: `https://staging.paywall.unlock-protocol.com` (or whatever the address @julien51 chooses to set up)
In production: `https://paywall.unlock-protocol.com`

For CI builds: whatever is passed into the environment

[2019-02-22 03:35] cellog opened #1651 "decide how we should handle running the dev server after the paywall split"
There are 2 development workflows in which we may want to run the paywall:

1. we are working on the unlock-app
2. we are working on the paywall

For #1, we don't really care about running the paywall, and so it should not require much brain to run.
For #2, we want to be able to stop and start the paywall often and keep the unlock-app running.

Decisions need to be made on whether we want to autom

[2019-02-22 03:39] cellog opened #1652 "extract polling from the web3/walletServices"
In the interest of separation of concerns, and refactoring the web3Service and walletService to allow trimming the new paywall for both speed and ease of feature addition, refactoring to create a separate polling function similar to `setInterval` that uses `setTimeout` internally, and then using it in the `web3/walletMiddleware`s instead of the Services will allow several desirable conditions:

1.

[2019-02-22 03:47] cellog opened #1653 "connect to walletService provider just-in-time"
Currently, the walletService attempts to connect to the provider right away in order to retrieve the user account, and also the network the wallet is using. This results in some odd UX on two separate occasions.

1. When viewing unlock-protocol.com, metamask immediately asks to log in, even though there is absolutely nothing ethereum-related until one clicks on the dashboard
2. When viewing a lock

[2019-02-22 03:48] cellog commented on #1653
love to get your thoughts on this, @julien51 @benwerd @akeem @cnasc

[2019-02-22 03:48] #1569 closed

[2019-02-22 03:49] #1570 closed

[2019-02-22 03:49] #1571 closed

[2019-02-22 03:49] #1572 closed

[2019-02-22 03:49] #1573 closed

[2019-02-22 03:49] #1574 closed

[2019-02-22 03:49] #1581 closed

[2019-02-22 03:49] #1582 closed

[2019-02-22 03:49] cellog commented on #1491
#1649 is the follow-up for this

[2019-02-22 03:49] #1491 closed

[2019-02-22 04:03] cellog opened #1654 "refactor web3Service's generic transaction handling so that it is in a separate service"
Each transaction type is slightly different. Currently, the web3Service transaction handling has all the edge cases for different transaction types inside several different slightly different functions.

A cleaner solution would be to create a `transactionService` that handles the details of retrieving transaction information from the chain based on the transaction hash. This would take the inform

[2019-02-22 04:12] cellog opened #1655 "refactor walletService into 3 services, keyPurchaseWalletService, transactionService, and LockWalletService"
I would like to split the walletService into 3 services:

1. transactionService (mentioned in #1654), which would accept a read-write web3 instance passed down from either of the new WalletServices to send a transaction and listen for the promise and events that kickstart other processes in the read-only web3 instance, which will pass that to the transactionService (explained in detail in #1654)
2

[2019-02-22 09:20] julien51 commented on #1652
I have already remove the account polling on `walletService` in https://github.com/unlock-protocol/unlock/pull/1627

However, I am opposed to removing the transaction polling from web3Service.
There is a key difference between `walletService` and `web3Service`:

* `walletService` only "reacts" to transactions created by the application. As such it is probably a better pattern to use callbacks for

[2019-02-22 09:29] julien51 commented on #1653
I actually think this is good practice because it means we can retrieve information right away and avoid latency... It also "fails" silently if the user does not have a wallet, and will only show an error message if the user tries to load the dashboard and/or click on a "purchase" button on the paywall.

Indeed. I have been thinking about this one. But I am honestly not sure this is a big problem?

[2019-02-22 09:31] julien51 commented on #1649
I can only set them up if there is something to assign them to ;)
What should I assign these subdomains domains to? Are we deploying the paywall app yet?

[2019-02-22 09:32] julien51 commented on #1650
That's a good one indeed!

[2019-02-22 09:34] julien51 commented on #1651
I think this is actually an even bigger discussion because the same applies to locksmith.
I am starting to think we'll have to use docker locally to manage all services.

I am very intrigued by [tilt.dev](https://tilt.dev) and I was hoping to ask their team to help us set it up!

[2019-02-22 09:41] julien51 commented on #1654
Let's not do that until we actually talk about all this in person? I think there is still a misunderstanding about the goal of the Service here.

[2019-02-22 09:42] julien51 commented on #1655
Same as https://github.com/unlock-protocol/unlock/issues/1654

[2019-02-22 09:43] julien51 commented on #1654
For now, let's just use the services as is for the paywall. I understand this means that there is some un-used code, but I think it's ok: that's the point of many libraries.

[2019-02-22 09:51] julien51 commented on #1617
Thanks for sparking the discussion @cnasc !

As we all know propTypes are not "enforced" at this point (and not sure they are enforceable). When we started adding them the goal was to set us on the right path and make sure we caught the most obvious bugs/issues but of course they're not enough.  They are more documentation than code in a way: providing hints rather than altering execution.

That's

[2019-02-22 09:54] julien51 commented on #1612
Any idea what is wrong @cellog ?

[2019-02-22 09:57] julien51 commented on #1558
`PromiEvent` should 🔥 !

Yes there is: if the user refreshes the page we lose all info. Most transactions are not triggered by the application in that session. So it is much easier to treat each transaction in the exact same way, whether it is triggered by us in that session or by another instance of the application (or even a different app!).

Once we have the hash, all of the other "events" are

[2019-02-22 09:57] #1558 closed

[2019-02-22 09:58] julien51 commented on #1542
I think we can safely get rid of this in dev/testing.

[2019-02-22 10:09] julien51 commented on #1542
Actually not sure we can get rid of it because it is useful to test.I **wish** the web3 provider would tell us when it changed :/

[2019-02-22 12:42] cellog commented on #1652
I am not wanting to remove it, but to extract it from the service so that it can be controllable. There is always a trigger for the polling, which is the first call to getTransaction, which is always a manual trigger.

If the polling is manual, it becomes possible to listen to specific transactions. Currently, the event emitter is the entire service rather than the single transaction because the p

[2019-02-22 13:22] cnasc commented on #1617
That warning is there, but also when you create a lock on the dashboard, it complains that a number of props are invalid because they are strings rather than the appropriate type. I guess the genesis of that problem is elsewhere, but if the PropTypes were errors in test, that could have been caught earlier. I don't know if that failure really caused any harm, but the fact that it sneaked through i

[2019-02-22 14:13] #1492 closed

[2019-02-22 15:05] #1636 closed

[2019-02-22 15:56] cellog commented on #1649
A while ago you asked me to open up issues defining what is needed in order to split off the paywall app. This is definitely going to be needed. Hooking up the unlock-app to these new URLs will be a next step, it won't be fully deployed until then, but having this set up will allow us to test it prior to the full deploy

[2019-02-22 15:58] #1444 closed

[2019-02-22 16:04] cellog commented on #1653
Yes. We only need it to *purchase* a lock, not to display it. So it is required to purchase, but not to display the lock.

It's also currently required to retrieve keys, but as demonstrated in the coinbase wallet stuff, that is not necessary. We can store the account in localStorage and use it without authorizing on a new URL to retrieve keys.

However, it's worth noting that the popup to enable w

[2019-02-22 16:38] cellog opened #1662 "new warning on building paywall.min.js"
There is a warning I had not noticed before when building the paywall:

[code]

We should investigate this and determine its cause. It happens in both paywall and unlock-app

[2019-02-22 16:46] #1650 closed

[2019-02-22 16:52] cellog commented on #1612
nope, works locally, I'll PR it up

[2019-02-22 19:03] hardlydifficult commented on #1452
@nfurfaro this is done and can be close, right?

[2019-02-22 19:24] hardlydifficult commented on #1175
Labeling `Blocked` since we have an implementation today and the next step, switching to `CREATE2` can only happen after an Ethereum hard fork.

[2019-02-22 19:37] hardlydifficult commented on #1277
Hey @julien51 ,
This is the issue RE windows support I mentioned in the meeting.  Windows seems to require prefixing sh commands with `sh`... but for some reason adding that causes the script to fail on Linux.

As an alternative I tried using `run-script-os` to add `sh` only when on Windows... but using `run-script-os` causes issues inside `postinstall.sh`.

[2019-02-22 19:53] cnasc commented on #1277
@hardlydifficult do you run npm from PowerShell or Git Bash? (assuming PowerShell based on the `sh` prefix)

[2019-02-22 19:57] hardlydifficult commented on #1277
Yes PowerShell.  Never tried Git Bash before, just gave it a go - same error:

[code]

[2019-02-22 20:09] cnasc commented on #1277
Curious. I believe that the `sh` command runs things through Git Bash, so I guess that isn't too surprising but just wanted to be sure.

[2019-02-22 20:24] akeem commented on #1594
closing with the deployment of #1614

[2019-02-22 20:24] #1594 closed

[2019-02-22 20:27] cnasc commented on #1277
What happens if you try to run `postinstall.sh` on its own? I wonder if the issue is the way the paths are specified.

[2019-02-22 20:41] hardlydifficult commented on #1277
When I change package.json to `"postinstall": "sh ./scripts/postinstall.sh",` then `npm i` appears to work.

Oh I forgot I have example builds:
Adding `sh` breaks Travis: https://travis-ci.com/hardlydifficult/unlock/builds/98520725
Adding `run-script-os` breaks the script: https://travis-ci.com/hardlydifficult/unlock/builds/98523870 (I believe with some help this approach could work)

[2019-02-22 20:53] cnasc commented on #1277
Looking at the error it gives, I suspect that somehow `run-script-os` is polluting the npm commands. It fails trying to run `ci:linux`, even though CI wasn't touched by `run-script-os` directly. I wonder we have to specify OS-variants of each command that might be called by a command even indirectly.

[2019-02-23 08:49] hardlydifficult commented on #831
RE: `limit the length to x`: maybe we use a hash of a descriptive name. eg.  `keccak('ipfs')` or versioned like `keccak('ipfs-v0.0.1')`

[2019-02-23 14:39] greenkeeper[bot] opened #1675 "An in-range update of rollup is breaking the build 🚨"
## The dependency [rollup](https://github.com/rollup/rollup) was updated from `1.2.2` to `1.2.3`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Frollup-1.2.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a direct dependency of this p

[2019-02-23 14:55] julien51 commented on #1653
I think we're aligned: we do not "need" the user account until the user does a purchase. The right behavior is then to not complain to the user until they click on the purchase button.

The one exception is about retrieving keys on the paywall app where we *ideally* need to know the account before the user does anything. I think that indeed using the localStorage value is a good temporary fix (unt

[2019-02-23 14:58] julien51 commented on #1652
I am not sure what you mean here?

If you want to experiment, go ahead but please time box it!

[2019-02-23 14:59] julien51 commented on #1612
*shakes fist at greenkeeper*

[2019-02-23 15:01] julien51 commented on #1530
:(

[2019-02-23 15:03] julien51 commented on #1617
Pointing to https://github.com/unlock-protocol/unlock/issues/1449 as part of this issue ;)

[2019-02-23 15:04] julien51 commented on #1447
Can I suggest consistency > convention > configuration ;)

[2019-02-23 15:07] julien51 commented on #1349
This is really the logic behind both `web3Service` and `web3Wallet` which are ways to "read" and "write" to smart contracts.

I would actually be in strong favor of writing a "code" npm module which implements the logic of these.

[2019-02-23 15:09] julien51 commented on #1398
Done ;) Closing!

[2019-02-23 15:09] #1398 closed

[2019-02-23 15:10] julien51 commented on #1249
Closing, because IO think the specific issues are fixed and https://github.com/unlock-protocol/unlock/issues/1403 will deal with the over-arching issue (how to handle large prices!)

[2019-02-23 15:10] #1249 closed

[2019-02-23 15:22] julien51 commented on #1203
`staticdemo` has been fixed for a little while.
A quick lookup did not show any issue so we can close this as soon as #1676 has been merged.

[2019-02-23 15:26] julien51 commented on #808
Same "realm" as https://github.com/unlock-protocol/unlock/issues/728

[2019-02-23 15:26] julien51 commented on #728
Same "realm" as https://github.com/unlock-protocol/unlock/issues/808

[2019-02-23 15:27] julien51 commented on #714
Closing in favor of https://github.com/unlock-protocol/unlock/issues/1399!

[2019-02-23 15:27] #714 closed

[2019-02-23 15:44] julien51 commented on #1203
Actually! I just found `mutationobserver`... so need to fix that too!

[2019-02-23 15:44] #1203 closed

[2019-02-23 15:47] akeem commented on #1651
I'm presenting #1677 as a point of discussion and a potential immediate solution as it meets our immediate needs while being a relatively small change will little to no impact on developer workflow

[2019-02-23 16:08] cellog commented on #1651
Great! I think this is what I was hoping existed

[2019-02-23 16:21] cellog opened #1678 "Track status.im wallet and general dev"
The ethereum work being done by https://status.im is very interesting. They currently have a wallet app in beta, it would be good if the paywall and dashboard all worked with it when it is released!

[2019-02-23 16:22] cellog commented on #1678
@julien51 can you set the labels? Mobile GitHub is minimal, can't do it on my phone

[2019-02-23 16:57] julien51 commented on #526
I think @cnasc is almost done with it!

[2019-02-23 17:00] julien51 commented on #38
Great job on this @hardlydifficult!
Please tell me more about `repo_token` ? What is it?

Also I think we should have a mechanism to "enforce" the levels. For example we set global coverage levels of coverage for statements, functions and lines which we slowly increase over time.
for starters we can set them at  93%, 92%  and 92% respectively?

[2019-02-23 17:15] julien51 commented on #630
Closing because the eslint rules have been added and the `unlock-app` is fully asserted ;)

[2019-02-23 17:15] #630 closed

[2019-02-23 17:24] cellog commented on #1652
Oops I meant paywall-friendly. I guess it autocorrected... I'll time box it

[2019-02-23 18:25] hardlydifficult commented on #1349
Yea an npm module for this wrapper code is exactly what we used on a previous project.  I guess the impact of this proposal is 1) create a clear separation for that logic and 2) start migrating the smart-contract tests to use it as well.

RE #2, I did a bit more research on the ZOS update last night.  One of the changes is they just upgraded to Web3 1.0 beta libs, which causes all our test code to

[2019-02-23 18:42] hardlydifficult opened #1681 "Allow Unlock owner to cancel a Lock"
**Is your feature request related to a problem? Please describe.**
Someday a scammer is going to create a Lock.  Maybe it unlocks nothing, or worse maybe they create Keys and try to sell them on a secondary market as if they were Keys to some other, valid Lock - it is easy for people to overlook addresses after all.

**Describe the solution you'd like**
Today the Unlock contract saves addresses of

[2019-02-23 19:34] hardlydifficult commented on #38
Per docs looks like we could use coveralls.io or codecov.io - I have experience with coveralls, but have heard that codecov is nicer.

When you create an account on one of those sites, there will be an environment variable we need to add in order to publish reports from Travis.  That's the `repo_token`, but codecov calls it the `UploadToken`.

Yea codecov looks great poking around the docs, e.g. t

[2019-02-23 19:40] hardlydifficult commented on #38
Ohhhh and this is sexy https://www.youtube.com/watch?v=j1eWBa3rWH8&feature=youtu.be&t=51

[2019-02-23 19:49] hardlydifficult commented on #38
hmm is this a one-click setup tool? https://github.com/integration/codecov

[2019-02-23 19:55] cellog commented on #1681
It seems to me that we now have this liability no matter what, as doing nothing could be considered negligence. We need to address this prior to instituting the secondary market I think. Good call!

[2019-02-23 20:00] hardlydifficult commented on #1681
From the front-end perspective, we could surface a warning based on this flag before allowing a new purchase... but still allow the user to proceed if they wish.

[2019-02-23 20:13] hardlydifficult commented on #1530
They are still working on documentation, so in interest of time I suggest we just wait until details are clarified.

[2019-02-23 20:27] hardlydifficult opened #1682 "One Lock, many content"
**Is your feature request related to a problem? Please describe.**
I'd like to charge per-article or per-category and today that means I need to create many Locks.  That's a fair amount of overhead... can we find a better way?

**Describe the solution you'd like**
Create one Lock and use the Key data field to identify the content of interest.  I suggest we do this with a new Lock type (an alternat

[2019-02-23 20:28] hardlydifficult commented on #831
I moved the per-content use case to a new issue: #1682

[2019-02-23 20:40] cellog commented on #1682
P.S. I'm not sure I'm in favor of this, it was casual dreaming, so I'm not willing to die on a hill for it ;). I like very much how you have fleshed this out and thought deeply about it, thanks for that Nick!

[2019-02-23 21:30] cellog commented on #1652
Here is the draft PR experiment showing what I had in mind: https://github.com/unlock-protocol/unlock/pull/1683

[2019-02-23 21:49] fulldecent opened #1684 ""we much decentralize the web""
The main graphic in README.md includes a typo.

Typos are a red-flag for projects that want my money.

[2019-02-23 21:55] fulldecent opened #1686 "Add www"
Please add the www project (https://unlock-protocol.com) to GitHub. This will allow me to open issues against it.

[2019-02-23 21:55] fulldecent commented on #1686
And PRs :-).

[2019-02-23 22:12] cellog commented on #1686
It is in the directory `unlock-app`. Thanks for your interest!

[2019-02-23 23:51] cnasc commented on #526
Yes, didn't think to check to see if there was an older issue than from our sprint. At this point an early iteration of the transaction log is in place, though there is no navigation linking to it.

[2019-02-24 22:02] julien51 commented on #1682
I think we eventually need to have an API to deploy locks in "batches" and make sure gas costs for deploying locks are consistently low (less than $1 is probably a good goal)...

But let's revisit this when this is actually a problem ;)

[2019-02-24 22:02] #1682 closed

[2019-02-24 22:05] julien51 commented on #1681
I think this is key. We should also remember that as much as we are "owners" of the Unlock contract right now we will eventually have a governance mechanism which makes sure that this kind of decision is taken by not a single entity (us or anyone else) but by the community of users (lock owners, token owners...?)

[2019-02-24 22:05] #1681 closed

[2019-02-24 22:06] #1686 closed

[2019-02-25 13:34] cnasc opened #1688 "Make transaction log reachable from navigation"
The log page is in the app, but nothing points to it yet!

This feature should implement the new header icons found in this Figma: https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-Dashboard?node-id=0%3A67

I think there was some question about the icons, @smombartz I assume the 2 new icons map as follows:

- Home icon -> Dashboard
- List icon -> Log page

Is that correct?

[2019-02-25 13:37] cnasc opened #1689 "Add message to log page to indicate there are no transactions"
In the same vein as #1250, the transaction log page needs a message to show that no transactions have taken place yet.

@smombartz can you cook up an icon to use in this message?

[2019-02-25 13:41] cnasc opened #1690 "Translate blockNumber to date/time"
For the transaction log (and perhaps other places in the app), we may want to show when a transaction occurred using a date rather than a block number. Ideally we'll do this in a somewhat efficient way, probably making use of localStorage so we don't make tons of repeated little requests every time we have a list of blockNumbers.

[2019-02-25 14:53] #1652 closed

[2019-02-25 15:44] julien51 commented on #1690
Given that we know the average block time and that the blocks are "Sequential" we can probably get good estimates by just getting a few block's actual mining time? (not sure the log needs the actual second-precise value?)

[2019-02-25 15:44] julien51 commented on #1684
Thanks @fulldecent! @benwerd is on it ;)

[2019-02-25 15:56] cnasc commented on #1690
It looks like average block time is somewhere around 20 seconds, I'd just be concerned about the possibility of drift over longer time intervals

[2019-02-25 16:50] cnasc opened #1691 "Blink the log icon when there are transactions in progress"
The log icon in the header should indicate/notify when there are transactions in progress. Presumably it should dismiss itself when the user views the log.

This depends on merging the new header icons.

[2019-02-25 17:14] nfurfaro commented on #831
RE "maybe we use a hash of a descriptive name":
This would not really allow one to retrieve the datatype though...only to confirm that it is indeed `keccak('ipfs')` or whatever. Whereas something like `uint public datatype = 1`, and then a mapping (off-chain) such as `1 = 'IPFS'` (or versioned, `1 = 'ipfs-v0.0.1'` allows discovery of the datatype, not just confirmation.

[2019-02-25 17:20] hardlydifficult commented on #831
The downside with the numbering system is if someone wanted to add a new use case, such as GunDB, it's not clear we could allow that without encountering collisions.  By using the hash, we'll never collide.  Yes you can only confirm a match, but that means the front-end only known how data is stored if it's in a format it understands... otherwise it does not matter since the front-end can't levera

[2019-02-25 17:23] hardlydifficult commented on #1348
@nfurfaro I think we can close this and simply track #1450 going forward.  Do you agree?

[2019-02-25 17:25] nfurfaro commented on #831
hmm. This is true. I suppose storing a `string` would give the benefits of both (with potentially higher gas cost than a bytes32 hash, but it's only 1 string per lock and can't really be abused as it's only the owner who would set it...)preventing collision and allowing for discovery. As you said, maybe the discovery here isn't at all critical though.

[2019-02-25 17:25] hardlydifficult commented on #1175
eta this week. Fingers crossed

[2019-02-25 17:33] nfurfaro commented on #831
So, the decision between using `bytes32` or `bytes` for the `data` field still needs to be made with Julien's input. I think everyone agrees that some sort of `datatype` or `dataLocation` field is needed here, and needs to be implemented regardless of how we appraoch the data field (unless an unbounded `bytes` is used and all data is stored on-chain). Also, it seems likely(though not certain) that

[2019-02-25 17:36] nfurfaro commented on #1348
Agreed.

[2019-02-25 17:36] #1348 closed

[2019-02-25 17:49] greenkeeper[bot] opened #1692 "An in-range update of eslint-plugin-react-hooks is breaking the build 🚨"
## The dependency [eslint-plugin-react-hooks](https://github.com/facebook/react) was updated from `1.2.0` to `1.3.0`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Feslint-plugin-react-hooks-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plu

[2019-02-25 18:12] cellog commented on #1692
yup, not a real failure, we should upgrade it

[2019-02-25 18:24] cnasc opened #1694 "Router in redux does not update when you change pages"
**Describe the bug**
The router in redux never updates after it is first set. So if you just load the root url, `pathname` will be `/`. Visiting any page after that, it stays on `/`.

**To Reproduce**
Steps to reproduce the behavior:
1. Load the app
2. Take note of the router state
3. Navigate elsewhere without actually reloading the page (that is, click a link, don't modify the url and hit enter)

[2019-02-25 18:38] cnasc commented on #1691
@smombartz any thoughts on the blink? Just a quick fade-in/fade-out of the blue background color? Or an indicator icon/border or something?

[2019-02-25 19:33] #1612 closed

[2019-02-25 20:30] hardlydifficult opened #1698 "Lock ABI NPM module not yet published"
**Describe the bug**
Our package `public-lock-abi-0` currently points to a generic security repo and not our code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.npmjs.com/package/public-lock-abi-0
2. Click on homepage

**Expected behavior**
Should point to our code, but instead points to a security message.

[2019-02-25 20:41] #1692 closed

[2019-02-25 20:44] benwerd opened #1699 "Pull Requests should be attached to an existing issue"
We should dissuade contributors (including ourselves) from sending PRs that aren't related to an existing issue. An issue should _always_ be filed first that explains the problem and motivation. The PR should then reference the issue number.

[2019-02-25 21:02] cellog opened #1701 "locksReducer and keysReducer mutate state"
**Describe the bug**
Line 64 of the locksReducer:

[code]

uses `Object.assign()` to put the update into the lock. However, this does not properly create new state, as `Object.assign()` returns the object being assigned to. Here is a verification script:

[code]

This probably has not surfaced because the locks are always loaded from an array, but if we ever were to create an element that relied u

[2019-02-25 21:08] cellog commented on #1701
same issue on line 59 of `keysReducer`:

[code]

[2019-02-26 14:14] cnasc commented on #1688
This is blocked until #1694 is fixed

[2019-02-26 14:32] cnasc opened #1704 "KEY_PURCHASE transactions should include the lock they're for"
**Is your feature request related to a problem? Please describe.**
Right now KEY_PURCHASE transactions don't indicate which lock they're for. This makes the transaction log page a little less useful.

**Describe the solution you'd like**
Include the target lock in the transaction in Redux.

[2019-02-26 15:41] cnasc commented on #1704
Actually, it looks like this information is included in the transaction, just not as immediately accessible. Will cook up a change to the transaction log to handle it.

[2019-02-26 17:27] akeem commented on #1690
closing as this code has shipped

[2019-02-26 17:27] #1690 closed

[2019-02-26 21:01] greenkeeper[bot] opened #1713 "An in-range update of openzeppelin-solidity is breaking the build 🚨"
## The dependency [openzeppelin-solidity](https://github.com/OpenZeppelin/zeppelin-solidity) was updated from `2.1.2` to `2.1.3`.

🚨 [View failing branch](https://github.com/unlock-protocol/unlock/compare/master...unlock-protocol:greenkeeper%2Fdefault%2Fopenzeppelin-solidity-2.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build fai

[2019-02-26 21:19] #1701 closed

[2019-02-26 21:52] cellog opened #1714 "remove the experimental hooks implementation from the paywall"
In order to prepare for the final split to the redux-based paywall, remove the hooks implementation from master.

[2019-02-26 21:58] smombartz commented on #1691
@cnasc i think its going to be hard to notice (especially since the icon will be gray – assuming it only makes sense to show the blinking when you're on the dashboard). how about something like this red dot that could fade in, fade out at 1s interval

![image](https://user-images.githubusercontent.com/1377389/53449411-b5b0c400-39e7-11e9-9608-3536ac73109e.png)

[2019-02-26 22:04] smombartz commented on #1689
@cnasc created a view here: https://www.figma.com/file/gmhVq6Pqeu2gH7e3FC2lr0ax/Unlock-Dashboard?node-id=476%3A7403

[2019-02-26 22:05] smombartz commented on #1688
yes correct! unless @julien51 still opposes the home icon thats good to go from my side.

[2019-02-26 22:25] cellog commented on #1694
Initial investigation uncovered an npm module named `connected-next-router` which is a side version of connected-react-router.

With this app, I saw the redux route change actions fired.
...however, on direct navigation to the dashboard, it did not properly detect the actual page.

I think the best solution is not to store our route information in redux at all. React Router is a "jealous" state ma

[2019-02-26 22:58] cellog commented on #1349
Can you describe what you would want from this wrapper? There are a couple of valid approaches. One would be what we have already in the web3Service and walletService, which is a very high-level abstraction. Another would be a very low-level abstraction which allows calling the contract functions with a thin layer over the web3 implementation. And, of course, some kind of hybrid.

What would look

[2019-02-26 23:00] cellog commented on #1688
You can use https://nextjs.org/docs/#using-a-higher-order-component to access the route information you need without waiting for #1694

[2019-02-26 23:17] cellog commented on #1533
closing, byebye hooks... for now

[2019-02-26 23:17] #1533 closed

[2019-02-26 23:18] cellog commented on #1447
this is a larger discussion about the future of the app. let's stick with styled-components for now

[2019-02-26 23:18] #1447 closed

[2019-02-26 23:25] cellog opened #1720 "Set up deployment for paywall sub-directory on netlify"
After #1649 is complete, we will need a place for those URLs to point to. The deployment scripts in `package.json` on the `paywall/` are all set up, and consistent with how `unlock-app` starts (build, start, etc.) so it just needs the deployment scripts to be updated properly and so on.

[2019-02-27 01:11] cnasc commented on #1688
Nice, looks like that's a lot easier than keeping Redux in sync with the router, which is dubiously necessary in the first place

[2019-02-27 02:34] #1586 closed

[2019-02-27 03:07] cellog opened #1731 "paywall unlock flag cannot access contentWindow unless origin is the same"
The paywall.min.js code tries to access contentWindow of its child iframe to set the body css, but this can only be done in the context of the child's domain. The solution is for the paywall to set its own body css on hiding of the iframe.

[2019-02-27 03:22] cellog opened #1732 "Split-off paywall is not yet functional"
After many changes and bugfixes over the past 2 weeks, the split off paywall is out of date and needs to be fixed up

[2019-02-27 13:05] cnasc commented on #1731
Good catch!

[2019-02-27 13:25] cnasc commented on #1691
Yeah, I think that's what makes most sense.

Red dot as a notifier works for me!

[2019-02-27 13:44] cnasc commented on #1688
Another question: when do these new navigation buttons show up? I think we do not want them on the homepage, since they would allow someone to bypass the terms of service. Same for the non-app pages? In other words, they should only show up on the dashboard or the transaction log?

[2019-02-27 14:01] cellog commented on #1688
That depends, and perhaps @benwerd can chime in here, but my understanding is that we don't need people to agree to terms unless they are creating locks. Viewing info is free, legally and financially.

If that's true it opens up the possibility of linking from the homepage

[2019-02-27 14:12] cnasc commented on #1694
Annoyingly difficult to mock `withRouter`

[2019-02-27 14:21] cellog opened #1734 "remove storageService from split-off paywall"
As the storageService is not yet used directly by the paywall, we can safely remove it to trim down the size slightly. If/when we start using it to retrieve information for display on the paywall, we can easily paste/share the code then.

[2019-02-27 14:26] #1734 closed

[2019-02-27 14:26] #1732 closed

[2019-02-27 14:32] cellog opened #1737 "locksmith package.json "test" needs to only run on .test.js files"
Currently, jest runs on all files in __tests__ but it should exclude helpers like `authorizationHeaders.js`

`    "test": "cross-env UNLOCK_ENV=test jest test.js --forceExit,`

[2019-02-27 14:51] cellog commented on #1737
closing in favor of better solution discussed offline

[2019-02-27 14:51] #1737 closed

[2019-02-27 14:54] cellog opened #1739 "in split-off paywall, Paywall component does not have any tests"
This is the most critical component, and it needs tests prior to making any changes. Some of the testing from `unlock-app` `pages/paywall.js` can be borrowed for this component.